<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row>
        {{animalForm.value.name}}
      </ion-row>
    </ion-title>

    <ion-buttons slot="end" >
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form class="sample-form validations-form" [formGroup]="animalForm" (ngSubmit)="onSubmit(animalForm.value)">
    <ion-list no-lines>
      <ion-item-sliding class="list-item" *ngFor="let item of animalForm.value.moves.sort(this.formatService.compare)">
      <ion-item no-padding (click)="openItem(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="">
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-25 class="schedule-date">
          <h2 class="list-big-number">{{item.activity_name}}</h2>
          <h3 class="schedule-month">{{item.date|date: 'dd/MM/yyyy'}}</h3>
          <h4 class="schedule-time">Costo: $ {{item.cost}}</h4>
        </ion-col>
        <ion-col no-padding width-35  >
          <ion-row no-padding>
            <ion-col class="item-content" style="white-space: normal;">
              {{item.name}}
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col no-padding width-40 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
          <h2 *ngIf="item.cost > 0" class="list-big-number" style="color: green;">{{item.animal| number:'1.0'}} ha</h2>
          <h2 *ngIf="item.cost <= 0" class="list-big-number" style="color: red;">{{item.animal| number:'1.0'}} ha</h2>
        </ion-col>
      </ion-row>
      </ion-card>
    </ion-item>

        <ion-item-options>
          <ion-item-option (click)="deleteAnimalMove(item)"
          *ngIf="!item.fixed">
            Borrar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

<ion-row style="height:15px;">
</ion-row>
</form>

<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="add-product-button">
<ion-fab-button (click)="addActivity()">
  <ion-icon name="add">
  </ion-icon>
</ion-fab-button>
</ion-fab>
</ion-content>
