<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="contact-list">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Todos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="client-list">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="supplier-list">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Proveedor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="seller-list">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Vendedor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="employee-list">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Empleados</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
