<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar Ayuda"
      [(ngModel)]="searchTerm"
      (ionChange)="setFilteredItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of helps">
      <ion-item no-padding >
        <ion-card class="list-card">
      <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-90 class="item-content" (click)="selectHelp(item)">
          <ion-row>
            <h3 class="item-title"><b>{{item.name}}</b></h3>
          </ion-row>
          <ion-row>
              <h3 class="item-title">Documento: {{item.document}}</h3>
          </ion-row>
          <ion-row>
              <h3 class="item-title">{{item.address}}</h3>
          </ion-row>
        </ion-col>
        <ion-col no-padding width-10 class="item-icon"  align-self-center style="text-align: center;">
          <ion-icon (click)="openHelp(item)" name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
    </ion-item>
      <ion-item-options>
        <ion-button icon-only color="primary" (click)="deleteHelp(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- <ion-fab bottom right> -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createHelp()" color="green">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
