// Common list styles can be found in "./common.styles/layouts/lists"
.state {
	background-color: green;
	-webkit-clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
	clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
	width: 100%;
	height: 95%;;
	color: white;
	font-weight: bold;
	font-size: 13px;
	display: flex;
}
.due {
	background-color: red;
	// background-color: white;
}
.confirmed {
	color: black;
  background-color: #fffc8b;
}
// h3.confirmed {
// 	color: black;
// 	// background-color: gray;
// }
.paid {
	color: black;
	background-color: #a6fe8b;
}
.cancel {
	color: black;
	background-color: #d1d9de;
}
.quotation {
	color: black;
	background-color: #7fc9ff;
}
[dir="ltr"] .item-md.item-block .item-inner {
  padding-right: 0px;
	padding-left: 0px;
}
[dir="ltr"] .card-md, [dir="rtl"] .card-md {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
	border-radius: 4px;
	background-color: white;
}
list-2-page {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.list-mini-content
	{
		background-color: color($colors, background, base);

		.list-mini
		{
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {
				.list-item
				{
					.content-row
					{
						.item-title{
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						&.one-line
						{
							align-items: center;

							.item-description
							{
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
	}
}
h3.schedule-month {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
}
h2.schedule-day
{
	font-size: 2.2rem;
	font-weight: 400;
}
h2.list-big-number
{
	font-size: 2.2rem;
	font-weight: 400;
}
h4.schedule-time
{
	font-size: 1.2rem;
	font-weight: 500;
}
