<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar Caja"
      [(ngModel)]="searchTerm"
      (ionChange)="setFilteredItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only
        *ngIf="user.admin"
        class="more-button"
              (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of cashList">
      <ion-item no-padding (click)="selectCash(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;">
          <ion-row no-padding class="content-row one-line" style="margin-left:0.3em">
            <h3 class="item-title"><b>{{ item.name }}</b></h3>
          </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-35  >
          <ion-row no-padding>
          </ion-row>
        </ion-col>
        <ion-col no-padding width-60 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
          <h2 class="list-big-number" style="color: green;">{{currencies[item.currency_id] && currencies[item.currency_id].symbol || currencies[company_currency_id].symbol}} {{item.balance| number:'1.'+currency_precision}}</h2>
          <h2 class="list-big-number" style="color: black;font-size:14px;" *ngIf="item.currency_id">{{currencies[company_currency_id].symbol}} {{item.balance*currencies[item.currency_id].sale_rate| number:'1.'+currency_precision}}</h2>
        </ion-col>
      </ion-row>
      </ion-card>

    </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteCash(item)"
        *ngIf="item.balance==0">
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-row style="height:15px;">
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed"
  *ngIf="user.admin">
      <ion-fab-button (click)="createCash()" color="primary">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
