<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/purchase-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'PURCHASE' | translate }}: {{purchaseForm.value.code}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="background: #2ad078;" (click)="buttonSave()"
      [hidden]="!purchaseForm.dirty">
        {{ 'SAVE' | translate }}
      </ion-button>
      <ion-button icon-only
              (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<ion-row>
    <ion-item
    no-padding
     class="summary-50">
      <h4 class="field-label">{{'TOTAL' | translate}}</h4>
      <h4 class="field-value" style="color:blue">$ {{purchaseForm.value.total|number:'1.0'}}</h4>
    </ion-item>

    <ion-item
    no-padding
     class="summary-50">
      <h4 class="field-label">{{'Pagar' | translate}}</h4>
      <h4 class="field-value" style="color:red">$ {{purchaseForm.value.residual|number:'1.0'}}</h4>
    </ion-item>
  </ion-row>
  <ion-row  class="state-header">
    <ion-col size="4">
      <div class="clicked arron">
        <span class="state-label">Presupuesto</span>
      </div>
    </ion-col>
    <ion-col size="4">
      <div [class.unclicked]="purchaseForm.value.state=='QUOTATION'" [class.clicked]="purchaseForm.value.state!='QUOTATION'" class="arrow">
        <span class="state-label">Confirmada</span>
      </div>
    </ion-col>
    <ion-col size="4">
      <div [class.unclicked]="purchaseForm.value.state!='PAID'" [class.clicked]="purchaseForm.value.state=='PAID'" class="arrow">
        <span class="state-label">Pagada</span>
      </div>
    </ion-col>
  </ion-row>



</ion-header>

<ion-content class="purchase-content" style="background-color: #ddd">

  <form class="sample-form validations-form" [formGroup]="purchaseForm" (ngSubmit)="onSubmit(purchaseForm.value)">
    <ion-row justify-content-center>
      <ion-item
      no-padding
      (click)="selectContact()"
       class="field-100">
        <h4 class="field-label">{{'SUPPLIER' | translate}}</h4>
        <h4 class="field-value">{{purchaseForm.value.contact && purchaseForm.value.contact.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
       no-padding
       (click)="selectPaymentCondition()"
       class="field-50">
        <h4 class="field-label">{{'Condición de Pago' | translate }}</h4>
        <h4 class="field-value">{{purchaseForm.value.paymentCondition && purchaseForm.value.paymentCondition.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item no-padding class="field-50">
        <h4 class="field-label">{{'DATE' | translate }}</h4>
        <ion-datetime class="field-50-datetime"
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        formControlName="date"
        [disabled]="purchaseForm.value.state!='QUOTATION'">
        </ion-datetime>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col width-50 class="item-content" *ngIf="purchaseForm.value.state != 'QUOTATION' && purchaseForm.value.amount_unInvoiced == purchaseForm.value.total">
        <ion-button class="print-invoice" (click)="addInvoice()">Registrar Factura</ion-button>
      </ion-col>
      <ion-col width-50 class="item-content" *ngIf="purchaseForm.value.state == 'CONFIRMED'">
        <ion-button class="print-invoice" (click)="beforeAddPayment()">Registrar Pago</ion-button>
      </ion-col>
      <ion-col width-50 class="item-content" *ngIf="purchaseForm.value.state == 'CONFIRMED' && ! purchaseForm.value.invoices.lenght && ! purchaseForm.value.payments.lenght">
        <ion-button class="print-invoice" (click)="purchaseCancel()">Cancelar</ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-list no-lines *ngIf="purchaseForm.value.invoices.length">
      <section>
      <h2 class="section-title">{{'INVOICE' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of purchaseForm.value.invoices">
        <ion-item (click)="openInvoice(item)" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row style="padding-top:10px; padding-bottom:10px;">
          <ion-col >
            <h4 class="field-label">{{'NUMBER' | translate}}</h4>
            <h4 class="field-value">{{item.code}}</h4>
          </ion-col>
          <ion-col >
            <h4 class="field-label">{{'TAX' | translate}}</h4>
            <h4 class="field-value">$ {{item.tax|number:'1.0'}}</h4>
          </ion-col>
          <ion-button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
      </ion-item-sliding>
    </section>
    </ion-list>
    <ion-list no-lines *ngIf="purchaseForm.value.payments.length">
      <section>
      <h2 class="section-title">{{'Recibos' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of purchaseForm.value.payments">
        <ion-item (click)="openPayment(item)" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row>
          <ion-col>
            <h2 class="item-title" *ngIf="item.state=='CONFIRMED'">Recibido</h2>
            <p class="item-description" rows="2">En {{item.date|date: 'dd/MM/yyyy'}}</p>
          </ion-col>
          <ion-col>
            <h4 class="field-label">{{'AMOUNT' | translate}}</h4>
            <h4 class="field-value">$ {{item.paid|number:'1.0'}}</h4>
          </ion-col>
          <ion-button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
        <ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list>



    <ion-list no-lines *ngIf="purchaseForm.value.items.length">
      <section>
      <h2 class="section-title">{{'Items de la Venta' | translate}}</h2>
      <ion-item-sliding  class="list-item" *ngFor="let item of purchaseForm.value.items">
        <ion-item  style="background-color: #ddd;">
          <ion-card class="list-card">
        <ion-row  class="content-row one-line">
          <ion-col  width-70 class="item-content" style="white-space: normal;">
            <ion-row (click)="openItem(item)" class="product-name-row">
              {{item.product && item.product.name}}
            </ion-row>
            <ion-row>
              <ion-col  width-50 class="item-content price-tag" (click)="editItemPrice(item)" >
                <span class="price-label">Precio:</span> ${{item.price|number:'1.0'}}
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>

            <ion-row>
              <ion-col  width-50 class="item-content">
                <h4 class="field-label">Subtotal</h4> ${{item.price*item.quantity|number:'1.0'}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col  width-30>
                <ion-button class="quantity-button" (click)="remItem(item)">-</ion-button>

              </ion-col>
              <ion-col (click)="editItemQuantity(item)"  width-40 class="item-content" style="text-align: center;top:4px;">
                {{item.quantity}}
              </ion-col>
              <ion-col  width-30>
                <ion-button class="quantity-button" (click)="sumItem(item)">+</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      </ion-item>
        <ion-item-options>
          <ion-button icon-only color="primary" (click)="deleteItem(item)" *ngIf="purchaseForm.value.state!='QUOTATIONs'">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list> -->
    <ion-list no-lines *ngIf="purchaseForm.value.invoices.length">
      <section>
      <h2 class="section-title">{{'INVOICE' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of purchaseForm.value.invoices">
        <ion-item (click)="openInvoice(item)" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row style="padding-top:10px; padding-bottom:10px;">
          <ion-col >
            <!-- <h2 class="item-title">Fatura: {{item.number}}</h2> -->
            <h4 class="field-label">{{'NUMBER' | translate}}</h4>
            <h4 class="field-value">{{item.name}}</h4>
          </ion-col>
          <ion-col >
            <!-- <h2 class="item-title">Fatura: {{item.number}}</h2> -->
            <h4 class="field-label">{{'TAX' | translate}}</h4>
            <h4 class="field-value">$ {{item.tax|number:'1.0'}}</h4>
          </ion-col>
          <ion-button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
      </ion-item-sliding>
    </section>
    </ion-list>


    <ion-list no-lines *ngIf="purchaseForm.value.payments.length">
      <section>
      <h2 class="section-title">{{'Recibos' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of purchaseForm.value.payments">
        <ion-item (click)="openPayment(item)" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row style="padding-top:10px; padding-bottom:10px;">
          <ion-col >
            <h4 class="field-label">{{'Fecha' | translate}}</h4>
            <h4 class="field-value">{{item.date|date: 'dd/MM/yyyy'}}</h4>
          </ion-col>
          <ion-col>
            <h4 class="field-label">{{'AMOUNT' | translate}}</h4>
            <h4 class="field-value">$ {{item.paid|number:'1.0'}}</h4>
          </ion-col>
          <ion-button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
        <ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list>

    <ion-list no-lines *ngIf="purchaseForm.value.items.length">
      <section>
      <h2 class="section-title">{{'Items de la Venta' | translate}}</h2>
      <ion-item-sliding  class="list-item" *ngFor="let item of purchaseForm.value.items">
        <ion-item style="width: 100%; margin-right: -5px;">
          <ion-card class="internal-card">
            <ion-row (click)="openItem(item)" class="product-name-row">
              {{item.product && item.product.name}}
            </ion-row>
        <ion-row>
          <ion-col size="6" style="white-space: normal;">
            <ion-row style="margin-top: -5px;">
              <ion-col  size="12" (click)="editItemPrice(item)" >
                <span class="price-label">Precio:</span>
                <div style="font-size: 15px;display: contents; color:red">
                   ${{item.price|number:'1.0'}}
                </div>

              </ion-col>
            </ion-row>
            <ion-row (click)="openItem(item)">
              <ion-col  size="12" class="item-content price-tag" (click)="editItemPrice(item)" >
                <span class="price-label">SubTotal:</span>
                <div style="font-size: 20px;color:green;">
                   ${{item.price*item.quantity|number:'1.0'}}
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">

            <ion-row>
              <ion-col style="text-align: center;">
                Cantidad
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-button class="quantity-button" (click)="remItem(item)">-</ion-button>
              </ion-col>
              <ion-col size="6" (click)="editItemQuantity(item)" style="text-align: center;font-size: 30px;">
                {{item.quantity}}
              </ion-col>
              <ion-col size="3">
                <ion-button class="quantity-button" (click)="sumItem(item)">+</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      </ion-item>
        <ion-item-options>
          <ion-button icon-only color="primary" (click)="deleteItem(item)" *ngIf="purchaseForm.value.state!='QUOTATIONs'">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list>

  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNextStep()">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="purchaseForm.value.state == 'QUOTATION'">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
