<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="this.navCtrl.navigateBack('/tabs/purchase-list')"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'PURCHASE' | translate }}: {{purchaseForm.value.code}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row  style="height:50px;">
    <ion-col>
      <h4 class="field-label-col">{{'TOTAL' | translate}}</h4>
      <h4 class="field-value-col" style="color:black;font-size: 13px;text-align: center;margin-top: 0.2rem;margin-bottom: 1rem;" *ngIf="purchase_currency_id != company_currency_id">{{company_currency_symbol}} {{purchaseForm.value.total*purchase_exchange_rate|number:'1.'+company_currency_precision+'-'+company_currency_precision}}</h4>
      <h4 class="field-value-col" style="color:blue">{{purchase_currency_symbol }} {{purchaseForm.value.total|number:'1.'+purchase_currency_precision+"-"+purchase_currency_precision}}</h4>
    </ion-col>
    <ion-col>
      <h4 class="field-label-col">{{'TO_PAY' | translate}}</h4>
      <h4 class="field-value-col" style="color:black;font-size: 13px;text-align: center;margin-top: 0.2rem;margin-bottom: 1rem;" *ngIf="purchase_currency_id != company_currency_id">{{ company_currency_symbol }} {{purchaseForm.value.residual*purchase_exchange_rate|number:'1.'+company_currency_precision+'-'+company_currency_precision}}</h4>
      <h4 class="field-value-col" style="color:red">{{purchase_currency_symbol}} {{purchaseForm.value.residual|number:'1.'+purchase_currency_precision+"-"+purchase_currency_precision}}</h4>
    </ion-col>
  </ion-row>
  <ion-row  class="state-header">
    <ion-col size="4">
      <div class="clicked arron">
        <span class="state-label">{{'STATE_QUOTATION'|translate}}</span>
      </div>
    </ion-col>
    <ion-col size="4">
      <div [class.unclicked]="purchaseForm.value.state=='QUOTATION'" [class.clicked]="purchaseForm.value.state!='QUOTATION'" class="arrow">
        <span class="state-label">{{'STATE_CONFIRMED'|translate}}</span>
      </div>
    </ion-col>
    <ion-col size="4">
      <div [class.unclicked]="purchaseForm.value.state!='PAID'" [class.clicked]="purchaseForm.value.state=='PAID'" class="arrow">
        <span class="state-label">{{'STATE_PAID'|translate}}</span>
      </div>
    </ion-col>
  </ion-row>





</ion-header>

<ion-content background="#ddd">
  <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit(purchaseForm.value)">
    <ion-row justify-content-center>
      <ion-item no-padding (click)="selectContact()" class="field-100">
        <h4 class="field-label">{{'SUPPLIER' | translate}}</h4>
        <h4 class="field-value">{{purchaseForm.value.contact && purchaseForm.value.contact.name || 'SELECT'|translate}}</h4>
      </ion-item>
      <ion-item no-padding (click)="selectPaymentCondition()" class="field-50">
        <h4 class="field-label">{{'PAYMENT_CONDITION' | translate }}</h4>
        <h4 class="field-value">{{purchaseForm.value.paymentCondition && purchaseForm.value.paymentCondition.name || 'SELECT'|translate}}</h4>
      </ion-item>
      <ion-item no-padding class="field-50">
        <h4 class="field-label">{{'DATE' | translate }}</h4>
        <ion-datetime class="field-50-datetime"
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        formControlName="date">
        </ion-datetime>
      </ion-item>
    </ion-row>
    <ion-row style="height: 60px;background: white;">
      <ion-col (click)="selectCurrency()">
        <h4 class="field-label-col">{{'CURRENCY' | translate }}</h4>
        <h4 class="field-value-col">{{purchaseForm.value.currency && purchaseForm.value.currency.name || 'SELECT'|translate}}</h4>
      </ion-col>
      <ion-col *ngIf="purchaseForm.value.currency && purchaseForm.value.currency.name">
        <ion-item style="--background: white;">
          <ion-label position="floating" style="font-size:14px">{{'EXCHANGE_RATE' | translate}}</ion-label>
          <ion-input #exchange_rate type="number" formControlName="exchange_rate" (ionChange)="recomputeValues()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="purchaseForm.value.state != 'QUOTATION' && purchaseForm.value.amount_unInvoiced == purchaseForm.value.total">
        <ion-button class="button-100" (click)="addInvoice()">{{ 'REGISTER_INVOICE'| translate}}</ion-button>
      </ion-col>
      <!-- <ion-col *ngIf="purchaseForm.value.state == 'CONFIRMED'">
        <ion-button class="button-100" (click)="beforeAddPayment()">Registrar Pago</ion-button>
      </ion-col> -->
      <!-- <ion-col size="12" *ngIf="purchaseForm.value.state == 'QUOTATION' && purchaseForm.value.items.length">
        <ion-button class="button-100" color="success" (click)="goNextStep()">Confirmar</ion-button>
      </ion-col> -->
      <ion-col size="12" *ngIf="purchaseForm.value.state == 'QUOTATION'">
        <ion-button class="button-100" (click)="addItem()">+ {{ 'ADD_ITEM'|translate}}</ion-button>
      </ion-col>
    </ion-row>

    <ion-list no-lines *ngIf="purchaseForm.value.invoices.length">
      <section>
      <h2 class="section-title">{{'INVOICE' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of purchaseForm.value.invoices">
        <ion-item (click)="openInvoice(item)"  style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row style="padding-top:10px; padding-bottom:10px;">
          <ion-col >
            <h4 class="field-label">{{'NUMBER' | translate}}</h4>
            <h4 class="field-value">{{item.number || item.code}}</h4>
          </ion-col>
          <ion-col >
            <h4 class="field-label">{{'TAX' | translate}}</h4>
            <h4 class="field-value">$ {{item.tax|number:'1.'+company_currency_precision}}</h4>
          </ion-col>
          <ion-button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
      </ion-item-sliding>
    </section>
    </ion-list>


    <ion-list no-lines *ngIf="purchaseForm.value.payments.length">
      <section>
      <h2 class="section-title">{{'RECEIPT' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of purchaseForm.value.payments">
        <ion-item  (click)="openPayment(item)" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row style="padding-top:10px; padding-bottom:10px;">
          <ion-col >
            <h4 class="field-label">{{'DATE' | translate}}</h4>
            <h4 class="field-value">{{item.date|date: 'dd/MM/yyyy'}}</h4>
          </ion-col>
          <ion-col>
            <h4 class="field-label">{{'AMOUNT' | translate}}</h4>
            <h4 class="field-value">$ {{item.paid|number:'1.'+company_currency_precision}}</h4>
          </ion-col>
          <ion-button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
        <ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list>

    <ion-list no-lines *ngIf="purchaseForm.value.items.length">
      <section>
      <h2 class="section-title">{{'PURCHASE_ITEMS' | translate}}</h2>
      <ion-item-sliding  class="list-item" *ngFor="let item of purchaseForm.value.items">
        <ion-item>
          <ion-card class="list-card">
            <ion-row (click)="openItem(item)" class="product-name-row">
              {{item.product && item.product.code}} - {{item.product && item.product.name}}
            </ion-row>
        <ion-row>
          <ion-col size="6" style="white-space: normal;">
            <ion-row style="margin-top: -5px;">
              <ion-col  size="12" (click)="editItemPrice(item)" >
                <span class="price-label">{{'PRICE'|translate}}:</span>
                <div style="font-size: 15px;display: contents; color:red">
                   {{ purchase_currency_symbol }} {{item.price|number:'1.'+purchase_currency_precision+"-"+purchase_currency_precision}}
                </div>
                <h4 class="field-value-col" style="color:black;font-size: 13px;text-align: left;margin-top: -0.2rem;margin-bottom: 1rem;" *ngIf="purchase_currency_id != company_currency_id">{{company_currency_symbol }} {{item.price*purchase_exchange_rate|number:'1.'+company_currency_precision+'-'+company_currency_precision}}</h4>

              </ion-col>
            </ion-row>
            <ion-row (click)="openItem(item)">
              <ion-col  size="12" class="item-content price-tag" (click)="editItemPrice(item)" >
                <span class="price-label">{{'SUBTOTAL'|translate}}:</span>
                <div style="font-size: 20px;color:green;">
                   {{ purchase_currency_symbol }} {{item.price*item.quantity|number:'1.'+purchase_currency_precision+"-"+purchase_currency_precision}}
                   <h4 class="field-value-col" style="color:black;font-size: 13px;text-align: left;margin-top: -0.2rem;margin-bottom: 1rem;" *ngIf="purchase_currency_id != company_currency_id">{{company_currency_symbol }} {{item.price*item.quantity*purchase_exchange_rate|number:'1.'+company_currency_precision+'-'+company_currency_precision}}</h4>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">

            <ion-row>
              <ion-col style="text-align: center;">
                {{'QUANTITY'|translate}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-button class="quantity-button" (click)="remItem(item)">-</ion-button>
              </ion-col>
              <ion-col size="6" (click)="editItemQuantity(item)" style="text-align: center;font-size: 20px;margin-top: 8px;">
                {{item.quantity}}
              </ion-col>
              <ion-col size="3">
                <ion-button class="quantity-button" (click)="sumItem(item)">+</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      </ion-item>
        <ion-item-options>
          <ion-item-option (click)="deleteItem(item)"
          *ngIf="purchaseForm.value.state=='QUOTATION'">
            {{'DELETE'|translate}}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list>
  </form>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="purchaseForm.value.state == 'QUOTATION' && purchaseForm.value.items.length">
    <ion-button (click)="goNextStep()"  class="next-button" color="primary">
      <ion-icon name="checkmark"> </ion-icon>
      {{'CONFIRM'|translate}}
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="purchaseForm.value.state == 'CONFIRMED'">
    <ion-button (click)="beforeAddPayment()"  class="next-button" color="primary">
      <ion-icon name="cash"> </ion-icon>
      {{'TO_PAY'|translate}}
    </ion-button>
  </ion-fab>
  <!-- <ion-col >
    <ion-button class="button-100" (click)="beforeAddPayment()">Registrar Pago</ion-button>
  </ion-col> -->
  <!-- <ion-col size="12" *ngIf="purchaseForm.value.state == 'QUOTATION' && purchaseForm.value.items.length">
    <ion-button class="button-100"  (click)="goNextStep()">Confirmar</ion-button>
  </ion-col> -->

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger" class="discard-button">
      <ion-icon name="backspace" *ngIf="purchaseForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!purchaseForm.dirty"> </ion-icon>
      <span *ngIf="purchaseForm.dirty">{{'DISCARD'|translate}}</span>
      <span *ngIf="!purchaseForm.dirty">{{'GO_BACK'|translate}}</span>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="purchaseForm.dirty">
    <ion-button (click)="buttonSave()"  color="success" class="save-button">
      <ion-icon name="save"> </ion-icon>
      {{'SAVE'|translate}}
    </ion-button>
  </ion-fab>
  <div style="height: 100px;">
  </div>
</ion-content>
