<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button> -->
    <ion-title>{{ 'CONTACT'| translate }}-{{salaryForm.value.code}}</ion-title>
    <ion-buttons slot="end" [hidden]="!salaryForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="salary-content">
  <form class="sample-form validations-form" [formGroup]="salaryForm"  (ngSubmit)="onSubmit(salaryForm.value)">
    <ion-row>
      <ion-item no-padding (click)="selectContact()" style="width: calc(100% - 0px);;background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <h4 class="sumary-label">{{'EMPLOYEE' | translate }}</h4>
        <h4 class="client-name">{{salaryForm.value.contact && salaryForm.value.contact.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item class="field-100">
        <ion-label position="floating" style="font-size:14px">{{'DESCRIPTION' | translate}}</ion-label>
        <ion-input #name type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-errors" style="width: 100%">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="salaryForm.get('name').hasError(validation.type) && (salaryForm.get('name').dirty || salaryForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item no-padding class="item-content" class="field-50">
        <ion-label position="floating" class="sumary-label">{{'DATE_START' | translate }}</ion-label>
        <ion-datetime class="sale-date" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" class="task-date" formControlName="date_start">
        </ion-datetime>
      </ion-item>
      <ion-item no-padding class="item-content" class="field-50">
        <ion-label position="floating" class="sumary-label">{{'DATE_END' | translate }}</ion-label>
        <ion-datetime class="sale-date" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" class="task-date" formControlName="date_end">
        </ion-datetime>
      </ion-item>
      <ion-item no-padding class="item-content" class="field-100">
        <ion-label position="floating" class="sumary-label">{{'DATE' | translate }}</ion-label>
        <ion-datetime class="sale-date" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" class="task-date" formControlName="date">
        </ion-datetime>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item style="background-color: #ddd" *ngIf="salaryForm.value.inputs.length > 0">
        <h2 class="section-title" style="color:#1c61f3;background: white;border: 1px solid;border-top-left-radius: 5px;border-top-right-radius: 5px;">{{ 'Lineas' | translate}}</h2>
        <ion-item-sliding class="list-item" *ngFor="let item of salaryForm.value.inputs; let i = index;">
          <ion-item (click)="openInput(item)" style="border: 1px solid #ddd;height: 50px;border-left: 1px solid #1c61f3;border-right: 1px solid #1c61f3;">
            <ion-row>
              <ion-col no-padding>
                <h4 class="sumary-label">Description</h4>
                <h4 class="user-name">{{item.name}}</h4>
              </ion-col>
              <ion-col no-padding>
                <h4 class="sumary-label">Monto</h4>
                <h4 class="user-name">{{item.amount}}</h4>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options>
            <ion-button icon-only color="primary" (click)="removeInput(item)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-row style="background: #1c61f3;border-radius: 7px;border: 1px solid #1c61f3; border-top-left-radius: 0px;border-top-right-radius: 0px;"
        (click)="addInput()">
          <a style="color:white;cursor: default;font-size:16px;margin-left: 32%;margin-top: 8px;margin-bottom: 8px;">
            Agregar Linea
          </a>
        </ion-row>
      </ion-item>

      <ion-item style="background-color: #ddd" *ngIf="salaryForm.value.inputs.length == 0">
        <ion-row style="background: #1c61f3;border-radius: 5px;border: 1px solid #1c61f3;"
        (click)="addInput()">
          <a style="color:white;cursor: default;font-size:16px;margin-left: 32%;margin-top: 8px;margin-bottom: 8px;">
            Agregar Linea
          </a>
        </ion-row>
      </ion-item>
      <ion-item
       no-padding
       style="border-left: 3px solid green;width: calc(100% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label position="floating" style="font-size:14px">{{'AMOUNT' | translate}}</ion-label>
        <ion-input type="number"
        #amount
        formControlName="amount"></ion-input>
      </ion-item>
      <ion-col width-100 class="item-content">
        <ion-button class="print-invoice" (click)="addPayment()">Registrar Pago</ion-button>
      </ion-col>
      <ion-col width-100>
        <ion-button class="print-confirm" (click)="printAndroid()">Imprimir</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-fab bottom center>
    <ion-fab-button (click)="goNextStep()" color="green">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-button>
  </ion-fab>

</ion-content>
