<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/cash-list"></ion-back-button> -->
      <ion-back-button (click)="this.navCtrl.navigateBack('/tabs/cash-list')"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar Cheque"
      [(ngModel)]="searchTerm"
      #searchbar
      (ionChange)="setFilteredItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of checks">
      <ion-item no-padding style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;">
          <ion-row>
            <ion-col (click)="selectCheck(item)">
              <ion-row>
                <ion-col>
                  <h3 class="item-title"><b>{{ item.name }}</b></h3>
                  <h3 class="item-title"><b>{{ item.state }}</b></h3>
                </ion-col>
              </ion-row>
             <ion-row no-padding class="content-row one-line">
                <ion-col no-padding class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
                  <h2 *ngIf="item.amount > 0" class="list-big-number" style="color: green;">$ {{item.amount| number:'1.'+currency_precision}}</h2>
                  <h2 *ngIf="item.amount <= 0" class="list-big-number" style="color: red;">$ {{item.amount| number:'1.'+currency_precision}}</h2>
                </ion-col>
              </ion-row>
            </ion-col>
            <!-- <ion-col size="2" class="open-item-col" (click)="openCheck(item)">
              <ion-icon name="open" class="open-item-arrow"></ion-icon>
            </ion-col> -->
          </ion-row>

      </ion-card>

    </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteCheck(item)"
        *ngIf="item.state=='QUOTATION'">
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-row style="height:15px;">
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createCheck()" color="primary">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
