<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      [placeholder]="'SEARCH_CONTRACT'|translate"
      [(ngModel)]="searchTerm"
      #searchbar
      (ionChange)="searchItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only
              (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row style="background-color: white;">
    <ion-col class="field-100">
      {{'TOTAL_QUANTITY' | translate }}
      <div class="cash-move-amount negative" style="text-align: center">
        <h2 class="list-big-number" style="color: blue;">{{quantity|number:'1.0-'+currency_precision}} ton</h2>
      </div>
    </ion-col>
    <ion-col width-50 class="field-100">
      {{'TOTAL_AMOUNT' | translate }}
      <div class="cash-move-amount positive" style="text-align: center">
        <h2 class="list-big-number" style="color: green;">$ {{amount|number:'1.0-'+currency_precision}}</h2>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let item of futureContracts" #slidingItem>
      <ion-item no-padding (tap)="selectFutureContract(item)" (press)="selectItem(item)">
        <ion-card class="list-card" style="padding-bottom: 0px;padding-top: 0px;" no-padding button="true" [class.selected]="item.selected">
          <ion-row [class.selected]="item.selected">
            <ion-col>
              <h3 class="item-name"><b>{{ item.contact_name || 'NOT_INFORMED'|translate}}</b></h3>
            </ion-col>
          </ion-row>
     <ion-row no-padding class="content-row one-line" [class.selected]="item.selected">
        <ion-col no-padding size="6">
          <h3 class="item-title" style="font-size:15px;">{{item.product_name | translate}}</h3>
          <!-- <h3 class="schedule-month" style="font-size:15px;margin-left: 5px">{{item.date_delivery|date: 'dd/MM/yyyy'}}</h3> -->
          <h3 style="font-size: 15px;font-weight: normal;margin-top:0;margin-bottom:0;">
            <span style="margin-left: 5px">{{item.code}}</span>
          </h3>
        </ion-col>
        <ion-col no-padding size="6" align-self-center>
          <h2 *ngIf="item.quantity > 0" class="list-big-number" style="color: blue;">{{item.quantity| number:'1.0-'+currency_precision}} ton</h2>
          <h2 *ngIf="item.price > 0" class="list-big-number" style="color: green;">$ {{item.price| number:'1.'+currency_precision}}</h2>
          <!-- <h2 *ngIf="item.total <= 0" class="list-big-number" style="color: red;">$ {{item.total| number:'1.'+currency_precision}}</h2> -->
          <!-- <h2 *ngIf="item.residual > 0" class="list-big-number" style="color: red;"> {{item.residual| number:'1.0'}}</h2> -->
          <!-- <div *ngIf="(item.delivered + item.settled -item.sold) > 0" class="residual-value">
            {{'TO_INVOICE'|translate}} $ {{ (item.delivered + item.settled -item.sold)*(item.price-item.cost) | number:'1.'+currency_precision }}
          </div>
          <div *ngIf="(item.quantity-item.delivered - item.settled ) > 0" class="residual-value">
          {{'TO_DELIVERY'| translate}} {{ item.quantity-item.delivered - item.settled| number:'1.0' }} ton
          </div> -->
          <!-- <div *ngIf="item.residual > 0 && item.state!='CANCELED'" class="residual-value">
            Entregue {{ item.delivered | number:'1.0' }}
          </div> -->
        </ion-col>
      </ion-row>
      <ion-row no-padding class="content-row one-line" *ngIf="item.note" style="border-top: 1px solid #72707047;">
        <ion-col class="item-content" style="white-space: normal;">
          {{item.note}}
        </ion-col>
      </ion-row>
      <ion-row no-padding *ngIf="!(item.state=='CONFIRMED' && (item.quantity == item.sold))">
        <ion-col no-padding class="list-tag"
        [class.quotation]="item.state=='QUOTATION'"
        [class.contracted]="item.state=='CONTRACTED'"
        [class.confirmed]="item.state=='CONFIRMED'"
        [class.paid]="item.state=='PAID'"
        [class.cancel]="item.state=='CANCELED'">
            {{ item.state | translate }}
        </ion-col>
      </ion-row>
      <ion-row no-padding *ngIf="(item.state=='CONFIRMED' && (item.quantity == item.sold))">
        <ion-col no-padding class="list-tag paid">
            {{ 'DONE' | translate }}
        </ion-col>
      </ion-row>
      </ion-card>

    </ion-item>
      <ion-item-options  side="end">
        <ion-item-option (click)="deleteFutureContract(slidingItem, item)"
        *ngIf="item.state=='QUOTATION'">
          {{'DELETE'|translate}}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-row style="height:15px;">
  </ion-row>
  <ion-row *ngIf="!futureContracts.length">
    <ion-col style="width:80%;margin-left:10%;margin-right:10%;margin-top: 0%;background: white;border-radius:10px;background: ">
      <ion-row>
        <ion-col>
          <h1>{{'NO_FUTURE_CONTRACT'|translate}}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4>{{'FIRST_FUTURE_CONTRACT'|translate}}</h4>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!selecting">
      <ion-fab-button (click)="createFutureContract()" color="primary">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="selecting">
    <ion-button (click)="createSale()"  class="next-button" color="primary">
      <ion-icon name="checkmark"> </ion-icon>
      {{'TO_SALE'|translate}}
    </ion-button>
  </ion-fab>
</ion-content>
