<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/works"></ion-back-button>
    </ion-buttons> -->
    <!-- <ion-searchbar
      placeholder="Buscar Processo"
      [(ngModel)]="searchTerm"
      (ionChange)="searchItems()">
    </ion-searchbar> -->
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of processList">
      <ion-item no-padding >
    <ion-card  class="list-card" style="">
      <ion-row>
        <ion-col (click)="selectProcess(item)">
          <ion-row>
            <ion-col>
              <h3 class="item-title"><b>{{ item.name }}</b></h3>
            </ion-col>
          </ion-row>
          <!-- <ion-row no-padding class="content-row one-line">
            <ion-col class="item-content" style="white-space: normal;">
              {{item.note}}
            </ion-col>
          </ion-row> -->
        </ion-col>
      </ion-row>
    </ion-card>
    </ion-item>
    </ion-item-sliding>
  </ion-list>
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>
