
ion-badge.tab-badge.badge.badge-md.badge-md-default {
    border-radius: 10px;
		background-color: #ff0000;
}
tabs-navigation {
	.tabbar
	{
		background: #48ad4c !important;
		border-top-color: darken(color($colors, tabs-navigation, base), 6%) !important;

		.tab-button
		{
			color: #fff;
    	font-weight: bold;
			.tab-button-icon
			{
				color:  #fff;
				margin-top: 0.15em !important;
			}
			.tab-button-text {
			    font-size: 12px;
			    margin-bottom: 0.15em !important;
			    display: block;
			}
		}

		.tab-button:hover:not(.disable-hover),
		.tab-button[aria-selected=true]
		{
			font-size: 12px;
		  color: #fff;
			background: #367b30;
			.tab-button-icon
			{
				color: #fff;
			}
		}
	}
}
