// Common list styles can be found in "./common.styles/layouts/lists"
.positive {
	color: green;
}

.negative {
	color: red;
}

.confirmed {
	color: black;
}
h2.cash-move-amount.positive {
	color: green;
}
h2.cash-move-amount.negative {
	color: red;
}
.cash-move-amount
{
	font-size: 2.5rem;
	font-weight: 400;
}

h3.cash-move-account
{
	font-size: 1.3rem;
	// font-weight: 400;
	font-weight: bold;
}
h3.cash-move-cash
{
	font-size: 1.3rem;
	// font-weight: 400;
	// font-weight: bold;
}

h3.cash-move-name
{
	font-size: 1rem;
	// font-weight: 400;
	// font-weight: bold;
}

list-2-page {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.list-mini-content
	{
		background-color: color($colors, background, base);

		.list-mini
		{
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {
				.list-item
				{
					.content-row
					{
						.item-title{
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						&.one-line
						{
							align-items: center;

							.item-description
							{
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
	}
}
