<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button> -->
    <ion-title>
      {{ 'PURCHASE' | translate }}: {{purchaseForm.value.code}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="background: #2ad078;" (click)="buttonSave()"
      [hidden]="!purchaseForm.dirty">
        {{ 'SAVE' | translate }}
      </ion-button>
      <ion-button icon-only color="royal"
              (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <ion-col width-30>
        <button class="clicked">
          <span class="state-label">Presupuesto</span>
        </ion-button>
    </ion-col>
    <ion-col width-30>
      <button [class.unclicked]="purchaseForm.value.state=='QUOTATION'" [class.clicked]="purchaseForm.value.state!='QUOTATION'">
        <span class="state-label">Confirmada</span>
      </ion-button>
    </ion-col>
    <ion-col width-30>
      <button [class.unclicked]="purchaseForm.value.state!='PAID'" [class.clicked]="purchaseForm.value.state=='PAID'">
        <span class="state-label">Pagado</span>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col width-20 class="sumary-label" no-padding >
      <h4 class="sumary-label">{{'TOTAL' | translate }}</h4>
    </ion-col>
    <ion-col width-30 class="sumary-label" no-padding >
      <h4 class="sumary-value draft" style="text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">$ {{purchaseForm.value.total|number:'1.0'}}</h4>
    </ion-col>
    <ion-col width-20 class="sumary-label" no-padding >
        <h4 class="sumary-label">{{'Pagar' | translate }}</h4>
    </ion-col>
    <ion-col width-30 class="sumary-label" no-padding >
        <h4 class="sumary-value negative" style="text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">$ {{purchaseForm.value.residual|number:'1.0'}}</h4>
    </ion-col>
  </ion-row>



</ion-header>

<ion-content class="purchase-content" style="background-color: #ddd">

  <form class="sample-form validations-form" [formGroup]="purchaseForm" (ngSubmit)="onSubmit(purchaseForm.value)">
    <ion-row justify-content-center>
      <ion-item
      no-padding
      (click)="selectContact()"
       class="field-100">
        <h4 class="sumary-label">{{'SUPPLIER' | translate}}</h4>
        <h4 class="client-name">{{purchaseForm.value.contact && purchaseForm.value.contact.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
       no-padding
       (click)="selectPaymentCondition()"
       class="field-50">
        <h4 class="sumary-label">{{'Condición de Pago' | translate }}</h4>
        <h4 class="client-name">{{purchaseForm.value.paymentCondition && purchaseForm.value.paymentCondition.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item no-padding class="item-content"
      class="field-50">
      <!-- <ion-col no-padding> -->
        <!-- <ion-label>{{'DATE' | translate }}</ion-label> -->
        <ion-label position="floating" class="sumary-label">{{'DATE' | translate }}</ion-label>
        <ion-datetime class="purchase-date"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
          class="task-date"
          formControlName="date"
          [disabled]="purchaseForm.value.state!='QUOTATION'">
        </ion-datetime>
      <!-- </ion-col> -->
    </ion-item>
    </ion-row>

    <ion-row>
      <!-- <ion-col class="item-content" *ngIf="purchaseForm.value.state == 'QUOTATION'">
        <ion-button class="print-invoice" (click)="addItem()">(+) Agregar Item</ion-button>
      </ion-col> -->
      <!-- <ion-col class="item-content" *ngIf="purchaseForm.value.state == 'QUOTATION' && purchaseForm.value.items.length">
        <ion-button class="print-invoice" style="background-color: #278c2c" (click)="confirmPurchase()">Confirmar</ion-button>
      </ion-col> -->
      <ion-col width-50 class="item-content" *ngIf="purchaseForm.value.state != 'QUOTATION' && purchaseForm.value.amount_unInvoiced == purchaseForm.value.total">
        <ion-button class="print-invoice" (click)="addInvoice()">Registrar Factura</ion-button>
      </ion-col>
      <ion-col width-50 class="item-content" *ngIf="purchaseForm.value.state == 'CONFIRMED'">
        <ion-button class="print-invoice" (click)="beforeAddPayment()">Registrar Pago</ion-button>
      </ion-col>
      <!-- <ion-col *ngIf="purchaseForm.value.state != 'QUOTATION'">
        <ion-button class="print-confirm" (click)="print()">Imprimir Venta</ion-button>
      </ion-col> -->
      <ion-col width-50 class="item-content" *ngIf="purchaseForm.value.state == 'CONFIRMED' && ! purchaseForm.value.invoices.lenght && ! purchaseForm.value.payments.lenght">
        <ion-button class="print-invoice" (click)="purchaseCancel()">Cancelar</ion-button>
      </ion-col>
    </ion-row>
    <ion-list no-lines *ngIf="purchaseForm.value.invoices.length">
      <section>
      <h2 class="section-title">{{'INVOICE' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of purchaseForm.value.invoices">
        <ion-item (click)="openInvoice(item)" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row style="padding-top:10px; padding-bottom:10px;">
          <ion-col >
            <!-- <h2 class="item-title">Fatura: {{item.number}}</h2> -->
            <h4 class="sumary-label">{{'NUMBER' | translate}}</h4>
            <h4 class="client-name">{{item.code}}</h4>
          </ion-col>
          <ion-col >
            <!-- <h2 class="item-title">Fatura: {{item.number}}</h2> -->
            <h4 class="sumary-label">{{'TAX' | translate}}</h4>
            <h4 class="client-name">$ {{item.tax|number:'1.0'}}</h4>
          </ion-col>
          <button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
      </ion-item-sliding>
    </section>
    </ion-list>
    <ion-list no-lines *ngIf="purchaseForm.value.payments.length">
      <section>
      <h2 class="section-title">{{'Recibos' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of purchaseForm.value.payments">
        <ion-item (click)="openPayment(item)" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row>
          <ion-col>
            <h2 class="item-title" *ngIf="item.state=='CONFIRMED'">Recibido</h2>
            <p class="item-description" rows="2">En {{item.date.toString().split('T')[0]}}</p>
          </ion-col>
          <ion-col>
            <!-- <h2 class="item-title">Monto: ${{item.paid}}</h2> -->
            <h4 class="sumary-label">{{'AMOUNT' | translate}}</h4>
            <h4 class="client-name">$ {{item.paid|number:'1.0'}}</h4>
          </ion-col>
          <button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
        <ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list>


    <!-- <ion-list no-lines *ngIf="purchaseForm.value.planned.length">
      <section>
      <h2 class="section-title">{{'Asentos' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of purchaseForm.value.planned">
        <ion-item (click)="openPayment(item)" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row>
          <ion-col>
            <h2 class="item-title" *ngIf="item.state=='CONFIRMED'">Recibido</h2>
            <p class="item-description" rows="2">En {{item.date.toString().split('T')[0]}}</p>
          </ion-col>
          <ion-col>
            <h4 class="sumary-label">{{'AMOUNT' | translate}}</h4>
            <h4 class="client-name">$ {{item.amount|number:'1.0'}}</h4>
          </ion-col>
          </ion-row>
          </ion-card>
        </ion-item>
        <ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list> -->


    <ion-list no-lines *ngIf="purchaseForm.value.items.length">
      <section>
      <h2 class="section-title">{{'Items de la Venta' | translate}}</h2>
      <ion-item-sliding  class="list-item" *ngFor="let item of purchaseForm.value.items">
        <ion-item  style="background-color: #ddd;">
          <ion-card class="list-card">
        <ion-row  class="content-row one-line">
          <!-- <ion-col (click)="openItem(item)"  width-20 class="item-content">
            <preload-image   class="avatar-image" [ratio]="{h:1}" [src]="item.product.image"></preload-image>
          </ion-col> -->
          <ion-col  width-70 class="item-content" style="white-space: normal;">
            <ion-row (click)="openItem(item)" class="product-name-row">
              {{item.product && item.product.name}}
            </ion-row>
            <ion-row>
              <ion-col  width-50 class="item-content price-tag" (click)="editItemPrice(item)" >
                <span class="price-label">Precio:</span> ${{item.price|number:'1.0'}}
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>

            <ion-row>
              <ion-col  width-50 class="item-content">
                <h4 class="sumary-label">Subtotal</h4> ${{item.price*item.quantity|number:'1.0'}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col  width-30>
                <button class="quantity-button" (click)="remItem(item)">-</ion-button>

              </ion-col>
              <ion-col (click)="editItemQuantity(item)"  width-40 class="item-content" style="text-align: center;top:4px;">
                {{item.quantity}}
              </ion-col>
              <ion-col  width-30>
                <button class="quantity-button" (click)="sumItem(item)">+</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      </ion-item>
        <ion-item-options>
          <ion-button icon-only color="primary" (click)="deleteItem(item)" *ngIf="purchaseForm.value.state!='QUOTATIONs'">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list>
  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNextStep()" color="green">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-button>
  </ion-fab>
  <ion-fab bottom right *ngIf="purchaseForm.value.state == 'QUOTATION'">
    <ion-fab-button (click)="addItem()" color="green">
      <ion-icon name="add">
      </ion-icon>
    </ion-button>
  </ion-fab>
</ion-content>
