<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{dashboardForm.value.code}}</ion-title>
    <ion-buttons slot="end" [hidden]="!dashboardForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-content">
  <form class="sample-form validations-form" [formGroup]="dashboardForm"  (ngSubmit)="onSubmit(dashboardForm.value)">
    <ion-row>
      <ion-item class="field-100">
        <ion-label position="floating" style="font-size:14px">{{'NAME' | translate}}</ion-label>
        <ion-input #name type="text" formControlName="name"></ion-input>
      </ion-item>
      <!-- <ion-item
       no-padding
       style="border-left: 3px solid green;width: calc(100% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label position="floating" style="font-size:14px">{{'VIEW' | translate}}</ion-label>
        <ion-input type="text"
        #view
        formControlName="view"></ion-input>
      </ion-item> -->
      <ion-item
      no-padding

      class="field-100">
        <ion-label>{{'Vista' | translate}}</ion-label>
        <ion-select #view formControlName="view"
          (ionChange)="getReport()"
          cancelText="{{ 'CANCEL' | translate }}"
          okText="{{ 'OK' | translate }}">
          <ion-select-option [value]="item" *ngFor="let item of viewList">{{item.split("/")[1]}}</ion-select-option>
        </ion-select>
      </ion-item>

        <ion-row style="margin-top: 5px;width: calc(100% - 0px);background: #1c61f3;border-radius: 5px;border: 1px solid #1c61f3;"
        (click)="addFilter()">
          <a style="color:white;cursor: default;font-size:16px;margin-left: 32%;margin-top: 8px;margin-bottom: 8px;">
            + Agregar Filtro
          </a>
        </ion-row>
        <ion-row style="width: 100%;">
          <ion-list style="width: calc(100% - 0px)">
            <ion-item-sliding class="list-item" *ngFor="let item of dashboardForm.value.filters; let i = index;">
              <ion-item (click)="openFilter(item)" style="border: 1px solid #ddd;height: 50px;border-left: 1px solid #1c61f3;border-right: 1px solid #1c61f3;">
                <ion-row>
                  <ion-col no-padding>
                    <h4 class="field-label">Campo</h4>
                    <h4 class="user-name">{{item.field}}</h4>
                  </ion-col>
                  <ion-col no-padding>
                    <h4 class="user-name" style="margin-top: 18px;text-align: center;">{{item.comparation}}</h4>
                  </ion-col>
                  <ion-col no-padding>
                    <h4 class="field-label">Valor</h4>
                    <h4 class="user-name">{{item.value}}</h4>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item-options>
                <ion-button icon-only color="primary" (click)="deleteFilter(item)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-row>
        <ion-item
        no-padding
        class="field-50">
          <ion-label>{{'Agrupación' | translate}}</ion-label>
          <ion-select #groupBy formControlName="groupBy"
            (ionChange)="getReport()"
            cancelText="{{ 'CANCEL' | translate }}"
            okText="{{ 'OK' | translate }}">
            <ion-select-option [value]="item" *ngFor="let item of fields">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item
        no-padding
        class="field-50">
          <ion-label>{{'Agrupación' | translate}}</ion-label>
          <ion-select #groupBy formControlName="sortBy"
            (ionChange)="getReport()"
            cancelText="{{ 'CANCEL' | translate }}"
            okText="{{ 'OK' | translate }}">
            <ion-select-option value="value_decrease">Valor Decreciente</ion-select-option>
            <ion-select-option value="value_increase">Valor Creciente</ion-select-option>
            <ion-select-option value="key_increase">Nombre Alfabetico</ion-select-option>
            <ion-select-option value="key_decrease">Nombre Invertido</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          Total: {{value| number:'1.0'}}
        </ion-col>
      </ion-row>

      <ion-segment formControlName="section" class="cash-segment" (ionChange)="changeSection()">
        <ion-segment-button value="table">
          Tabla
        </ion-segment-button>
        <ion-segment-button value="bar">
          Barras
        </ion-segment-button>
        <ion-segment-button value="pie">
          Torta
        </ion-segment-button>
        <ion-segment-button value="line">
          Lineas
        </ion-segment-button>
      </ion-segment>


      <div [ngSwitch]="dashboardForm.value.section" class="forms-wrapper">
        <div *ngSwitchCase="'table'" class="post-example-view">
          <ion-item style="background-color: #ddd">
            <ion-item-sliding class="list-item" *ngFor="let item of list; let i = index;">
              <ion-item style="border: 1px solid #ddd;height: 50px;border-left: 1px solid #1c61f3;border-right: 1px solid #1c61f3;">
                <ion-row>
                  <ion-col no-padding>
                    <h4 class="field-label">Key</h4>
                    <h4 class="user-name">{{item.key}}</h4>
                  </ion-col>
                  <ion-col no-padding>
                    <h4 class="field-label">Value</h4>
                    <h4 class="user-name">{{item.value| number:'1.0'}}</h4>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-item-sliding>
          </ion-item>
        </div>
        <div *ngSwitchCase="'bar'" class="post-example-view">
          <ion-card class="list-card" style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;">
            <ion-scroll scrollX="true" style="height:300px">
              <div id="barChart" style="margin-bottom: 2%;margin-top: 1%;width:420px;height: 472px;">
              </div>
            </ion-scroll>
          </ion-card>
        </div>
        <div *ngSwitchCase="'pie'" class="post-example-view">
          <ion-card class="list-card" style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;">
            <!-- <ion-row>
              <ion-col style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
                Ventas por Producto
              </ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col>
                <div id="chart" style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;height:200px"></div>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>
        <div *ngSwitchCase="'line'" class="post-example-view">
          <ion-card class="list-card" style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;">
            <ion-row>
              <ion-col>
                <div id='tooltip' style="display: none"></div>
                <svg width='320' height='260' id="svg"></svg>
              </ion-col>
            </ion-row>
          </ion-card>
        </div>


</div>





  </form>
  <div style="height:50px;">

  </div>


  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNextStep()">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-button>
  </ion-fab> -->

</ion-content>
