<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/config"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'INVOICE' | translate }}</ion-title>
    <!-- <ion-buttons slot="end" [hidden]="!ticketForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="check-content">
  <form class="sample-form validations-form" [formGroup]="ticketForm">
    <section class="form-section">
        <h2 class="section-title" style="margin-top: 10px;">{{'Presupuesto' | translate}}</h2>
        <ion-row>
          <ion-item class="field-100">
            <ion-label position="floating">{{'Letras por linea' | translate}}</ion-label>
            <ion-input type="number" formControlName="paperWidth"></ion-input>
          </ion-item>
          <ion-item class="field-100">
            <ion-label position="floating">{{'Lineas de Margin Inferior' | translate}}</ion-label>
            <ion-input type="number" formControlName="marginBottom"></ion-input>
          </ion-item>
          <ion-item  class="field-100">
            <ion-label position="stacked">{{ 'Comentario en Presupuesto' | translate }}</ion-label>
            <ion-textarea #clrequest formControlName="ticketComment"
              rows="3">
            </ion-textarea>
          </ion-item>
          <ion-item
           no-padding
           class="field-100">
             <ion-label>{{'Exibir Firma del Vendedor' | translate}}</ion-label>
             <ion-toggle formControlName="showSignSeller"></ion-toggle>
          </ion-item>
          <ion-item
           no-padding
           class="field-100">
             <ion-label>{{'Exibir Firma del Cliente' | translate}}</ion-label>
             <ion-toggle formControlName="showSignClient"></ion-toggle>
          </ion-item>
        </ion-row>

        <h2 class="section-title" style="margin-top: 10px;">{{'Recibo' | translate}}</h2>
        <ion-row>
          <ion-item class="field-100">
            <ion-label position="floating">{{'Letras por linea' | translate}}</ion-label>
            <ion-input type="number" formControlName="receiptPaperWidth"></ion-input>
          </ion-item>
          <ion-item class="field-100">
            <ion-label position="floating">{{'Lineas de Margin Inferior' | translate}}</ion-label>
            <ion-input type="number" formControlName="receiptMarginBottom"></ion-input>
          </ion-item>
          <!-- <ion-item  class="field-100">
            <ion-label position="stacked">{{ 'Comentario en Presupuesto' | translate }}</ion-label>
            <ion-textarea #clrequest formControlName="receiptComment"
              rows="3">
            </ion-textarea>
          </ion-item> -->
          <ion-item
           no-padding
           class="field-100">
             <ion-label>{{'Exibir Firma del Cobrador' | translate}}</ion-label>
             <ion-toggle formControlName="showReceiptSignSeller"></ion-toggle>
          </ion-item>
          <ion-item
           no-padding
           class="field-100">
             <ion-label>{{'Exibir Firma del Cliente' | translate}}</ion-label>
             <ion-toggle formControlName="showReceiptSignClient"></ion-toggle>
          </ion-item>
        </ion-row>
    </section>
  </form>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger">
      <ion-icon name="backspace" *ngIf="ticketForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!ticketForm.dirty"> </ion-icon>
      <span *ngIf="ticketForm.dirty">Descartar</span>
      <span *ngIf="!ticketForm.dirty">Volver</span>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="ticketForm.dirty">
    <ion-button (click)="buttonSave()"  color="success">
      <ion-icon name="save"> </ion-icon>
      Guardar
    </ion-button>
  </ion-fab>
  <div style="height: 100px;">
  </div>
</ion-content>
