<ion-header>
  <ion-toolbar>
    <ion-title>{{'CASHIER_CLOSE'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="closeForm">
    <ion-row>
      <ion-item class="ion-no-padding field-50">
        <ion-label position="floating" style="font-size:14px">
          {{'REAL_AMOUNT' | translate}}
        </ion-label>
        <ion-input #input type="number" formControlName="amount_physical"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding field-50">
        <div class="field-many2one">
          <h4 class="field-label">
            {{'THEORETICAL_AMOUNT' | translate }}
          </h4>
          <h4 class="field-value" style="color: green;">
            {{closeForm.value.amount_theoretical|number:'1.'+currency_precision}}
          </h4>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding field-100">
        <div class="field-many2one">
          <h4 class="field-label">
            {{'CASH_DIFFERENCE' | translate }}
          </h4>
          <h4 class="field-value" style="color: green;" *ngIf="closeForm.value.amount_physical - closeForm.value.amount_theoretical > 0">
            +{{closeForm.value.amount_physical - closeForm.value.amount_theoretical|number:'1.'+currency_precision}}
          </h4>
          <h4 class="field-value" style="color: red;" *ngIf="closeForm.value.amount_physical - closeForm.value.amount_theoretical <= 0">
            {{closeForm.value.amount_physical - closeForm.value.amount_theoretical|number:'1.'+currency_precision}}
          </h4>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding field-50">
        <div class="field-many2one">
          <h4 class="field-label">
            {{'AMOUNT_RECEIVED' | translate }}
          </h4>
          <h4 class="field-value" style="color: green;">
            {{closeForm.value.amount_income|number:'1.'+currency_precision}}
          </h4>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding field-50">
        <div class="field-many2one">
          <h4 class="field-label">
            {{'AMOUNT_DELIVERED' | translate }}
          </h4>
          <h4 class="field-value" style="color: red;">
            {{closeForm.value.amount_expense|number:'1.'+currency_precision}}
          </h4>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding field-50">
        <div class="field-many2one">
          <h4 class="field-label">
            {{'START_AMOUNT' | translate }}
          </h4>
          <h4 class="field-value" style="color: green;">
            {{closeForm.value.amount_open|number:'1.'+currency_precision}}
          </h4>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding field-50">
        <div class="field-many2one">
          <h4 class="field-label">
            {{'VARIATION' | translate }}
          </h4>
          <h4 class="field-value" style="color: green;" *ngIf="(closeForm.value.amount_physical || 0)-closeForm.value.amount_open > 0">
            +{{(closeForm.value.amount_physical || 0)-closeForm.value.amount_open|number:'1.'+currency_precision}}
          </h4>
          <h4 class="field-value" style="color: red;" *ngIf="(closeForm.value.amount_physical || 0)-closeForm.value.amount_open <= 0">
            {{(closeForm.value.amount_physical || 0)-closeForm.value.amount_open|number:'1.'+currency_precision}}
          </h4>
        </div>
      </ion-item>

    </ion-row>
    <ion-row>
      <ion-col size="12" *ngIf="closeForm.value._id">
        <ion-button class="button-100" (click)="print()">
          <ion-icon name="print" style="margin-right:10px;"></ion-icon> {{'PRINT'|translate}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-list no-lines>
      <ion-item-sliding class="list-item" *ngFor="let item of closeForm.value.accountMoves && closeForm.value.accountMoves.sort(this.formatService.compare) || []">
        <ion-item class="ion-no-padding" (click)="openItem(item)" style="margin-bottom: 0px; margin-top:0px;">
          <ion-card class="list-card" style="border-radius: 5px;">
            <ion-row class="ion-no-padding content-row one-line">
              <ion-col class="ion-no-padding">
                <h3 class="item-title"><b>{{ item.contact_name }}</b></h3>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding content-row one-line">
              <ion-col class="ion-no-padding" class="schedule-date">
                <h3 class="schedule-month" style="font-size:15px;margin-left:5px">{{item.date|date: 'dd/MM/yyyy'}}</h3>
                <h3 class="item-title" style="font-size:15px;">{{item.date|date: 'HH:mm:SS'}}</h3>
              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col class="item-content" style="white-space: normal;">
                    {{item.name}}
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col class="ion-no-padding" class="item-icon" class="ion-align-self-center" style="text-align: right;margin-right: 1em;">
                <h2 *ngIf="item.accountFrom_id != cash_id" class="list-big-number" style="color: green;">$ {{item.amount| number:'1.'+currency_precision}}</h2>
                <h2 *ngIf="item.accountTo_id != cash_id" class="list-big-number" style="color: red;">$ {{item.amount| number:'1.'+currency_precision}}</h2>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding" [class.paid]="item.accountFrom_id != cash_id" [class.due]="item.accountFrom_id == _id">
              <ion-col *ngIf="item.accountFrom_id != cash_id" class="ion-no-padding" style="text-align: center;border-radius: 4px;">
                {{ item.accountFrom_name | translate}}
              </ion-col>
              <ion-col *ngIf="item.accountFrom_id != cash_id" class="ion-no-padding" size="2" class="item-icon">
                <ion-icon name="arrow-round-up" color="success"></ion-icon>
              </ion-col>
              <ion-col *ngIf="item.accountTo_id != cash_id" class="ion-no-padding" style="text-align: center;border-radius: 4px;">
                {{ item.accountTo_name | translate}}
              </ion-col>
              <ion-col *ngIf="item.accountTo_id != cash_id" class="ion-no-padding" size="2" class="item-icon">
                <ion-icon name="arrow-round-down"></ion-icon>
              </ion-col>
            </ion-row>

          </ion-card>
        </ion-item>

      </ion-item-sliding>
    </ion-list>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!closeForm.value._id">
    <ion-button (click)="closeConfirm()"  color="success">
      <ion-icon name="checkmark-circle-outline"> </ion-icon>
      {{'CONFIRM'|translate}}
    </ion-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger" class="discard-button">
      <ion-icon name="backspace" *ngIf="closeForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!closeForm.dirty"> </ion-icon>
      <span *ngIf="closeForm.dirty">{{'DISCARD'|translate}}</span>
      <span *ngIf="!closeForm.dirty">{{'GO_BACK'|translate}}</span>
    </ion-button>
  </ion-fab>

  <div style="height: 100px;">
  </div>
</ion-content>
