<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/check-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CHECK' | translate }}</ion-title>
    <!-- <ion-buttons slot="end" [hidden]="!checkForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="check-content">
  <form class="sample-form validations-form" [formGroup]="checkForm"  (ngSubmit)="onSubmit(checkForm.value)">
    <section class="form-section">
      <ion-row>
        <ion-item
         no-padding
         class="field-50">
          <ion-label position="floating">{{'CHECK_AMOUNT' | translate}}</ion-label>
          <ion-input #amount type="number"
          formControlName="amount"></ion-input>
        </ion-item>
        <ion-item class="field-50">
          <ion-label position="floating">{{'CHECK_NUMBER' | translate}}</ion-label>
          <ion-input #name type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item
         no-padding
         class="field-100">
           <ion-label>{{'Cheque Proprio' | translate}}</ion-label>
           <ion-toggle (ionChange)="changeMyCheck()" formControlName="my_check"></ion-toggle>
        </ion-item>
        <ion-item no-padding (click)="selectContact()" class="field-100" *ngIf="!checkForm.value.my_check">
          <h4 class="field-label">{{'CLIENT' | translate}}</h4>
          <h4 class="field-value">{{checkForm.value.contact && checkForm.value.contact.name || 'Selecionar'}}</h4>
        </ion-item>
        <ion-item (click)="selectBank()" class="field-100" *ngIf="checkForm.value.my_check">
          <!-- <div class="field-many2one"> -->
            <h4 class="field-label">{{'BANK' | translate}}</h4>
            <h4 class="field-value">{{checkForm.value.bank && checkForm.value.bank.name}}</h4>
          <!-- </div> -->
        </ion-item>
        <ion-item class="field-50" *ngIf="!checkForm.value.my_check">
          <ion-label position="floating">{{'OWNER_NAME' | translate}}</ion-label>
          <ion-input #owner_name type="text" formControlName="owner_name"></ion-input>
        </ion-item>
        <ion-item class="field-50" *ngIf="!checkForm.value.my_check">
          <ion-label position="floating">{{'OWNER_DOC' | translate}}</ion-label>
          <ion-input #owner_doc type="text" formControlName="owner_doc"></ion-input>
        </ion-item>
        <ion-item
         no-padding
         class="field-50" *ngIf="!checkForm.value.my_check">
          <ion-label position="floating">{{'Banco' | translate}}</ion-label>
          <ion-select formControlName="bank_name"
            interface="popover"
            cancelText="{{ 'CANCEL' | translate }}"
            okText="{{ 'OK' | translate }}">
            <ion-select-option value="itau">Banco Itau</ion-select-option>
            <ion-select-option value="regional">Banco Regional</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item no-padding class="item-content"
        class="field-50">
          <ion-label position="floating" class="field-label">{{'MATURITY_DATE' | translate }}</ion-label>
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            pickerFormat="DD/MM/YYYY"
            formControlName="maturity_date">
          </ion-datetime>
      </ion-item>
        <ion-item no-padding (click)="selectCurrency()" class="field-100">
          <h4 class="field-label">{{'CURRENCY' | translate}}</h4>
          <h4 class="field-value">{{checkForm.value.currency && checkForm.value.currency.name || 'Selecionar'}}</h4>
        </ion-item>
    </ion-row>
      <ion-item class="field-100">
        <ion-label position="floating">{{'NOTE' | translate}}</ion-label>
        <ion-textarea rows="3" formControlName="note"></ion-textarea>
      </ion-item>

    </section>
    <ion-button (click)="changeCheck()" color="success">
      <ion-icon name="print"> </ion-icon>
      Cheque Compensado
    </ion-button>
  </form>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="showNextButton()">
    <ion-button (click)="goNextStep()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      Proximo
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger">
      <ion-icon name="backspace" *ngIf="checkForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!checkForm.dirty"> </ion-icon>
      <span *ngIf="checkForm.dirty">Descartar</span>
      <span *ngIf="!checkForm.dirty">Volver</span>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="checkForm.dirty">
    <ion-button (click)="buttonSave()"  color="success">
      <ion-icon name="save"> </ion-icon>
      Guardar
    </ion-button>
  </ion-fab>
  <div style="height: 100px">
  </div>

</ion-content>
