<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/check-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CHECK_LIST' | translate }}</ion-title>
    <ion-buttons slot="end" [hidden]="!checkForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="check-content">
  <form class="sample-form validations-form" [formGroup]="checkForm"  (ngSubmit)="onSubmit(checkForm.value)">
    <section class="form-section">
      <ion-row>
        <ion-item
         no-padding
         class="field-50">
           <ion-label>{{'Cheque Proprio' | translate}}</ion-label>
           <ion-toggle (ionChange)="changeMyCheck()" formControlName="my_check"></ion-toggle>
        </ion-item>
        <ion-item no-padding (click)="selectContact()" class="field-100">
          <h4 class="field-label">{{'CLIENT' | translate}}</h4>
          <h4 class="field-value">{{checkForm.value.contact && checkForm.value.contact.name || 'Selecionar'}}</h4>
        </ion-item>
        <ion-col (click)="selectBank()">
          <h4 class="field-label">{{'BANK' | translate}}</h4>
          <h4 class="field-value">{{checkForm.value.bank && checkForm.value.bank.name}}</h4>
        </ion-col>
        <ion-item
         no-padding
         class="field-50">
          <ion-label>{{'Banco' | translate}}</ion-label>
          <ion-select formControlName="bank_name"
            cancelText="{{ 'CANCEL' | translate }}"
            okText="{{ 'OK' | translate }}">
            <ion-select-option value="itau">Banco Itau</ion-select-option>
            <ion-select-option value="regional">Banco Regional</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;">
          <ion-label position="floating" style="font-size:14px">{{'NUMBER' | translate}}</ion-label>
          <ion-input #name type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item
         no-padding
         class="field-50">
          <ion-label position="floating" style="font-size:14px">{{'AMOUNT' | translate}}</ion-label>
          <ion-input #amount type="number"
          formControlName="amount"></ion-input>
        </ion-item>
        <ion-item style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;">
          <ion-label position="floating" style="font-size:14px">{{'OWNER_NAME' | translate}}</ion-label>
          <ion-input #name type="text" formControlName="owner_name"></ion-input>
        </ion-item>
        <ion-item style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;">
          <ion-label position="floating" style="font-size:14px">{{'OWNER_DOC' | translate}}</ion-label>
          <ion-input #name type="text" formControlName="owner_doc"></ion-input>
        </ion-item>
        <ion-item no-padding (click)="selectCurrency()" class="field-50">
          <h4 class="field-label">{{'CURRENCY' | translate}}</h4>
          <h4 class="field-value">{{checkForm.value.currency && checkForm.value.currency.name || 'Selecionar'}}</h4>
        </ion-item>
        <ion-item no-padding (click)="selectReceipt()" class="field-50">
          <h4 class="field-label">{{'RECEIPT' | translate}}</h4>
          <h4 class="field-value">{{checkForm.value.receipt && checkForm.value.receipt.name || 'Selecionar'}}</h4>
        </ion-item>
    </ion-row>
      <ion-item>
        <ion-label position="floating">{{'NOTE' | translate}}</ion-label>
        <ion-textarea rows="3" formControlName="note"></ion-textarea>
      </ion-item>

    </section>

  </form>

</ion-content>
