<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ASSET' | translate }}</ion-title>
    <ion-buttons end [hidden]="!checkForm.dirty">
      <button ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="check-content">
  <form class="sample-form validations-form" [formGroup]="checkForm"  (ngSubmit)="onSubmit(checkForm.value)">
    <section class="form-section">
      <ion-row>
        <ion-item
         no-padding
         style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
           <ion-label>{{'Cheque Proprio' | translate}}</ion-label>
           <ion-toggle (ionChange)="changeMyCheck()" formControlName="my_check"></ion-toggle>
        </ion-item>
        <ion-item no-padding (click)="selectContact()" style="width: calc(100% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
          <h4 class="sumary-label">{{'CLIENT' | translate}}</h4>
          <h4 class="client-name">{{checkForm.value.contact && checkForm.value.contact.name || 'Selecionar'}}</h4>
        </ion-item>
        <ion-col (click)="selectBank()">
          <h4 class="sumary-label">{{'BANK' | translate}}</h4>
          <h4 class="client-name">{{checkForm.value.bank && checkForm.value.bank.name}}</h4>
        </ion-col>
        <ion-item
         no-padding
         style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
          <ion-label>{{'Banco' | translate}}</ion-label>
          <ion-select formControlName="bank_name"
            cancelText="{{ 'CANCEL' | translate }}"
            okText="{{ 'OK' | translate }}">
            <ion-option value="itau">Banco Itau</ion-option>
            <ion-option value="regional">Banco Regional</ion-option>
          </ion-select>
        </ion-item>
        <ion-item style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;">
          <ion-label floating style="font-size:14px">{{'NUMBER' | translate}}</ion-label>
          <ion-input #name type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item
         no-padding
         style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
          <ion-label floating style="font-size:14px">{{'AMOUNT' | translate}}</ion-label>
          <ion-input #amount type="number"
          formControlName="amount"></ion-input>
        </ion-item>
        <ion-item style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;">
          <ion-label floating style="font-size:14px">{{'OWNER_NAME' | translate}}</ion-label>
          <ion-input #name type="text" formControlName="owner_name"></ion-input>
        </ion-item>
        <ion-item style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;">
          <ion-label floating style="font-size:14px">{{'OWNER_DOC' | translate}}</ion-label>
          <ion-input #name type="text" formControlName="owner_doc"></ion-input>
        </ion-item>
        <ion-item no-padding (click)="selectCurrency()" style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
          <h4 class="sumary-label">{{'CURRENCY' | translate}}</h4>
          <h4 class="client-name">{{checkForm.value.currency && checkForm.value.currency.name || 'Selecionar'}}</h4>
        </ion-item>
        <ion-item no-padding (click)="selectReceipt()" style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
          <h4 class="sumary-label">{{'RECEIPT' | translate}}</h4>
          <h4 class="client-name">{{checkForm.value.receipt && checkForm.value.receipt.name || 'Selecionar'}}</h4>
        </ion-item>
    </ion-row>
      <!-- <ion-item>
        <ion-label floating>{{'NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="checkForm.get('name').hasError(validation.type) && (checkForm.get('name').dirty || checkForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label floating>{{'CODE' | translate}}</ion-label>
        <ion-input type="text" formControlName="code"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'VALUE' | translate}}</ion-label>
        <ion-input type="number" formControlName="value"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating *ngIf="this.checkForm.value.type=='MACHINE'">{{'HORIMETER' | translate}}</ion-label>
        <ion-label floating *ngIf="this.checkForm.value.type=='VEHICLE'">{{'HODOMETER' | translate}}</ion-label>
        <ion-label floating *ngIf="this.checkForm.value.type=='REAL_STATE'">{{'AREA' | translate}}</ion-label>
        <ion-input type="number" formControlName="meter"></ion-input>
      </ion-item> -->

      <!-- <ion-card
      class="sumary-label"
      no-padding
      (click)="selectCheck()"
      style="width: calc(50% - 20px);margin-bottom: 4%;margin-top: 1%;">
        <h4 class="sumary-label">{{'PROJECT' | translate}}</h4>
        <h4 class="client-name">{{checkForm.value.check && checkForm.value.check.name || 'Selecionar'}}</h4>
      </ion-card> -->
      <!-- <ion-item>
        <ion-label floating>{{'ATTRIBUTES' | translate}}</ion-label>
        <ion-input type="text" formControlName="attributes"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'EXPENSES' | translate}}</ion-label>
        <ion-input type="text" formControlName="expenses"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'CATEGORY' | translate}}</ion-label>
        <ion-input type="text" formControlName="category"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label floating>{{'NOTE' | translate}}</ion-label>
        <ion-textarea rows="3" formControlName="note"></ion-textarea>
      </ion-item>

    </section>

    <!--button ion-button full type="submit" [disabled]="!checkForm.valid">{{'SUBMIT' | translate}}</button-->
  </form>

</ion-content>
