<ion-header>

  <ion-toolbar>
    <ion-title>Foto</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="showEdit()">
        <ion-icon name="videocam"></ion-icon>
      </ion-button> -->
      <!-- <ion-button  (click)="showEdit()">
        <ion-icon name="more"></ion-icon>
      </ion-button> -->
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- <ion-item class="close-fake" lines="none" text-center> -->


    <!-- <ion-button (click)="zoom(true)" fill="clear" color="light">
      <ion-icon name="add" slot="start"></ion-icon>
      Zoom
    </ion-button>
    <ion-button (click)="zoom(false)" fill="clear" color="light">
      <ion-icon name="remove" slot="start"></ion-icon>
    </ion-button> -->
  <!-- </ion-item> -->

  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img [src]="img">
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
