<ion-header>

  <ion-toolbar style="--background: black;--color: white;">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>
      {{ name }}
      <h1 class="subtitle">
        {{ date|date: 'dd/MM/yyyy HH:mm' }}
      </h1>
    </ion-title> -->
    <ion-buttons slot="end">
      <!-- <ion-button (click)="showEdit()">
        <ion-icon name="videocam"></ion-icon>
      </ion-button> -->
      <!-- <ion-button  (click)="presentPopover($event)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- <ion-item class="close-fake" lines="none" text-center> -->


    <!-- <ion-button (click)="zoom(true)" fill="clear" color="light">
      <ion-icon name="add" slot="start"></ion-icon>
      Zoom
    </ion-button>
    <ion-button (click)="zoom(false)" fill="clear" color="light">
      <ion-icon name="remove" slot="start"></ion-icon>
    </ion-button> -->
  <!-- </ion-item> -->
  <!-- <ion-item style="display: none;">
    <ion-datetime #dateTime displayFormat="DD/MM/YYYY hh:mm" [(ngModel)]="date" (ionChange)="updatePictureDate()" doneText="{{'SAVE'|translate}}" cancelText="{{'CANCEL'|translate}}"></ion-datetime>
  </ion-item> -->

  <ion-slides [options]="sliderOpts" #slider style="background: black;">
    <ion-slide>
      <div class="swiper-zoom-container">
        <img [src]="img+'?'+time">
      </div>
    </ion-slide>
  </ion-slides>
  <!-- <ion-row style="padding-bottom:5px;padding-top: 5px;">
    <ion-col>
      {{ note }}
    </ion-col>
  </ion-row> -->

  <!-- <ion-fab vertical="top" style="left: 0px;right:0px;bottom: 0px;background: black; color: white;" vertical="bottom" horizontal="start" slot="fixed">
    <ion-row style="padding-bottom:5px;padding-top: 5px;">
      <ion-col>
        {{ note }}
      </ion-col>
    </ion-row>

  </ion-fab> -->

</ion-content>
