<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>{{ 'ACTIVITY_INFORMATION' | translate }}</ion-title>
    <ion-buttons slot="end" [hidden]="!activityForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/activitys"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ACTIVITY' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="activity-content">
  <form class="sample-form validations-form" [formGroup]="activityForm"  (ngSubmit)="onSubmit(activityForm.value)">
    <section class="form-section">
      <ion-item class="field-100">
        <ion-label position="floating">{{'NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="name" autocomplete='name'></ion-input>
      </ion-item>
      <!-- <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="activityForm.get('name').hasError(validation.type) && (activityForm.get('name').dirty || activityForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div> -->

      <!-- <ion-card class="list-card">
        <ion-row>
          <ion-col (click)="showFields()">
            <ion-icon name="arrow-dropdown"
            style="margin-left: 1rem;margin-top: 1rem;font-size: 3rem;color: #47ad4c;">
            </ion-icon>
          </ion-col>
          <ion-col width-40>
            <h4 class="section-title">{{'Campos' | translate}}</h4>
            <h4 class="field-value">$ {{activityForm.value.input_amount|number:'1.0'}}</h4>
          </ion-col>
          <ion-col width-40 class="item-content"> -->
          <ion-item>
            <ion-button class="button-100"
              (click)="addField()">
              Agregar Campo
            </ion-button>
          </ion-item>
          <!-- </ion-col>
        </ion-row>
      </ion-card> -->
        <ion-list *ngIf="activityForm.value.fields.length">
          <!-- <section> -->
          <!-- <h2 class="section-title">{{'MATERIALS' | translate}}</h2> -->
            <ion-item-sliding no-padding *ngFor="let item of activityForm.value.fields">
              <ion-item no-padding
                class="field-100"
               (click)="editField(item)">
                <!-- <ion-card class="list-card"> -->
              <ion-row style="width:100%">
                <!-- <ion-col no-padding width-40 style="white-space: normal;">
                  <h4 class="field-label">Titulo</h4>
                  <h4 class="user-name">{{item.label}}</h4>
                </ion-col> -->
                <!-- <ion-col no-padding width-15 style="white-space: normal;">
                  <h4 class="field-label">Sequencia</h4>
                  <h4 class="user-name">{{item.sequence}}</h4>
                </ion-col> -->
                <ion-col no-padding>
                  <h4 class="field-label"style="margin-top: 0px;">Nombre</h4>
                  <h4 class="user-name" style="margin-bottom: 0px;">{{item.name}}</h4>
                </ion-col>
                <ion-col no-padding>
                  <h4 class="field-label" style="margin-top: 0px;">Tipo</h4>
                  <h4 class="user-name" style="margin-bottom: 0px;">{{item.type}}</h4>
                </ion-col>
                <!-- <ion-col no-padding width-15 style="white-space: normal;">
                  <h4 class="field-label">SubTotal</h4>{{item.quantity*item.price}}
                </ion-col> -->
              </ion-row>
            <!-- </ion-card> -->
            </ion-item>
              <ion-item-options>
                <ion-button icon-only color="primary"
                 (click)="removeField(item)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item class="field-100">
              <ion-label position="floating">{{'NOTE' | translate}}</ion-label>
              <ion-textarea rows="2" formControlName="note"></ion-textarea>
            </ion-item>
        </ion-list>


    </section>

    <!--ion-button full type="submit" [disabled]="!activityForm.valid">{{'SUBMIT' | translate}}</ion-button-->
  </form>

</ion-content>
