<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sale-list"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      *ngIf="this.signal=='+'"
      placeholder="Buscar Contas a Cobrar"
      [(ngModel)]="searchTerm"
      #searchbar
      (ionInput)="setFilteredItems()">
    </ion-searchbar>
    <ion-searchbar
      *ngIf="this.signal=='-'"
      placeholder="Buscar Contas a Pagar"
      [(ngModel)]="searchTerm"
      #searchbar
      (ionInput)="setFilteredItems()">
    </ion-searchbar>
  </ion-toolbar>
  <ion-row justify-content-center>
    <ion-item
    *ngIf="this.contact_id != ''"
     no-padding
     class="field-100">
      <h4 class="field-label">{{'CLIENT' | translate}}</h4>
      <h4 class="field-value">{{this.contact && this.contact.name}}</h4>
    </ion-item>
  </ion-row>
  <ion-row style="background-color: white;">
    <ion-col class="field-100">
      {{'TOTAL' | translate }}
      <div class="cash-move-amount negative" style="text-align: center">
        $ {{amountTotal|number:'1.0'}}
      </div>
    </ion-col>
    <ion-col width-50 *ngIf="amountPaid" class="field-100">
      {{'TO_PAY' | translate }}
      <div class="cash-move-amount positive" style="text-align: center">
        $ {{amountPaid|number:'1.0'}}
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines *ngIf="contact_id!=''">
    <ion-item-sliding class="list-item" *ngFor="let item of plannedList">
      <ion-item no-padding (click)="informPayment(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;">
         <ion-row no-padding class="content-row one-line">
            <ion-col no-padding width-50 class="schedule-date" >
              <h2 class="schedule-month" style="color: #3562c1;"><b>{{item.doc && item.doc.name}}</b></h2>
              <h3 class="schedule-month">{{item.doc && item.doc.date| date: 'dd/MM/yyyy'}}</h3>
              <h3 class="schedule-month">{{item.doc && item.doc.dateDue| date: 'dd/MM/yyyy'}}</h3>
            </ion-col>
            <ion-col no-padding width-50 class="item-icon" align-self-center style="text-align: right;">
              <h2  class="list-big-number" style="color: green;">$ {{item.doc && item.doc.amount_residual| number:'1.0'}}</h2>
            </ion-col>
          </ion-row>
      <ion-row no-padding>
        <ion-col no-padding style="text-align: center;border-radius: 4px;" class="paid">
            {{item.doc && ( item.doc.accountFrom && item.doc.accountFrom.name || item.doc.accountTo && item.doc.accountTo.name) | translate}}
        </ion-col>
      </ion-row>
      </ion-card>
    </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list no-lines *ngIf="contact_id==''">
    <ion-item-sliding class="list-item" *ngFor="let item of plannedList">
      <ion-item no-padding (click)="showContact(item.contact)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;">
          <ion-row no-padding class="content-row one-line" style="margin-left:0.3em">
            <h3 class="item-title"><b>{{ item.contact && item.contact.name || 'Indefined' }}</b></h3>
          </ion-row>
         <ion-row no-padding class="content-row one-line">
            <ion-col no-padding width-30 >
              <h3 class="item-title" style="margin-left: 5px;">{{item.contact && item.contact.phone || ''}}</h3>
            </ion-col>
            <ion-col no-padding width-70 class="item-icon" align-self-center style="text-align: right;">
              <h2 class="list-big-number" style="color: red;margin-right:0.5em">$ {{item.value| number:'1.0'}}</h2>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-item>
    </ion-item-sliding>
  </ion-list>

  <div style="height:100px">
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="amountPaid">
      <ion-fab-button (click)="createPayment()" >
          <ion-icon name="cash">
          </ion-icon>
      </ion-fab-button>
      <div style="margin-left: -15px;margin-top: 3px;">
        Crear Recibo
      </div>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="contact_id==''&& signal=='+'">
      <ion-fab-button (click)="createReceivableMove()" >
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="contact_id!=''&& signal=='+'">
      <ion-fab-button (click)="createReceivableMove()" >
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="contact_id==''&& signal=='-'">
      <ion-fab-button (click)="createPayableMove()">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="contact_id!=''&& signal=='-'">
      <ion-fab-button (click)="createPayableMove()" >
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
