<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'PAYMENT_CONDITION' | translate }}</ion-title>
    <ion-buttons slot="end" [hidden]="!paymentConditionForm.dirty">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="paymentConditionForm" (ngSubmit)="onSubmit(paymentConditionForm.value)">
    <ion-row>
      <ion-item class="field-100">
        <ion-label position="floating">{{'NAME' | translate}}</ion-label>
        <ion-input type="text" #nameField formControlName="name" autocomplete='name'></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="paymentConditionForm.get('name').hasError(validation.type) && (paymentConditionForm.get('name').dirty || paymentConditionForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item class="field-100" no-padding (click)="selectAccountTo()">
        <h4 class="field-label">{{'Cuenta para Venta' | translate}}</h4>
        <h4 class="field-value">{{paymentConditionForm.value.accountTo && paymentConditionForm.value.accountTo.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item class="field-100" no-padding (click)="selectAccountFrom()">
        <h4 class="field-label">{{'Cuenta para Compra' | translate}}</h4>
        <h4 class="field-value">{{paymentConditionForm.value.accountFrom && paymentConditionForm.value.accountFrom.name || 'Selecionar'}}</h4>
      </ion-item>
    </ion-row>

    <ion-item no-padding class="field-100">
      <h4 class="field-label">{{'Fecha de Vencimiento' | translate }}</h4>
      <ion-datetime class="field-50-datetime"
      displayFormat="DD/MM/YYYY"
      pickerFormat="DD/MM/YYYY"
      formControlName="date_due"
      [max]="today.getFullYear()+5">
      </ion-datetime>
    </ion-item>

    <ion-button class="button-100" (click)="addItem()" *ngIf="!paymentConditionForm.value.date_due">
      <ion-icon name="add" style="margin-right:10px;"></ion-icon> Agregar Quota
    </ion-button>

    <ion-list *ngIf="!paymentConditionForm.value.date_due">
      <h2 class="section-title" *ngIf="paymentConditionForm.value.items.length">{{'Quotas' | translate}}</h2>
      <ion-item-sliding no-padding *ngFor="let item of paymentConditionForm.value.items">
        <ion-row>
          <ion-item no-padding (click)="editItem(item)" class="field-50">
            <h4 class="field-label">{{'Dias' | translate}}</h4>
            <h4 class="field-value">{{item.days}}</h4>
          </ion-item>
          <ion-item no-padding (click)="editItem(item)" class="field-50">
            <h4 class="field-label">{{'Porcentage' | translate}}</h4>
            <h4 class="field-value">{{item.percent}}</h4>
          </ion-item>
        </ion-row>
        <ion-item-options>
          <ion-item-option (click)="deleteItem(item)">
            {{ 'DELETE'| translate }}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="showNextButton()">
      <ion-button (click)="goNextStep()" class="next-button">
        <ion-icon name="fastforward"> </ion-icon>
        {{'NEXT'|translate}}
      </ion-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-button (click)="discard()" color="danger" class="discard-button">
        <ion-icon name="backspace" *ngIf="paymentConditionForm.dirty"> </ion-icon>
        <ion-icon name="arrow-back" *ngIf="!paymentConditionForm.dirty"> </ion-icon>
        <span *ngIf="paymentConditionForm.dirty">{{ 'DISCARD'| translate }}</span>
        <span *ngIf="!paymentConditionForm.dirty">{{ 'GO_BACK'| translate }}</span>
      </ion-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="paymentConditionForm.dirty">
      <ion-button (click)="buttonSave()" color="success" class="save-button">
        <ion-icon name="save"> </ion-icon>
        {{ 'SAVE'| translate }}
      </ion-button>
    </ion-fab>
    <div style="height: 100px;">
    </div>
  </form>

</ion-content>
