page-importer {
  .data-scroll {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .data-table {
        min-width: 800px;
    }
    .red-background {
      // background: red;
      color: red;
      background: yellow;
    }
    .green-background {
      // background: red;
      color: green;
      background: white;
    }
    .yellow-background {
      // background: red;
      color: green;
      background: yellow;
    }
    .clean-background {
      // background: red;
      color: black;
      background: white;
    }
}
