<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sale-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Importador
    </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button icon-only (click)="chooseFile()">
          <ion-icon name="paper"></ion-icon>
        </ion-button> -->
      <ion-button icon-only (click)="downloadCSV()">
          <ion-icon name="download"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <ion-scroll scrollX="true" scrollY="true" class="data-scroll"> -->
  <input type="file" class="upload" (change)="changeListener($event.target.files)">
    <!-- <ion-button (click)="chooseFile()">
      Selecionar Archivo
    </ion-button> -->
    <ion-row>
      <ion-button (click)="validate()" style="background: green;" *ngIf="csvData[page]">
        Validar
      </ion-button>
      <ion-button (click)="import()" style="background: red;" *ngIf="csvData[page]">
        Importar
      </ion-button>
      <ion-col>
        <ion-button (click)="previousPage()" style="background: red;" *ngIf="csvData[page]">
          Anterior
        </ion-button>
      </ion-col>
      <ion-col>
        {{ page }}
      </ion-col>
      <ion-col>
        <ion-button (click)="nextPage()" style="background: red;" *ngIf="csvData[page]">
          Proximo
        </ion-button>
      </ion-col>
    </ion-row>
    <table border="1" class="data-table">
      <tr>
        <td *ngFor="let header of headerRow" text-center><b>{{ header }}</b></td>
      </tr>
      <tr *ngFor="let row of csvData[page]; let i = index">
        <td *ngFor="let data of row; let j = index;"
        [class.red-background]="pageProperty[page][i][j] == 'red'"
        [class.green-background]="pageProperty[page][i][j] == 'green'"
        [class.yellow-background]="pageProperty[page][i][j] == 'yellow'"
        [class.clean-background]="pageProperty[page][i][j] == ''"
        (click)="editField(page, i, j)">
          <!-- <ion-input type="text" [(ngModel)]="csvData[page][i][j]"></ion-input> -->
          <!-- <ion-input *ngIf="activeField == [page,i,j]" type="text" [(ngModel)]="csvData[page][i][j]"></ion-input> -->
          <span >{{csvData[page][i][j]}}</span>
        </td>
      </tr>
    </table>
  <!-- </ion-scroll> -->
</ion-content>
<ion-footer *ngIf="errorMessage.length > 0" >
  <ion-toolbar color="primary" style="border: 1px solid red;">
    <h3 style="color: red;">Aviso</h3>
    <ion-row *ngFor="let message of errorMessage; let counter = index">
      <ion-col>{{counter+1+' - '+message}}</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
