<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="goPeriodBack()">
        <ion-icon name="arrow-round-back" style="">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-row justify-content-center class="headerstyle">
      <ion-col no-padding size="6">
        <ion-label>{{'Desde' | translate }}</ion-label>
        <ion-datetime class="sale-date" displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        (ionChange)="recomputeValues()"
        [(ngModel)]="reportsForm.value.dateStart">
        </ion-datetime>
      </ion-col>
      <ion-col no-padding size="6">
        <ion-label>{{'Hasta' | translate }}</ion-label>
        <ion-datetime class="sale-date"
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        (ionChange)="recomputeValues()"
        [(ngModel)]="reportsForm.value.dateEnd">
        </ion-datetime>
      </ion-col>
    </ion-row>
    <ion-buttons slot="end">
      <ion-button (click)="goPeriodForward()">
        <ion-icon name="arrow-round-forward" style="">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form class="sample-form validations-form" [formGroup]="reportsForm">
    <ion-list no-lines>
      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportResult()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            Resultados
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 15px;">
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Total de Ingresos' | translate}}</h4>
            <h4 class="field-value"
            style="color:green">$ {{resultIncome|number:'1.0-1'}}</h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Total de Despesas' | translate}}</h4>
            <h4 class="field-value"
            style="color:red">
              $ {{resultExpense|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Resultado Liquido' | translate}}</h4>
            <h4 class="field-value"
            style="color:green">
              $ {{resultIncome-resultExpense|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Margen de Lucro' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{100*(1 - resultExpense/resultIncome)|number:'1.0-1'}}%
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportSale()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            Ventas de Mercaderia
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'TOTAL' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{sold|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Al Contado' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{sale_cash|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'A Credito' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{sale_credit|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Ganancia' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{sale_margin|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Margem' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{sale_margin_percent|number:'1.0-1'}} %
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportService()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            Servicios Prestados
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'TOTAL' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{service_sold|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Al Contado' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{service_cash|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'A Credito' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{service_credit|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Ganancia' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{service_margin|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Margem' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{service_margin_percent|number:'1.0-1'}} %
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportService()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            Servicios
          </ion-col>
        </ion-row>
      </ion-card> -->



      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportCashFlow()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            Flujo de Caja
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 15px;">
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Total de Recibido' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{cashflowIncome|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Total de Pagado' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{cashflowExpense|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Resultado Liquido' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{cashflowIncome-cashflowExpense|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Rentabilidad' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{100*cashflowIncome/cashflowExpense|number:'1.0-1'}}%
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportPurchase()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            Compras
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'TOTAL' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{purchased|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Al Contado' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{purchase_cash|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'A Credito' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{purchase_credit|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportProduction()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            Producciones
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'Valor Estimado' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{produced|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Materiales Consumidos' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{production_material|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Mano de Obra Consumida' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{production_labour|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Costo de Producción' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{production_cost|number:'1.0-1'}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Valor Agregado' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{production_cost_percent|number:'1.0-1'}} %
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportToReceive()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            Cuentas a Cobrar
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 15px;">
          <ion-col no-padding class="report-100">
            <h4 class="field-label">{{'Total a Cobrar' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{toReceive|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportToPay()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            Cuentas a Pagar
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 15px;">
          <ion-col no-padding class="report-100">
            <h4 class="field-label">{{'Total a Pagar' | translate}}</h4>
            <h4 class="field-value" style="color:red; font-size:30px;">
              $ {{ToPay|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportAccounts()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            Plan de Cuentas
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportBalancete()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            Balancete
          </ion-col>
        </ion-row>
      </ion-card> -->
      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportBalance()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            Balance
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportProduction()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            Producciones
          </ion-col>
        </ion-row>
      </ion-card> -->



    </ion-list>
    <div style="height: 100px">
    </div>
  </form>
</ion-content>
