<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="goPeriodBack()">
        <ion-icon name="arrow-round-back" style="">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-row justify-content-center class="headerstyle">
      <ion-col no-padding size="6">
        <ion-label>{{'FROM' | translate }}</ion-label>
        <ion-datetime class="sale-date" displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY HH:mm:ss"
        (ionChange)="recomputeValues()"
        [(ngModel)]="reportsForm.value.dateStart"
        [max]="today.getFullYear()+5">
        </ion-datetime>
      </ion-col>
      <ion-col no-padding size="6">
        <ion-label>{{'TO' | translate }}</ion-label>
        <ion-datetime class="sale-date"
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY HH:mm:ss"
        (ionChange)="recomputeValues()"
        [(ngModel)]="reportsForm.value.dateEnd"
        [max]="today.getFullYear()+5">
        </ion-datetime>
      </ion-col>
    </ion-row>
    <ion-buttons slot="end">
      <ion-button (click)="goPeriodForward()">
        <ion-icon name="arrow-round-forward" style="">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form class="sample-form validations-form" [formGroup]="reportsForm">
    <ion-list no-lines>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportAgriculture()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            Agricultura
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'Costo Total Estimado' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{ag_production_cost|number:'1.0-1'}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Costo por hectare' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{ag_production_cost/ag_produced_area|number:'1.0-1'}}/ha
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Area Cultivada' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{ag_produced_area|number:'1.0-1'}} ha
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>


      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportCashFlow()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            {{'CASH_FLOW'| translate}}
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 15px;">
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'TOTAL_RECEIVED' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{cashflowIncome|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'TOTAL_PAID' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{cashflowExpense|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'RESULT_LIQUID' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{cashflowIncome-cashflowExpense|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'RENTABILITY' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{100*cashflowIncome/cashflowExpense||0|number:'1.0-1'}}%
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportSale()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            {{'SALE_PRODUCT'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'TOTAL' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{sold|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'CASH_PAYMENT' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{sale_cash|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'CREDIT_PAYMENT' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{sale_credit|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'EARNINGS' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{sale_margin|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'MARGIN' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{sale_margin_percent||0|number:'1.0-1'}}%
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportService()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            {{'SERVICES_DONE'|translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'TOTAL' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{service_sold|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'CASH_PAYMENT' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{service_cash|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'CREDIT_PAYMENT' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{service_credit|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'EARNINGS' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{service_margin|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'MARGIN' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{service_margin_percent||0|number:'1.0-1'}}%
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportService()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            Servicios
          </ion-col>
        </ion-row>
      </ion-card> -->





      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportPurchase()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            {{'PURCHASES'| translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'TOTAL' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{purchased|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'CASH_PAYMENT' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{purchase_cash|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'CREDIT_PAYMENT' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{purchase_credit|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportProduction()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            {{'PRODUCTIONS'| translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'AMOUNT_ESTIMATED' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{produced|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'CONSUMED_MATERIALS' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{production_material|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'USED_LABOUR' | translate}}</h4>
            <h4 class="field-value" style="color:red">
              $ {{production_labour|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'PRODUCTION_COST' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{production_cost|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'VALUE_ADDED' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{production_cost_percent||0|number:'1.0-1'}}%
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportStock()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            {{'STOCK'| translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-100" style="margin-top: 15px;">
            <h4 class="field-label">{{'VALUATION' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{stocked_cost|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'AMOUNT_POTENTIAL' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{stocked_price|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'ITEMS_QUANTITY' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{stocked_quantity|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Costo de Producción' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              $ {{production_cost|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'Valor Agregado' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{production_cost_percent|number:'1.0-1'}}%
            </h4>
          </ion-col>
        </ion-row> -->
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportToReceive()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            {{'RECEIVABLE_ACCOUNTS'| translate}}
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 15px;">
          <ion-col no-padding class="report-100">
            <h4 class="field-label">{{'TOTAL_TO_RECEIVE' | translate}}</h4>
            <h4 class="field-value" style="color:green; font-size:30px;">
              $ {{toReceive|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportToPay()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            {{'PAYABLE_ACCOUNTS'| translate}}
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 15px;">
          <ion-col no-padding class="report-100">
            <h4 class="field-label">{{'TOTAL_TO_PAY' | translate}}</h4>
            <h4 class="field-value" style="color:red; font-size:30px;">
              $ {{ToPay|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportResult()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
            {{'RESULTS'| translate}}
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 15px;">
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'TOTAL_INCOME' | translate}}</h4>
            <h4 class="field-value"
            style="color:green">$ {{resultIncome|number:'1.'+currency_precision}}</h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'TOTAL_EXPENSE' | translate}}</h4>
            <h4 class="field-value"
            style="color:red">
              $ {{resultExpense|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'RESULT_LIQUID' | translate}}</h4>
            <h4 class="field-value"
            style="color:green">
              $ {{resultIncome-resultExpense|number:'1.'+currency_precision}}
            </h4>
          </ion-col>
          <ion-col no-padding class="report-50">
            <h4 class="field-label">{{'PROFIT_MARGIN' | translate}}</h4>
            <h4 class="field-value" style="color:green">
              {{100*(1 - resultExpense/resultIncome)||0|number:'1.0-1'}}%
            </h4>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportAccounts()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            {{'CHART_OF_ACCOUNT'| translate}}
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportBalancete()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            Balancete
          </ion-col>
        </ion-row>
      </ion-card> -->
      <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportBalance()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            {{'BALANCE'| translate}}
          </ion-col>
        </ion-row>
      </ion-card>

      <!-- <ion-card class="list-card"
      style="width: calc(100% - 20px);margin-bottom: 2%;margin-top: 1%;"
      (click)="showReportProduction()">
        <ion-row>
          <ion-col
          style="text-align: center; font-size:20px;border-bottom:1px solid #ddd;height:50px;">
            Producciones
          </ion-col>
        </ion-row>
      </ion-card> -->



    </ion-list>
    <div style="height: 100px">
    </div>
  </form>
</ion-content>
