<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/tabs/service-list"></ion-back-button> -->
      <ion-back-button (click)="this.navCtrl.navigateBack('/tabs/service-list')"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!serviceForm.value.production">
        {{ 'SERVICE' | translate }}: {{serviceForm.value.code}}
    </ion-title>
    <ion-title *ngIf="serviceForm.value.production">
        {{ 'PRODUCTION' | translate }}: {{serviceForm.value.code}}
    </ion-title>

    <ion-buttons slot="end" >
      <!-- <ion-button
       (click)="buttonSave()"
       [hidden]="!serviceForm.dirty">
        {{ 'SAVE' | translate }}
      </ion-button> -->
      <ion-button icon-only
              (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-row>
    <ion-item
    no-padding
        *ngIf="!serviceForm.value.production"
     class="summary-50">
      <h4 class="field-label">{{'TOTAL' | translate}}</h4>
      <h4 class="field-value" style="color:blue">$ {{serviceForm.value.total|number:'1.0'}}</h4>
    </ion-item>

    <ion-item
    no-padding
        *ngIf="serviceForm.value.production"
     class="summary-100">
      <h4 class="field-label">{{'TOTAL' | translate}}</h4>
      <h4 class="field-value" style="color:blue">$ {{serviceForm.value.total|number:'1.0'}}</h4>
    </ion-item>

    <ion-item
    *ngIf="!serviceForm.value.production"
    no-padding
     class="summary-50">
      <h4 class="field-label">{{'Cobrar' | translate}}</h4>
      <h4 class="field-value" style="color:red">$ {{serviceForm.value.residual|number:'1.0'}}</h4>
    </ion-item>
    <!-- <ion-item
    *ngIf="serviceForm.value.production"
    no-padding
     class="summary-50">
      <h4 class="field-label">{{'Insumos' | translate}}</h4>
      <h4 class="field-value" style="color:red">$ {{serviceForm.value.residual|number:'1.0'}}</h4>
    </ion-item> -->
  </ion-row>
  <ion-row class="state-header">
    <ion-col size="4" *ngIf="(serviceForm.value.state == 'QUOTATION' || serviceForm.value.state == 'PRODUCED') || serviceForm.value.production">
      <div class="clicked arron">
        <span class="state-label">
          Nuevo
        </span>
      </div>
    </ion-col>
    <ion-col size="4" *ngIf="serviceForm.value.state == 'SCHEDULED'">
      <div  class="clicked arron" style="background-color: #357bff;">
        <span class="state-label">Agendado</span>
      </div>
    </ion-col>
    <ion-col size="4" *ngIf="(serviceForm.value.state == 'STARTED' || serviceForm.value.state == 'CONFIRMED' || serviceForm.value.state == 'PAID' || serviceForm.value.state == 'PRODUCED') || serviceForm.value.production">
      <div
      [class.arrow]="serviceForm.value.production"
      [class.arron]="!serviceForm.value.production"
      [class.unclicked]="serviceForm.value.state!='STARTED' && serviceForm.value.state!='PRODUCED' && serviceForm.value.state!='PAID'"
      [class.clicked]="serviceForm.value.state=='STARTED' || serviceForm.value.state=='PRODUCED' || serviceForm.value.state=='PAID'">
        <span class="state-label">Iniciado</span>
      </div>
    </ion-col>
    <ion-col size="4" *ngIf="!serviceForm.value.production">
      <div
        class="arrow"
       [class.unclicked]="serviceForm.value.state!='CONFIRMED' && serviceForm.value.state!='PAID'"
       [class.clicked]="serviceForm.value.state=='CONFIRMED' || serviceForm.value.state=='PAID'">
        <span class="state-label">Realizado</span>
      </div>
    </ion-col>
    <ion-col size="4" *ngIf="serviceForm.value.production">
      <div
      class="arrow"
      [class.unclicked]="serviceForm.value.state!='PRODUCED'"
      [class.clicked]="serviceForm.value.state=='PRODUCED'">
        <span class="state-label">Producido</span>
      </div>
    </ion-col>
    <ion-col size="4" *ngIf="!serviceForm.value.production">
      <div
        class="arrow"
       [class.unclicked]="serviceForm.value.state!='PAID'"
       [class.clicked]="serviceForm.value.state=='PAID'">
        <span class="state-label">Cobrado</span>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content class="service-content"  style="background-color: #ddd">

  <form class="sample-form validations-form" [formGroup]="serviceForm" (ngSubmit)="onSubmit(serviceForm.value)">
    <ion-row justify-content-center>
          <ion-item
          no-padding
          (click)="selectContact()"
          *ngIf="!serviceForm.value.production"
           class="field-100">
            <h4 class="field-label">{{'CLIENT' | translate}}</h4>
            <h4 class="field-value">{{serviceForm.value.contact && serviceForm.value.contact.name || 'Selecionar'}}</h4>
          </ion-item>
          <ion-item
          no-padding
          (click)="selectProduct()"
          *ngIf="serviceForm.value.production"
           class="field-100">
            <h4 class="field-label">{{'PRODUCED_PRODUCT' | translate}}</h4>
            <h4 class="field-value">{{serviceForm.value.product && serviceForm.value.product.name || 'Selecionar'}}</h4>
          </ion-item>
          <ion-item
           no-padding
           *ngIf="serviceForm.value.production"
           class="field-100">
            <ion-label position="floating" style="font-size:14px">{{'PRODUCED_QUANTITY' | translate }}</ion-label>
            <ion-input #input type="number"
            formControlName="quantity"></ion-input>
          </ion-item>

        </ion-row>
        <ion-row
          *ngIf="!serviceForm.value.production"
           style="background: white;border: 1px solid #ddd">
          <ion-col>
            <ion-item  style="--background: white">
              <ion-label position="stacked">{{ 'CLIENT_REQUEST' | translate }}</ion-label>
              <ion-textarea #clrequest formControlName="client_request"
                rows="3">
              </ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="2" color="primary">
            <ion-button icon-only  style="height: 100%;margin-top: 0px;"
            color="primary"
            (click)="listenRequest()">
              <ion-icon name="mic"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
          <ion-row>
          <ion-item
           no-padding
           (click)="selectPaymentCondition()"
           *ngIf="!serviceForm.value.production && (serviceForm.value.state == 'CONFIRMED' || serviceForm.value.state == 'PAID' || serviceForm.value.state == 'STARTED')"
           class="field-50">
            <h4 class="field-label">{{'Condición de Pago' | translate }}</h4>
            <h4 class="field-value">{{serviceForm.value.paymentCondition && serviceForm.value.paymentCondition.name || 'Selecionar'}}</h4>
          </ion-item>
          <ion-item no-padding class="item-content"
          *ngIf="!serviceForm.value.production && (serviceForm.value.state == 'CONFIRMED' || serviceForm.value.state == 'PAID' || serviceForm.value.state == 'STARTED')"
          class="field-50">

            <h4 class="field-label">{{'DATE' | translate }}</h4>
            <ion-datetime
            class="field-50-datetime"
            displayFormat="DD/MM/YYYY"
            pickerFormat="DD/MM/YYYY"
            formControlName="date"
            [disabled]="serviceForm.value.state=='PAID'">
            </ion-datetime>
        </ion-item>
        <ion-item no-padding class="item-content"
        *ngIf="!(!serviceForm.value.production && (serviceForm.value.state == 'CONFIRMED' || serviceForm.value.state == 'PAID' || serviceForm.value.state == 'STARTED'))"
        class="field-100">

          <h4 class="field-label">{{'DATE' | translate }}</h4>
          <ion-datetime
          class="field-50-datetime"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
          formControlName="date"
          [disabled]="serviceForm.value.state=='PAID'">
          </ion-datetime>
      </ion-item>


    </ion-row>


    <ion-list no-lines *ngIf="serviceForm.value.invoices.length">
      <section>
      <h2 class="section-title">{{'INVOICE' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of serviceForm.value.invoices">
        <ion-item (click)="openInvoice(item)"  class="internal-item" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row style="padding-top:10px; padding-bottom:10px;">
          <ion-col >
            <h4 class="field-label">{{'NUMBER' | translate}}</h4>
            <h4 class="field-value">{{item.code}}</h4>
          </ion-col>
          <ion-col >
            <h4 class="field-label">{{'TAX' | translate}}</h4>
            <h4 class="field-value">$ {{item.tax|number:'1.0'}}</h4>
          </ion-col>
          <ion-button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
      </ion-item-sliding>
    </section>
    </ion-list>
    <ion-list no-lines *ngIf="serviceForm.value.payments.length">
      <section>
      <h2 class="section-title">{{'Recibos' | translate}}</h2>
      <ion-item-sliding class="list-item" *ngFor="let item of serviceForm.value.payments">
        <ion-item  class="internal-item" (click)="openPayment(item)" style="background-color: #ddd;">
          <ion-card class="list-card">
          <ion-row style="padding-top:10px; padding-bottom:10px;">
          <ion-col >
            <h4 class="field-label">{{'Fecha' | translate}}</h4>
            <h4 class="field-value">{{item.date|date: 'dd/MM/yyyy'}}</h4>
          </ion-col>
          <ion-col>
            <h4 class="field-label">{{'AMOUNT' | translate}}</h4>
            <h4 class="field-value">$ {{item.paid|number:'1.0'}}</h4>
          </ion-col>
          <ion-button class="relation-button"
          [ngClass]="{following: !item.inverse_relation}"
          ion-button clear icon-only item-right>
            <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
          </ion-button>
          </ion-row>
          </ion-card>
        </ion-item>
        <ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list>



        <ion-card class="internal-card" *ngIf="serviceForm.value.state=='STARTED' || serviceForm.value.state=='CONFIRMED' || serviceForm.value.state=='PAID' || serviceForm.value.state=='CANCELED'">
          <ion-row>
            <ion-col (click)="showWorks()" size="1">
              <ion-icon name="arrow-dropdown"
              style="font-size: 2rem;color: #47ad4c;">
              </ion-icon>
            </ion-col>
            <ion-col size="9" (click)="showWorks()">
              <h4 class="section-title">{{'SERVICES_DONE' | translate}}</h4>
              <h4 class="field-value" style="margin-top:0px;">$ {{serviceForm.value.work_amount|number:'1.0'}}</h4>
            </ion-col>
            <!-- <ion-col size="2" color="primary"
            *ngIf="serviceForm.value.state == 'STARTED'"
              (click)="addWork()">
                <ion-icon name="add"
                style="font-size: 2rem;color: white;">
                </ion-icon>
            </ion-col> -->
            <ion-col size="2" class="open-item-col"
              *ngIf="serviceForm.value.state == 'STARTED'"
              (click)="addWork()">
              <ion-icon name="add" class="open-item-arrow"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-list no-lines *ngIf="serviceForm.value.works.length && show_works" style="border-top: 1px solid blue;;background: #ddd">

            <ion-item-sliding  class="list-item" *ngFor="let item of serviceForm.value.works">
              <ion-item style="width: 100%; margin-right: -5px;--background: #ddd">
                <ion-card class="internal-card">
                  <ion-row (click)="editWork(item)" class="product-name-row">
                    {{item.description}}
                  </ion-row>
              <ion-row>
                <ion-col size="6" style="white-space: normal;">
                  <ion-row style="margin-top: -5px;">
                    <ion-col  size="12" (click)="editWorkPrice(item)"
                    *ngIf="!serviceForm.value.production">
                      <span class="price-label">Precio:</span>
                      <div style="font-size: 15px;display: contents; color:red">
                         $ {{item.price|number:'1.0'}}<div style="color: gray;display:inline">/hora</div>
                      </div>
                    </ion-col>
                    <ion-col  size="12"
                    *ngIf="serviceForm.value.production">
                      <span class="price-label">Costo:</span>
                      <div style="font-size: 15px;display: contents; color:red">
                         $ {{item.cost|number:'1.0'}}<div style="color: gray;display:inline">/hora</div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row (click)="editWorkPrice(item)">
                    <ion-col  size="12">
                      <span class="price-label">SubTotal:</span>
                      <div
                      *ngIf="!serviceForm.value.production"
                      style="font-size: 20px;color:green;">
                         ${{item.price*item.time|number:'1.0'}}
                      </div>
                      <div
                      *ngIf="serviceForm.value.production"
                      style="font-size: 20px;color:green;">
                         ${{item.cost*item.time|number:'1.0'}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">

                  <ion-row>
                    <ion-col style="text-align: center;">
                      Horas
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3">
                      <ion-button class="quantity-button" (click)="remWork(item)">-</ion-button>
                    </ion-col>
                    <ion-col size="6" (click)="editWork(item)" style="text-align: center;font-size: 30px;">
                      {{item.time}}
                    </ion-col>
                    <ion-col size="3">
                      <ion-button class="quantity-button" (click)="sumWork(item)">+</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
            </ion-item>
              <ion-item-options>
                <ion-button icon-only color="primary" (click)="removeWork(item)" *ngIf="serviceForm.value.state!='QUOTATIONs'">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card>









        <ion-card class="internal-card"  *ngIf="serviceForm.value.state=='STARTED' || serviceForm.value.state=='CONFIRMED' || serviceForm.value.state=='PAID' || serviceForm.value.state=='CANCELED'">
          <ion-row>
            <ion-col (click)="showInputs()" size="1">
              <ion-icon name="arrow-dropdown"
              style="font-size: 2rem;color: #47ad4c;">
              </ion-icon>
            </ion-col>
            <ion-col size="9" (click)="showInputs()">
              <h4 class="section-title">{{'Productos Consumidos' | translate}}</h4>
              <h4 class="field-value"  style="margin-top:0px;">$ {{serviceForm.value.input_amount|number:'1.0'}}</h4>
            </ion-col>
            <!-- <ion-col size="2" class="item-content"
            *ngIf="serviceForm.value.state == 'STARTED'">
              <ion-button class="print-invoice"
              (click)="addInput()">
                <ion-icon name="add"
                style="font-size: 2rem;color: white;">
                </ion-icon>
              </ion-button>
            </ion-col> -->
            <ion-col size="2" class="open-item-col"
              *ngIf="serviceForm.value.state == 'STARTED'"
              (click)="addInput()">
              <ion-icon name="add" class="open-item-arrow"></ion-icon>
            </ion-col>
          </ion-row>


          <ion-list no-lines *ngIf="show_inputs" style="border-top: 1px solid blue;background: #ddd">

            <ion-item-sliding  class="list-item" *ngFor="let item of serviceForm.value.inputs">
              <ion-item style="width: 100%; margin-right: -5px;--background: #ddd">
                <ion-card class="internal-card">
                  <ion-row (click)="openItem(item)" class="product-name-row">
                    {{item.product && item.product.name}}
                  </ion-row>
              <ion-row>
                <ion-col size="6" style="white-space: normal;">
                  <ion-row style="margin-top: -5px;">
                    <ion-col  size="12" (click)="editItemPrice(item)" *ngIf="!serviceForm.value.production">
                      <span class="price-label">Precio:</span>
                      <div style="font-size: 15px;display: contents; color:red">
                         ${{item.price|number:'1.0'}}
                      </div>
                    </ion-col>
                    <ion-col  size="12" (click)="editItemPrice(item)" *ngIf="serviceForm.value.production">
                      <span class="price-label">Costo:</span>
                      <div style="font-size: 15px;display: contents; color:red">
                         ${{item.cost|number:'1.0'}}
                      </div>
                    </ion-col>

                  </ion-row>
                  <ion-row (click)="openItem(item)">
                    <ion-col  size="12" class="item-content price-tag" (click)="editItemPrice(item)" >
                      <span class="price-label">SubTotal:</span>
                      <div style="font-size: 20px;color:green;"  *ngIf="!serviceForm.value.production">
                         ${{item.price*item.quantity|number:'1.0'}}
                      </div>
                      <div style="font-size: 20px;color:green;"  *ngIf="serviceForm.value.production">
                         ${{item.cost*item.quantity|number:'1.0'}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">

                  <ion-row>
                    <ion-col style="text-align: center;">
                      Cantidad
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3">
                      <ion-button class="quantity-button" (click)="remItem(item)">-</ion-button>
                    </ion-col>
                    <ion-col size="6" (click)="editItemQuantity(item)" style="text-align: center;font-size: 30px;">
                      {{item.quantity}}
                    </ion-col>
                    <ion-col size="3">
                      <ion-button class="quantity-button" (click)="sumItem(item)">+</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card>
            </ion-item>
              <ion-item-options>
                <ion-button icon-only color="primary" (click)="removeInput(item)" *ngIf="serviceForm.value.state!='QUOTATIONs'">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>


        </ion-card>


          <ion-card class="internal-card"  *ngIf="(serviceForm.value.state=='STARTED' || serviceForm.value.state=='CONFIRMED' || serviceForm.value.state=='PAID' || serviceForm.value.state=='CANCELED')  && !serviceForm.value.production">
            <ion-row>
              <ion-col (click)="showTravels()" size="1">
                <ion-icon name="arrow-dropdown"
                style="font-size: 2rem;color: #47ad4c;">
                </ion-icon>
              </ion-col>
              <ion-col size="9" (click)="showTravels()">
                <h4 class="section-title">{{'Viaticos' | translate}}</h4>
                <h4 class="field-value"  style="margin-top:0px;">$ {{serviceForm.value.travel_amount|number:'1.0'}}</h4>
              </ion-col>
              <!-- <ion-col size="2" class="item-content"
              *ngIf="serviceForm.value.state == 'STARTED'">
                <ion-button class="print-invoice"
                (click)="addTravel()">
                  <ion-icon name="add"
                  style="font-size: 2rem;color: white;">
                  </ion-icon>
                </ion-button>
              </ion-col> -->
              <ion-col size="2" class="open-item-col"
                *ngIf="serviceForm.value.state == 'STARTED'"
                (click)="addTravel()">
                <ion-icon name="add" class="open-item-arrow"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-list no-lines *ngIf="serviceForm.value.travels.length && show_travels" style="border-top: 1px solid blue;;background: #ddd">
              <ion-item-sliding  class="list-item" *ngFor="let item of serviceForm.value.travels">
                <ion-item style="width: 100%; margin-right: -5px;--background: #ddd">
                  <ion-card class="internal-card">
                    <ion-row (click)="editTravel(item)" class="product-name-row">
                      {{item.note}}
                    </ion-row>
                <ion-row>
                  <ion-col size="6" style="white-space: normal;">
                    <ion-row style="margin-top: -5px;">
                      <ion-col  size="12" (click)="editTravelPrice(item)" >
                        <span class="price-label">Precio:</span>
                        <div style="font-size: 15px;display: contents; color:red">
                           $ {{item.price|number:'1.0'}}<div style="color: gray;display:inline">/km</div>
                        </div>

                      </ion-col>
                    </ion-row>
                    <ion-row (click)="editTravelPrice(item)">
                      <ion-col  size="12">
                        <span class="price-label">SubTotal:</span>
                        <div style="font-size: 20px;color:green;">
                           ${{item.price*item.distance|number:'1.0'}}
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="6">

                    <ion-row>
                      <ion-col style="text-align: center;">
                        Kilometros
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="3">
                        <ion-button class="quantity-button" (click)="remTravel(item)">-</ion-button>
                      </ion-col>
                      <ion-col size="6" (click)="editTravel(item)" style="text-align: center;font-size: 30px;">
                        {{item.distance}}
                      </ion-col>
                      <ion-col size="3">
                        <ion-button class="quantity-button" (click)="sumTravel(item)">+</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card>
              </ion-item>
                <ion-item-options>
                  <ion-button icon-only color="primary" (click)="removeTravel(item)" *ngIf="serviceForm.value.state!='QUOTATIONs'">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-card>

          <ion-row>
            <ion-col
             class="item-content"
             *ngIf="serviceForm.value.state == 'QUOTATION' || serviceForm.value.state == 'SCHEDULED'">
              <ion-button class="button-100"
               (click)="setStarted()">
               Iniciar
              </ion-button>
            </ion-col>
            <ion-col class="item-content"
             *ngIf="serviceForm.value.state == 'QUOTATION'">
              <ion-button class="button-100"
               (click)="setSchedule()">
               Agendar
              </ion-button>
            </ion-col>


            <ion-col size="6"
            *ngIf="serviceForm.value.state == 'CONFIRMED' && ! serviceForm.value.production">
              <ion-button class="button-100"
              (click)="print()">
                Imprimir OS
              </ion-button>
            </ion-col>
            <ion-col size="6"
            *ngIf="serviceForm.value.state == 'CONFIRMED' && ! serviceForm.value.production">
              <ion-button class="button-100"
              (click)="beforeAddPayment()">
                Cobrar
              </ion-button>
            </ion-col>
            <ion-col
            *ngIf="(serviceForm.value.state == 'CONFIRMED'
             || serviceForm.value.state == 'PAID')
             && ! serviceForm.value.production
             && ! serviceForm.value.invoices.length">
              <ion-button class="button-100"
              (click)="addInvoice()">
                Crear Fatura
              </ion-button>
            </ion-col>
            <ion-col *ngIf="serviceForm.value.state == 'STARTED'">
              <ion-button class="button-100"
              (click)="beforeConfirm()">
                Concluir
              </ion-button>
            </ion-col>
          </ion-row>






  </form>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="showNextButton()">
    <ion-button (click)="goNextStep()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      Proximo
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger" class="discard-button">
      <ion-icon name="backspace" *ngIf="serviceForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!serviceForm.dirty"> </ion-icon>
      <span *ngIf="serviceForm.dirty">Descartar</span>
      <span *ngIf="!serviceForm.dirty">Volver</span>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="serviceForm.dirty">
    <ion-button (click)="buttonSave()"  color="success" class="save-button">
      <ion-icon name="save"> </ion-icon>
      Guardar
    </ion-button>
  </ion-fab>
  <div style="height: 100px;">
  </div>
</ion-content>
