<ion-header>
  <ion-toolbar color="primary">
    <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <!-- <ion-title *ngIf="!has_search">{{ 'CASHS' | translate}}</ion-title> -->
    <ion-searchbar
      placeholder="Buscar Machine"
      [(ngModel)]="searchTerm"
      (ionInput)="setFilteredItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <!-- <ion-button icon-only color="royal" *ngIf="!has_search"
        (tap)="setSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button icon-only color="royal" *ngIf="has_search"
        (tap)="setSearch()">
        <ion-icon name="close"></ion-icon>
      </ion-button> -->
      <ion-button icon-only color="royal"
        class="more-button"
              (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of machines">
      <ion-item (click)="selectMachine(item)">
      <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-90 class="item-content">
          <h3 class="item-title">{{item.name}}</h3>
          <h3 class="item-title">{{item.balance}}</h3>
        </ion-col>
        <ion-col no-padding width-10 (click)="openMachine(item)" class="item-icon">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
      <ion-item-options>
        <ion-button icon-only color="primary" (click)="deleteMachine(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of machines">
      <ion-item no-padding (click)="selectMachine(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;height:50px;">
          <ion-row no-padding class="content-row one-line" style="margin-left:0.3em">
            <h3 class="item-title"><b>{{ item.name }}</b></h3>
          </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-35  >
          <!-- <h3 class="item-title"><b>{{ item.doc.name }}</b></h3> -->

          <ion-row no-padding>

            <!-- <ion-col no-padding>
              <h3 class="item-title" style="margin-left: 5px;">{{item.doc.code | translate}}</h3>
            </ion-col> -->
          </ion-row>
        </ion-col>
        <ion-col no-padding width-60 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
          <h2 class="list-big-number" style="color: green;">$ {{item.balance| number:'1.0'}}</h2>
        </ion-col>
      </ion-row>
      <!-- <ion-row no-padding>
        <ion-col no-padding style="text-align: center;border-radius: 4px;"  [class.quotation]="item.state=='QUOTATION'" [class.confirmed]="item.state=='CONFIRMED'" [class.paid]="item.state=='PAID'">
            {{ item.state | translate }}
        </ion-col>
      </ion-row> -->
      </ion-card>

    </ion-item>
      <ion-item-options>
        <ion-button icon-only color="primary" (click)="deleteMachine(item)" *ngIf="item.balance==0">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <ion-row style="height:15px;">
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createMachine()" color="green">
          <ion-icon name="add">
          </ion-icon>
      </ion-button>
  </ion-fab>
</ion-content>
