<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/stock-move-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CASH_MOVE' | translate }}-{{stockMoveForm.value.code}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #ddd">
  <form [formGroup]="stockMoveForm"  (ngSubmit)="onSubmit(stockMoveForm.value)">
  <ion-row justify-content-center>
    <ion-item
    no-padding
    (click)="selectProduct()"
     class="field-100">
      <h4 class="field-label">{{'PRODUCT' | translate}}</h4>
      <h4 class="field-value">{{stockMoveForm.value.product && stockMoveForm.value.product.name || stockMoveForm.value.product_name || 'SELECT'|translate}}</h4>
    </ion-item>
    <ion-item
     no-padding
     class="field-50">
      <ion-label position="floating">{{'QUANTITY' | translate}}</ion-label>
      <ion-input #input type="number"
      formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item
     no-padding
     class="field-50">
     <h4 class="field-label">{{'Documento' | translate}}</h4>
     <h4 class="field-value">  {{stockMoveForm.value.origin_id || 'Manual'}}</h4>
    </ion-item>
    <ion-item
     no-padding
     (click)="selectWarehouseFrom()"
     class="field-50">
      <h4 class="field-label">{{'Origen' | translate }}</h4>
      <h4 class="field-value">{{stockMoveForm.value.warehouseFrom && stockMoveForm.value.warehouseFrom.name || stockMoveForm.value.warehouseFrom_name || 'SELECT'|translate}}</h4>
    </ion-item>
    <ion-item
     no-padding
     (click)="selectWarehouseTo()"
     class="field-50">
      <h4 class="field-label">{{'Destino' | translate }}</h4>
      <h4 class="field-value">{{stockMoveForm.value.warehouseTo && stockMoveForm.value.warehouseTo.name || stockMoveForm.value.warehouseTo_name || 'SELECT'|translate}}</h4>
    </ion-item>
    <ion-item
    no-padding
    (click)="selectContact()"
     class="field-100">
      <h4 class="field-label">{{'Contact' | translate}}</h4>
      <h4 class="field-value">{{stockMoveForm.value.contact && stockMoveForm.value.contact.name || stockMoveForm.value.contact_name || 'SELECT'|translate}}</h4>
    </ion-item>

    <ion-item class="field-100">
      <ion-label position="floating">{{'DESCRIPTION' | translate}}</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
</ion-row>

  </form>
  <ion-row>
    <ion-col *ngIf="stockMoveForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
