<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button> -->
    <ion-title *ngIf="!has_search && !serviceForm.value.production">
        {{ 'SERVICE' | translate }}: {{serviceForm.value.code}}
    </ion-title>
    <ion-title *ngIf="!has_search && serviceForm.value.production">
        {{ 'PRODUCTION' | translate }}: {{serviceForm.value.code}}
    </ion-title>

    <ion-buttons slot="end" >
      <ion-button
       (click)="buttonSave()"
       [hidden]="!serviceForm.dirty">
        {{ 'SAVE' | translate }}
      </ion-button>
      <ion-button icon-only color="royal"
              (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row class="state-header">
    <ion-col width-33 *ngIf="serviceForm.value.state == 'QUOTATION'">
      <button class="clicked" >
        <ion-col style="text-align: center">
          Nuevo
        </ion-col>
      </ion-button>
    </ion-col>
    <ion-col width-33 *ngIf="serviceForm.value.state == 'SCHEDULED'">
      <button  class="clicked" style="background-color: #357bff;">
        <span class="state-label">Agendado</span>
      </ion-button>
    </ion-col>
    <ion-col width-33 *ngIf="serviceForm.value.state == 'STARTED' || serviceForm.value.state == 'CONFIRMED' || serviceForm.value.state == 'PAID'">
      <button class="clicked">
        <span class="state-label">Iniciado</span>
      </ion-button>
    </ion-col>
    <ion-col width-33>
      <button
       [class.unclicked]="serviceForm.value.state!='CONFIRMED' && serviceForm.value.state!='PAID'"
       [class.clicked]="serviceForm.value.state=='CONFIRMED' || serviceForm.value.state=='PAID'">
        <span class="state-label">Realizado</span>
      </ion-button>
    </ion-col>
    <ion-col width-33 *ngIf="serviceForm.value.production">
      <button
      [class.unclicked]="serviceForm.value.state!='CONFIRMED' && serviceForm.value.state!='PAID'"
      [class.clicked]="serviceForm.value.state=='CONFIRMED' || serviceForm.value.state=='PAID'">
        <span class="state-label">Producido</span>
      </ion-button>
    </ion-col>
    <ion-col width-33 *ngIf="!serviceForm.value.production">
      <button
       [class.unclicked]="serviceForm.value.state!='PAID'"
       [class.clicked]="serviceForm.value.state=='PAID'">
        <span class="state-label">Cobrado</span>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col width-20 class="sumary-label" no-padding >
      <h4 class="sumary-label">{{'TOTAL' | translate }}</h4>
    </ion-col>
    <ion-col width-30 class="sumary-label" no-padding >
      <h4 class="sumary-value draft"
       style="text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">
       $ {{serviceForm.value.total|number:'1.0'}}
     </h4>
    </ion-col>
    <ion-col width-20 class="sumary-label" no-padding *ngIf="!serviceForm.value.production">
        <h4 class="sumary-label">{{'Cobrar' | translate }}</h4>
    </ion-col>
    <ion-col width-30 class="sumary-label" no-padding *ngIf="!serviceForm.value.production">
        <h4 class="sumary-value negative"
         style="text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">
         $ {{serviceForm.value.residual|number:'1.0'}}
       </h4>
    </ion-col>
  </ion-row>
<!-- </ion-col> -->

</ion-header>

<ion-content class="service-content"  style="background-color: #ddd">

  <form class="sample-form validations-form" [formGroup]="serviceForm" (ngSubmit)="onSubmit(serviceForm.value)">
    <ion-row justify-content-center>
          <ion-item
          no-padding
          (click)="selectContact()"
          *ngIf="!serviceForm.value.production"
           class="field-100">
            <h4 class="sumary-label">{{'CLIENT' | translate}}</h4>
            <h4 class="client-name">{{serviceForm.value.contact && serviceForm.value.contact.name || 'Selecionar'}}</h4>
          </ion-item>
          <ion-item
          no-padding
          (click)="selectProduct()"
          *ngIf="serviceForm.value.production"
           class="field-100">
            <h4 class="sumary-label">{{'PRODUCED_PRODUCT' | translate}}</h4>
            <h4 class="client-name">{{serviceForm.value.product && serviceForm.value.product.name || 'Selecionar'}}</h4>
          </ion-item>
          <ion-item
           no-padding
           *ngIf="serviceForm.value.production"
           class="field-100">
            <ion-label position="floating" style="font-size:14px">{{'PRODUCED_QUANTITY' | translate }}</ion-label>
            <ion-input #input type="number"
            formControlName="quantity"></ion-input>
          </ion-item>

        </ion-row>
        <ion-row style="background: white;border: 1px solid #ddd">
          <ion-col>
            <ion-item  style="background-color: white">
              <ion-label position="floating">{{ 'CLIENT_REQUEST' | translate }}</ion-label>
              <ion-textarea #clrequest formControlName="client_request"
                rows="3">
              </ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col width-15>
            <span ion-button icon-only  style="height: 100%;"
            color="primary"
            (click)="listenRequest()">
              <ion-icon name="mic"></ion-icon>
            </span>
          </ion-col>
        </ion-row>
          <ion-row>
          <ion-item
           no-padding
           (click)="selectPaymentCondition()"
           *ngIf="!serviceForm.value.production && (serviceForm.value.state == 'CONFIRMED' || serviceForm.value.state == 'PAID' || serviceForm.value.state == 'STARTED')"
           class="field-50">
            <h4 class="sumary-label">{{'Condición de Pago' | translate }}</h4>
            <h4 class="client-name">{{serviceForm.value.paymentCondition && serviceForm.value.paymentCondition.name || 'Selecionar'}}</h4>
          </ion-item>
          <ion-item no-padding class="item-content"
          *ngIf="!serviceForm.value.production && (serviceForm.value.state == 'CONFIRMED' || serviceForm.value.state == 'PAID' || serviceForm.value.state == 'STARTED')"
          class="field-50">
            <ion-label position="floating" class="sumary-label">{{'DATE' | translate }}</ion-label>
            <ion-datetime class="sale-date"
              displayFormat="DD/MM/YYYY"
              pickerFormat="DD/MM/YYYY"
              class="task-date"
              formControlName="date"
              [disabled]="serviceForm.value.state=='PAID'">
            </ion-datetime>
        </ion-item>
        <ion-item no-padding class="item-content"
        *ngIf="!(!serviceForm.value.production && (serviceForm.value.state == 'CONFIRMED' || serviceForm.value.state == 'PAID' || serviceForm.value.state == 'STARTED'))"
        class="field-100">
          <ion-label position="floating" class="sumary-label">{{'DATE' | translate }}</ion-label>
          <ion-datetime class="sale-date"
            displayFormat="DD/MM/YYYY"
            pickerFormat="DD/MM/YYYY"
            class="task-date"
            formControlName="date"
            [disabled]="serviceForm.value.state=='PAID'">
          </ion-datetime>
      </ion-item>
        <!-- <ion-item
        no-padding
         style="width: calc(100% - 0px);background-color: #fff;border: 1px solid #ddd;">

        </ion-item> -->

    </ion-row>

    <!-- <ion-row style="background: white;">
      <ion-col>
        <ion-label position="floating" *ngIf="!serviceForm.value.production">
          {{ 'CLIENT_REQUEST' | translate }}
        </ion-label>
        <ion-label position="floating" *ngIf="serviceForm.value.production">
          {{ 'Detalles' | translate }}
        </ion-label>
        <ion-textarea formControlName="client_request"
        rows="3">
      </ion-textarea>
      </ion-col>
      <ion-col width-15>
        <ion-button icon-only  style="height: 100%;"
          color="primary"
          (click)="listenRequest()">
          <ion-icon name="mic"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->




    <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{ 'CLIENT_REQUEST' | translate }}</ion-label>
          <ion-textarea formControlName="client_request"
            rows="3">
          </ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col width-20 *ngIf="serviceForm.value.state=='QUOTATION'">
        <ion-button icon-only  style="height: 100%;"
        color="primary"
        (click)="listenRequest()">
          <ion-icon name="mic"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->
    <!-- <ion-card class="list-card" style="margin-top: 1px;padding-bottom:5px">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">{{ 'CLIENT_REQUEST' | translate }}</ion-label>
                <ion-textarea formControlName="client_request"
                  rows="3">
                </ion-textarea>
              </ion-item>
            </ion-col>
            <ion-col width-20 *ngIf="serviceForm.value.state=='QUOTATION'">
              <ion-button icon-only  style="height: 100%;"
              color="primary"
              (click)="listenRequest()">
                <ion-icon name="mic"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card> -->

        <ion-card class="list-card"  *ngIf="serviceForm.value.state=='STARTED' || serviceForm.value.state=='CONFIRMED' || serviceForm.value.state=='PAID' || serviceForm.value.state=='CANCELED'">
          <ion-row>
            <ion-col (click)="showWorks()" width-10>
              <ion-icon name="arrow-dropdown"
              style="margin-left: 1rem;margin-top: 1rem;font-size: 3rem;color: #47ad4c;">
              </ion-icon>
            </ion-col>
            <ion-col width-75 (click)="showWorks()">
              <h4 class="section-title">{{'SERVICES_DONE' | translate}}</h4>
              <h4 class="client-name">$ {{serviceForm.value.work_amount|number:'1.0'}}</h4>
            </ion-col>
            <ion-col width-15 class="item-content"
            *ngIf="serviceForm.value.state == 'STARTED'">
              <ion-button class="print-invoice"
              (click)="addWork()">
                <ion-icon name="add"
                style="font-size: 2rem;color: white;">
                </ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-list no-lines *ngIf="serviceForm.value.works.length && show_works" style="border-top: 1px solid blue;">
            <ion-item-sliding  class="list-item" *ngFor="let item of serviceForm.value.works" style="border-bottom: 1px solid blue;">
                <ion-item
                  no-padding
                  >
                <ion-row no-padding class="content-row one-line">
                  <!-- <ion-col no-padding width-85 class="item-content" style="white-space: normal;">
                    <h4 class="sumary-label">Descripción</h4>{{item.description}}
                  </ion-col>
                  <ion-col width-15>
                    <h4 class="sumary-label">Tiempo</h4> {{item.time|number:'1.0'}} hs
                  </ion-col> -->

                  <ion-col width-40 (click)="editWork(item)" class="item-content" style="white-space: normal;">
                    <h4 class="sumary-label">Descripción</h4>{{item.description}}
                  </ion-col>
                  <ion-col width-20 (click)="editWork(item)">
                    <h4 class="sumary-label">Tiempo</h4> {{item.time|number:'1.0'}}
                  </ion-col>
                  <ion-col width-20 (click)="editWorkPrice(item)">
                    <h4 class="sumary-label">Precio</h4> {{item.price|number:'1.0'}}
                  </ion-col>
                  <ion-col width-20 (click)="editWorkPrice(item)">
                    <h4 class="sumary-label">Subtotal</h4> {{item.price*item.time|number:'1.0'}}
                  </ion-col>
                </ion-row>
            </ion-item>
              <ion-item-options>
                <ion-button icon-only color="primary" (click)="removeWork(item)" *ngIf="serviceForm.value.state!='QUOTATIONs'">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>


        </ion-card>

        <ion-card class="list-card"  *ngIf="serviceForm.value.state=='STARTED' || serviceForm.value.state=='CONFIRMED' || serviceForm.value.state=='PAID' || serviceForm.value.state=='CANCELED'">
          <ion-row>
            <ion-col (click)="showInputs()" width-10>
              <ion-icon name="arrow-dropdown"
              style="margin-left: 1rem;margin-top: 1rem;font-size: 3rem;color: #47ad4c;">
              </ion-icon>
            </ion-col>
            <ion-col width-75 (click)="showInputs()">
              <h4 class="section-title">{{'Productos Consumidos' | translate}}</h4>
              <h4 class="client-name">$ {{serviceForm.value.input_amount|number:'1.0'}}</h4>
            </ion-col>
            <ion-col width-15 class="item-content"
            *ngIf="serviceForm.value.state == 'STARTED'">
              <ion-button class="print-invoice"
              (click)="addInput()">
                <!-- Agregar Insumo -->
                <ion-icon name="add"
                style="font-size: 2rem;color: white;">
                </ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>


          <ion-list no-lines *ngIf="show_inputs" style="border-top: 1px solid blue;">
            <ion-item-sliding  class="list-item" *ngFor="let item of serviceForm.value.inputs" style="border-bottom: 1px solid blue;">
              <ion-item>
              <ion-row  class="content-row one-line" >
                <ion-col  width-70 class="item-content" style="white-space: normal;">
                  <ion-row (click)="openItem(item)" class="product-name-row">
                    <ion-col width-20>
                      {{item.product && item.product.code}}
                    </ion-col>
                    <ion-col>
                      {{item.product && item.product.name}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col  width-50 class="item-content price-tag"
                    *ngIf="!serviceForm.value.production"
                     (click)="editItemPrice(item)">
                      <span class="price-label">Precio:</span> ${{item.price|number:'1.0'}}
                    </ion-col>
                    <ion-col  width-50 class="item-content price-tag"
                    *ngIf="serviceForm.value.production">
                      <span class="price-label">Costo:</span> ${{item.cost|number:'1.0'}}
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col>

                  <ion-row>
                    <ion-col  width-50 class="item-content"
                    *ngIf="!serviceForm.value.production">
                      <h4 class="sumary-label">Subtotal</h4> ${{item.price*item.quantity|number:'1.0'}}
                    </ion-col>
                    <ion-col  width-50 class="item-content"
                    *ngIf="serviceForm.value.production">
                      <h4 class="sumary-label">Subtotal</h4> ${{item.cost*item.quantity|number:'1.0'}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col  width-30>
                      <button class="quantity-button" (click)="remItem(item)">-</ion-button>

                    </ion-col>
                    <ion-col (click)="editItemQuantity(item)"  width-40 class="item-content" style="text-align: center;top:4px;">
                      {{item.quantity}}
                    </ion-col>
                    <ion-col  width-30>
                      <button class="quantity-button" (click)="sumItem(item)">+</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-item>
              <ion-item-options>
                <ion-button icon-only color="primary" (click)="removeInput(item)" *ngIf="serviceForm.value.state!='QUOTATIONs'">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>


        </ion-card>


          <!-- <ion-list *ngIf="serviceForm.value.works.length && show_works">
            <section>

              <ion-item-sliding no-padding class="list-item" *ngFor="let item of serviceForm.value.works">
                <ion-item
                  style="background-color: #ddd"
                  no-padding
                  (click)="editWork(item)">
                  <ion-card class="list-card">
                <ion-row no-padding class="content-row one-line">
                  <ion-col no-padding width-85 class="item-content" style="white-space: normal;">
                    <h4 class="sumary-label">Descripción</h4>{{item.description}}
                  </ion-col>
                  <ion-col width-15>
                    <h4 class="sumary-label">Tiempo</h4> {{item.time|number:'1.0'}}
                  </ion-col>
                </ion-row>
                </ion-card>
              </ion-item>
                <ion-item-options>
                  <ion-button icon-only color="primary" (click)="removeWork(item)" *ngIf="serviceForm.value.state=='QUOTATION'">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item-options>
              </ion-item-sliding>
            </section>
          </ion-list> -->


          <!-- <ion-card class="list-card" *ngIf="serviceForm.value.items.length">
          <ion-list no-lines >
            <ion-item-sliding  class="list-item" *ngFor="let item of serviceForm.value.inputs" style="border-bottom: 1px solid blue;">
              <ion-item >
              <ion-row  class="content-row one-line" >
                <ion-col  width-70 class="item-content" style="white-space: normal;">
                  <ion-row (click)="openItem(item)" class="product-name-row">
                    <ion-col width-20>
                      {{item.product.code}}
                    </ion-col>
                    <ion-col>
                      {{item.product.name}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col  width-50 class="item-content price-tag" (click)="editItemPrice(item)" >
                      <span class="price-label">Precio:</span> ${{item.price|number:'1.0'}}
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col>

                  <ion-row>
                    <ion-col  width-50 class="item-content">
                      <h4 class="sumary-label">Subtotal</h4> ${{item.price*item.quantity|number:'1.0'}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col  width-30>
                      <button class="quantity-button" (click)="remItem(item)">-</ion-button>

                    </ion-col>
                    <ion-col (click)="editItemQuantity(item)"  width-40 class="item-content" style="text-align: center;top:4px;">
                      {{item.quantity}}
                    </ion-col>
                    <ion-col  width-30>
                      <button class="quantity-button" (click)="sumItem(item)">+</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-item>
              <ion-item-options>
                <ion-button icon-only color="primary" (click)="deleteItem(item)" *ngIf="serviceForm.value.state!='QUOTATIONs'">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card> -->
          <!-- <ion-list *ngIf="serviceForm.value.inputs.length && show_inputs">
            <section>
              <ion-item-sliding no-padding class="list-item" *ngFor="let item of serviceForm.value.inputs">
                <ion-item no-padding
                 style="background-color: #ddd"
                 (click)="editInput(item)">
                  <ion-card class="list-card">
                <ion-row no-padding class="content-row one-line">
                  <ion-col no-padding width-55 class="item-content" style="white-space: normal;">
                    <h4 class="sumary-label">Product</h4>{{item.description}}
                  </ion-col>
                  <ion-col no-padding width-15 class="item-content" style="white-space: normal;">
                    <h4 class="sumary-label">Cantidad</h4> {{item.quantity|number:'1.0'}}
                  </ion-col>
                  <ion-col no-padding width-15 class="item-content" style="white-space: normal;">
                    <h4 class="sumary-label">Precio</h4>{{item.price}}
                  </ion-col>
                  <ion-col no-padding width-15 class="item-content" style="white-space: normal;">
                    <h4 class="sumary-label">SubTotal</h4>{{item.quantity*item.price}}
                  </ion-col>
                </ion-row>
              </ion-card>
              </ion-item>
                <ion-item-options>
                  <ion-button icon-only color="primary"
                   (click)="removeInput(item)"
                   *ngIf="serviceForm.value.state=='QUOTATION'">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item-options>
              </ion-item-sliding>
            </section>
          </ion-list> -->
          <ion-card class="list-card"  *ngIf="(serviceForm.value.state=='STARTED' || serviceForm.value.state=='CONFIRMED' || serviceForm.value.state=='PAID' || serviceForm.value.state=='CANCELED')  && !serviceForm.value.production">
            <ion-row>
              <ion-col (click)="showTravels()" width-10>
                <ion-icon name="arrow-dropdown"
                style="margin-left: 1rem;margin-top: 1rem;font-size: 3rem;color: #47ad4c;">
                </ion-icon>
              </ion-col>
              <ion-col width-75 (click)="showTravels()">
                <h4 class="section-title">{{'Viaticos' | translate}}</h4>
                <h4 class="client-name">$ {{serviceForm.value.travel_amount|number:'1.0'}}</h4>
              </ion-col>
              <ion-col width-15 class="item-content"
              *ngIf="serviceForm.value.state == 'STARTED'">
                <ion-button class="print-invoice"
                (click)="addTravel()">
                  <!-- Agregar Viaje -->
                  <ion-icon name="add"
                  style="font-size: 2rem;color: white;">
                  </ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-list no-lines *ngIf="serviceForm.value.travels.length && show_travels" style="border-top: 1px solid blue;">
              <ion-item-sliding  class="list-item" *ngFor="let item of serviceForm.value.travels" style="border-bottom: 1px solid blue;">
                  <ion-item
                    no-padding
                    >
                    <ion-row no-padding class="content-row one-line">
                      <ion-col width-50 (click)="editTravel(item)">
                        <h4 class="sumary-label">Distancia</h4>{{item.distance}}
                      </ion-col>
                      <ion-col width-25 (click)="editTravelPrice(item)">
                        <h4 class="sumary-label">Precio</h4> {{item.price|number:'1.0'}}
                      </ion-col>
                      <ion-col width-25 (click)="editTravelPrice(item)">
                        <h4 class="sumary-label">Subtotal</h4> {{item.price*item.distance|number:'1.0'}}
                      </ion-col>
                    </ion-row>
              </ion-item>
                <ion-item-options>
                  <ion-button icon-only color="primary" (click)="removeTravel(item)" *ngIf="serviceForm.value.state!='QUOTATIONs'">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-card>
          <!-- <ion-list *ngIf="serviceForm.value.travels.length && show_travels">
            <section>
              <ion-item-sliding no-padding class="list-item" *ngFor="let item of serviceForm.value.travels">
                <ion-item no-padding
                 style="background-color: #ddd"
                 (click)="editTravel(item)">
                  <ion-card class="list-card">
                <ion-row no-padding class="content-row one-line">
                  <ion-col no-padding width-85 class="item-content" style="white-space: normal;">
                    <h4 class="sumary-label">Distancia</h4>{{item.distance}}
                  </ion-col>
                  <ion-col width-15>
                    <h4 class="sumary-label">Tiempo</h4> {{item.time|number:'1.0'}}
                  </ion-col>
                </ion-row>
              </ion-card>
              </ion-item>
                <ion-item-options>
                  <ion-button icon-only color="primary" (click)="removeTravel(item)" *ngIf="serviceForm.value.state=='QUOTATION'">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item-options>
              </ion-item-sliding>
            </section>
          </ion-list> -->
          <!-- <ion-row *ngIf="serviceForm.value.state=='QUOTATION'"> -->
            <!-- <ion-item class="switcher-item">
              <ion-label>{{'IS_PRODUCTION' | translate}}</ion-label>
              <ion-toggle formControlName="production" (ionChange)="recomputeValues()"></ion-toggle>
            </ion-item> -->
            <!-- <ion-item
            no-padding
            (click)="selectProduct()"
            *ngIf="serviceForm.value.production"
             class="field-50">
              <h4 class="sumary-label">{{'PRODUCED_PRODUCT' | translate}}</h4>
              <h4 class="client-name">{{serviceForm.value.product.name || 'Selecionar'}}</h4>
            </ion-item>
            <ion-item
             no-padding
             *ngIf="serviceForm.value.production"
             class="field-50">
              <ion-label position="floating" style="font-size:14px">{{'PRODUCED_QUANTITY' | translate }}</ion-label>
              <ion-input #input type="number"
              formControlName="quantity"></ion-input>
            </ion-item> -->
        <!-- </ion-row> -->
          <ion-row>
            <ion-col
             class="item-content"
             *ngIf="serviceForm.value.state == 'QUOTATION' || serviceForm.value.state == 'SCHEDULED'">
              <ion-button class="print-invoice"
               (click)="setStarted()">
               Iniciar
              </ion-button>
            </ion-col>
            <ion-col class="item-content"
             *ngIf="serviceForm.value.state == 'QUOTATION'">
              <ion-button class="print-invoice"
               (click)="setSchedule()">
               Agendar
              </ion-button>
            </ion-col>



            <!-- <ion-col width-50 class="item-content"
            *ngIf="serviceForm.value.state == 'STARTED'">
              <ion-button class="print-invoice"
              (click)="addWork()">
                Agregar Trabajo
              </ion-button>
            </ion-col> -->
            <!-- <ion-col width-50 class="item-content"
            *ngIf="serviceForm.value.state == 'STARTED'">
              <ion-button class="print-invoice"
              (click)="addInput()">
                Agregar Insumo
              </ion-button>
            </ion-col> -->

            <ion-col width-50
            *ngIf="serviceForm.value.state == 'CONFIRMED' && ! serviceForm.value.production">
              <ion-button class="print-confirm"
              (click)="print()">
                Imprimir OS
              </ion-button>
            </ion-col>
            <ion-col width-50 class="item-content"
            *ngIf="serviceForm.value.state == 'CONFIRMED' && ! serviceForm.value.production">
              <ion-button class="print-invoice"
              (click)="beforeAddPayment()">
                Cobrar
              </ion-button>
            </ion-col>
            <ion-col width-50 class="item-content"
            *ngIf="(serviceForm.value.state == 'CONFIRMED'
             || serviceForm.value.state == 'PAID')
             && ! serviceForm.value.production
             && ! serviceForm.value.invoices.length">
              <ion-button class="print-invoice"
              (click)="addInvoice()">
                Crear Fatura
              </ion-button>
            </ion-col>
            <ion-col width-50 class="item-content"
            *ngIf="serviceForm.value.state == 'CONFIRMED'">
              <ion-button class="print-invoice"
              (click)="serviceCancel()">
                Cancelar
              </ion-button>
            </ion-col>
            <ion-col *ngIf="serviceForm.value.state == 'STARTED'">
              <ion-button class="print-invoice"
              (click)="beforeConfirm()">
                Concluir
              </ion-button>
            </ion-col>
          </ion-row>

          <!-- <ion-list no-lines *ngIf="serviceForm.value.invoices.length">
            <section>
            <h2 class="section-title">{{'INVOICE' | translate}}</h2>
            <ion-item-sliding class="list-item" *ngFor="let item of serviceForm.value.invoices">
              <ion-item (click)="openInvoice(item)" style="background-color: #ddd;">
                <ion-card class="list-card">
                <ion-row style="padding-top:10px; padding-bottom:10px;">
                <ion-col >
                  <h4 class="sumary-label">{{'NUMBER' | translate}}</h4>
                  <h4 class="client-name">{{item.number}}</h4>
                </ion-col>
                <ion-col >
                  <h4 class="sumary-label">{{'TAX' | translate}}</h4>
                  <h4 class="client-name">$ {{item.tax|number:'1.0'}}</h4>
                </ion-col>
                <button class="relation-button"
                [ngClass]="{following: !item.inverse_relation}"
                ion-button clear icon-only item-right>
                  <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
                </ion-button>
                </ion-row>
                </ion-card>
              </ion-item>
            </ion-item-sliding>
          </section>
          </ion-list>

          <ion-list no-lines *ngIf="serviceForm.value.payments.length">
            <section>
            <h2 class="section-title">{{'Recibos' | translate}}</h2>
            <ion-item-sliding class="list-item" *ngFor="let item of serviceForm.value.payments">
              <ion-item (click)="openPayment(item)" style="background-color: #ddd;">
                <ion-card class="list-card">
                <ion-row>
                <ion-col>
                  <h2 class="item-title" *ngIf="item.state=='CONFIRMED'">Recibido</h2>
                  <p class="item-description" rows="2">En {{item.date.toString().split('T')[0]}}</p>
                </ion-col>
                <ion-col>
                  <h4 class="sumary-label">{{'AMOUNT' | translate}}</h4>
                  <h4 class="client-name">$ {{item.paid|number:'1.0'}}</h4>
                </ion-col>
                <button class="relation-button"
                [ngClass]="{following: !item.inverse_relation}"
                ion-button clear icon-only item-right>
                  <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
                </ion-button>
                </ion-row>
                </ion-card>
              </ion-item>
              <ion-item-options>
              </ion-item-options>
            </ion-item-sliding>
          </section>
          </ion-list> -->



          <ion-card class="list-card" *ngIf="serviceForm.value.invoices.length" style="background-color: white">
          <!-- <ion-list no-lines > -->
            <!-- <section> -->
            <!-- <h2 class="section-title">{{'INVOICE' | translate}}</h2> -->
            <!-- <ion-item-sliding class="list-item" > -->

              <ion-item >
                <ion-row no-padding (click)="openInvoice(item)" *ngFor="let item of serviceForm.value.invoices" no-padding>
                <ion-col no-padding>
                  <!-- <h2 class="item-title">Fatura: {{item.number}}</h2> -->
                  <h4 class="sumary-label">{{'INVOICE' | translate}}</h4>
                  <h4 class="client-name">{{item.number}}</h4>
                </ion-col>
                <ion-col no-padding>
                  <!-- <h2 class="item-title">Fatura: {{item.number}}</h2> -->
                  <h4 class="sumary-label">{{'AMOUNT' | translate}}</h4>
                  <h4 class="client-name">$ {{item.total|number:'1.0'}}</h4>
                </ion-col>
                <!-- <button class="relation-button"
                [ngClass]="{following: !item.inverse_relation}"
                ion-button clear icon-only item-right>
                  <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
                </ion-button> -->
                <button class="relation-button"
                [ngClass]="{following: !item.inverse_relation}"
                ion-button clear icon-only item-right>
                  <ion-icon name="print"></ion-icon>
                </ion-button>

                </ion-row>
              </ion-item>
            <!-- </ion-item-sliding> -->
          <!-- </section> -->
          <!-- </ion-list> -->
          </ion-card>
          <ion-card class="list-card" *ngIf="serviceForm.value.payments.length">
          <!-- <ion-list no-lines > -->
            <!-- <section> -->
            <!-- <h2 class="section-title">{{'Recibos' | translate}}</h2> -->
            <!-- <ion-item-sliding class="list-item" > -->
              <ion-item>
                <ion-row (click)="openPayment(item)" *ngFor="let item of serviceForm.value.payments" no-padding>
                <ion-col no-padding>
                  <!-- <h2 class="item-title" *ngIf="item.state=='CONFIRMED'">{{'RECEIPT' | translate}}</h2>
                  <p class="item-description" rows="2">{{item.}}</p> -->
                  <h4 class="sumary-label">{{'RECEIPT' | translate}}</h4>
                  <h4 class="client-name">{{item._id}}</h4>
                </ion-col>
                <ion-col no-padding>
                  <!-- <h2 class="item-title">Monto: ${{item.paid}}</h2> -->
                  <h4 class="sumary-label">{{'RECEIVED' | translate}}</h4>
                  <h4 class="client-name">$ {{item.paid|number:'1.0'}}</h4>
                </ion-col>
                <button class="relation-button"
                [ngClass]="{following: !item.inverse_relation}"
                ion-button clear icon-only item-right>
                  <ion-icon name="print"></ion-icon>
                </ion-button>
                <!-- <button class="relation-button"
                [ngClass]="{following: !item.inverse_relation}"
                ion-button clear icon-only item-right>
                  <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
                </ion-button> -->
                </ion-row>
              </ion-item>
              <!-- <ion-item-options>
              </ion-item-options>
            </ion-item-sliding> -->
          <!-- </section> -->
          <!-- </ion-list> -->
          </ion-card>



  </form>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNextStep()" color="green">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-button>
  </ion-fab>
  <div style="height: 70px">

  </div>
</ion-content>
