<ion-header *ngIf="selected_user">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="login-header">
        <div class="login-header">
          <img src="./assets/icon/favicon.png"
          alt="Expositor Online" style="width: 50px;"/>
        </div>
        <div class="login-header" style="margin-top: 20px;">
          Ya estas online
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: #4496f3;">
  <form [formGroup]="loginForm">
    <div *ngIf="!selected_user">
      <div class="ion-no-padding login-box">
        <img src="./assets/images/logo.png"
        alt="Expositor Online"
        style="margin-bottom: 20px;"/>
        <ion-item class="login-input" *ngIf="!show_create">
          <ion-label position="floating" class="login-input-label">{{'USER' | translate}}</ion-label>
          <ion-input type="text" formControlName="user" autocomplete='name' class="login-input-field"></ion-input>
        </ion-item>
        <div class="validation-errors" *ngIf="!show_create">
          <ng-container *ngFor="let validation of validation_messages.user">
            <div class="error-message" *ngIf="loginForm.get('user').hasError(validation.type) && (loginForm.get('user').dirty || loginForm.get('user').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item class="login-input" *ngIf="!show_create">
          <ion-label position="floating" class="login-input-label">{{'PASSWORD' | translate}}</ion-label>
          <ion-input type="password" formControlName="password" autocomplete='name' class="login-input-field"></ion-input>
        </ion-item>
        <div class="validation-errors" *ngIf="!show_create">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <!-- <ion-item *ngIf="show_create" class="login-input">
          <ion-label position="floating" class="login-input-label">{{'NAME' | translate}}</ion-label>
          <ion-input type="text" formControlName="name" class="login-input-field"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message" *ngIf="loginForm.get('name').hasError(validation.type) && (loginForm.get('name').dirty || loginForm.get('name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item *ngIf="show_create" class="login-input">
          <ion-label position="floating" class="login-input-label">{{'PHONE' | translate}}</ion-label>
          <ion-input type="text" formControlName="mobile" class="login-input-field">
          </ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.mobile">
            <div class="error-message" *ngIf="loginForm.get('mobile').hasError(validation.type) && (loginForm.get('mobile').dirty || loginForm.get('mobile').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item *ngIf="show_create" class="login-input">
          <ion-label position="floating" class="login-input-label">{{'ADDRESS' | translate}}</ion-label>
          <ion-input type="text" formControlName="address" class="login-input-field">
          </ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.address">
            <div class="error-message" *ngIf="loginForm.get('address').hasError(validation.type) && (loginForm.get('address').dirty || loginForm.get('address').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div> -->

        <ion-button
        class="print-invoice"
        (click)="login()"
        *ngIf="!show_create"
        style="border-radius:10px;width:100%">
          {{ 'LOG_IN' | translate }}
        </ion-button>
        <!-- <ion-button
        class="print-invoice"
        (click)="seeDemo()"
        [disabled]="!loginForm.valid"
        color="success"
        *ngIf="show_create"
        style="border-radius:10px;width:100%">
          {{ 'SEE_DEMO' | translate }}
        </ion-button> -->

        <!-- <ion-button
        class="print-invoice"
        (click)="showCreate()"
        *ngIf="!show_create"
        color="success"
        style="border-radius:10px;width:100%">
          {{ 'SEE_DEMO' | translate }}
        </ion-button> -->

        <ion-row>
          <ion-col>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col style="text-align: center;">
            <a style="font-size:15px;" (click)="showLogin()" *ngIf="show_create">{{ 'BACK_TO_LOGIN' | translate }}</a>
          </ion-col>
        </ion-row> -->
      </div>
    </div>
  </form>

    <!-- <div *ngIf="selected_user" style="background: #2d3a98;">
      <h2 class="section-title" style="color:white;font-size: 1.5rem;padding: 0.6rem;">{{ 'HELLO' | translate}}  {{ username }}!</h2>
      <h2 class="section-title" style="color:white;font-size: 1rem;padding-bottom: 0.6rem;">{{ 'SELECT_A_COMPANY' | translate}}</h2>
      <ion-item *ngFor="let database of databaseList"
      class="bg-white"
      [class.bg-yellow]="database.admin && database.date_due && database.date_due.split('T')[0] < today.split('T')[0]">
        <ion-col (click)="selectDatabase(database)">
          {{database.name}}
        </ion-col>
        <ion-col (click)="selectDatabase(database)"
        *ngIf="!database.date_due || (database.date_due.split('T')[0] > today.split('T')[0] || today.split('-')[1] == database.date_due.split('-')[1])">
          <ion-button class="button-100" color="success">{{ 'ENTER' | translate }}</ion-button>
        </ion-col>
        <ion-col (click)="payDatabase(database)"
        *ngIf="database.admin && database.date_due && database.date_due.split('T')[0] < today.split('T')[0]">
          <ion-button class="button-100" [class.bg-blue]="today.split('-')[1] == database.date_due.split('-')[1]" [class.bg-red]="today.split('-')[1] != database.date_due.split('-')[1]">Pagar</ion-button>
        </ion-col>
      </ion-item>
    </div> -->

  <!-- <div style="height: 100px;">
  </div> -->
</ion-content>
