<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LOGIN' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-mini-content">

  <form class="sample-form validations-form" [formGroup]="loginForm">



<ion-row>
  <ion-col></ion-col>
</ion-row>
<div style="height:50px;">
  <ion-row *ngIf="selected_user">
    <h2 class="section-title">{{'Elija una Empresa' | translate}}</h2>
  </ion-row>
</div>

    <ion-row *ngIf="!selected_user">
      <ion-col></ion-col>
      <ion-col no-padding width-80>
            <img style="background: #f6f5f5;border-radius:10px;margin-bottom:10px;" src="./assets/images/login2.png"/>
        <ion-item  *ngIf="show_create" style="background:white;border-radius:10px;margin-bottom:10px;">
          <ion-label floating>{{'NAME' | translate}}</ion-label>
          <ion-input type="text" formControlName="name" autocomplete='name'></ion-input>
        </ion-item>
        <div class="validation-errors" style="color: red;">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message" *ngIf="loginForm.get('name').hasError(validation.type) && (loginForm.get('name').dirty || loginForm.get('name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item  *ngIf="show_create" style="background:white;border-radius:10px;margin-bottom:10px;">
          <ion-label floating>{{'PHONE' | translate}}</ion-label>
          <ion-input
            type="number"
            formControlName="mobile">
          </ion-input>
        </ion-item>
        <div class="validation-errors" style="color: red;">
          <ng-container *ngFor="let validation of validation_messages.mobile">
            <div class="error-message" *ngIf="loginForm.get('mobile').hasError(validation.type) && (loginForm.get('mobile').dirty || loginForm.get('mobile').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item style="background:white;border-radius:10px;margin-bottom:10px;">
          <ion-label floating>{{'USER' | translate}}</ion-label>
          <ion-input type="text"  formControlName="user" autocomplete='name'></ion-input>
        </ion-item>
        <div class="validation-errors" style="color: red;">
          <ng-container *ngFor="let validation of validation_messages.user">
            <div class="error-message" *ngIf="loginForm.get('user').hasError(validation.type) && (loginForm.get('user').dirty || loginForm.get('user').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item style="background:white;border-radius:10px;margin-bottom:10px;">
          <ion-label floating>{{'PASSWORD' | translate}}</ion-label>
          <ion-input type="password" formControlName="password" autocomplete='name'></ion-input>
        </ion-item>
        <div class="validation-errors" style="color: red;">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <button ion-button class="print-invoice"
          (click)="login()"
          *ngIf="!show_create"
          style="border-radius:10px;width:100%">
          Entrar
        </button>
        <button ion-button class="print-invoice"
          (click)="register()"
          [disabled]="!loginForm.valid"
          *ngIf="show_create"
          style="border-radius:10px;width:100%">
          Registrar
        </button>
        <ion-row>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center;">
            <a style="font-size:15px;" (click)="showCreate()" *ngIf="!show_create">Crear Cuenta</a>
            <a style="font-size:15px;" (click)="showLogin()" *ngIf="show_create">Volver al Login</a>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row *ngIf="selected_user">
      <ion-item class="database-list-item" *ngFor="let database of databaseList" (click)="selectDatabase(database)">
        {{database}}
      </ion-item>
    </ion-row>

    <ion-row *ngIf="selected_user">
      <ion-col style="text-align: right;">
        <a style="font-size:15px;" (click)="logout()">Salir</a>
        <!-- <a style="font-size:15px;" (click)="showLogin()">Hacer Login</a> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>
