.scrolling-wrapper-flexbox2 {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;


  .card {
    width: 25%;
    flex: 0 0 auto;
  }
  @media screen and (max-width: 1000px){
    .card {
      width: 33%;
      flex: 0 0 auto;
    }
  }
  @media screen and (max-width: 750px){
    .card {
      width:50%;
      flex: 0 0 auto;
    }
  }
  @media screen and (max-width: 500px){
    .card {
      width:100%;
      flex: 0 0 auto;
    }
  }
}
