<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <!-- <ion-menu-button></ion-menu-button> -->
        <ion-back-button defaultHref="/tabs/sale-list"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="{{ 'SEARCH_CLIENT' | translate }}"
      [(ngModel)]="searchTerm"
      #searchBar
      (ionChange)="searchItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only
        class="more-button"
              (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="scrolling-wrapper-flexbox2">
    <div class="card" *ngFor="let item of contacts; let i = index;">
      <ion-item-sliding class="list-item">
        <ion-item class="ion-no-padding">
          <ion-card class="list-card">

          <ion-row class="ion-no-padding">
            <ion-col size="2.5">
              <img style="height: 50px;width: auto;border-radius: 5px;"
              [src]="'data:image/png;base64,'+item._attachments['profile.png'].data"
              *ngIf="item._attachments && item._attachments['profile.png']">
              <img style="height: 50px;width: auto;border-radius: 5px;"
              src="./assets/images/sem_foto.jpg" *ngIf="!(item._attachments && item._attachments['profile.png'])">
            </ion-col>
            <ion-col class="ion-no-padding" (click)="selectContact(item)">
              <ion-row>
                <ion-col class="ion-no-padding">
                  <h3 class="item-title" style="white-space:normal"><b>{{ item.name }}</b></h3>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding">
                 <ion-col class="ion-no-padding" size="12">
                   <h3 class="item-title"  style="font-size:15px;">Phone: <b style="color: green;margin-left: 5px">{{item.phone}}</b></h3>
                   <!-- <h3 class="item-title"  style="font-size:15px;">Direccion: <b style="color: green;margin-left: 5px">{{item.address}}</b></h3> -->
                 </ion-col>
               </ion-row>
            </ion-col>
            <ion-col size="2" class="open-item-col" *ngIf="select" (click)="openContact(item)">
              <ion-icon name="open" class="open-item-arrow"></ion-icon>
            </ion-col>
          </ion-row>

        </ion-card>
      </ion-item>
        <ion-item-options>
          <ion-item-option (click)="deleteContact(item)"
          *ngIf="!item.fixed">
            {{ 'DELETE'| translate }}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <!-- <ion-row>
        <ion-card class="list-card" style="display: inline-block;">
        <ion-row  (click)="selectContact(item)">
          <ion-col size="4">
            <img style="height: 50px;width: auto;border-radius: 5px;"
            [src]="'data:image/png;base64,'+item._attachments['profile.png'].data"
            *ngIf="item._attachments && item._attachments['profile.png']">
            <img style="height: 50px;width: auto;border-radius: 5px;"
            src="./assets/images/sem_foto.jpg" *ngIf="!(item._attachments && item._attachments['profile.png'])">
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-row class="producto">
              <ion-col class="ion-no-padding">
                <h3 class="item-title" style="font-size: 13px;height: 30px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">{{ item.name }}</h3>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding content-row one-line">
              <ion-col class="ion-no-padding" style="text-align: right; margin-right: 0.5em;">
                <h2 class="list-big-number" style="color: green;font-size: 13px;">{{item.phone}}</h2>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-content">
          <div style="height: 22px;font-size: 10px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
            {{item.note}}
          </div>
          </ion-col>
        </ion-row>
      </ion-card>
      </ion-row> -->
    </div>
  </div>
  <!-- <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of contacts">
      <ion-item class="ion-no-padding">
        <ion-card class="list-card">

        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" (click)="selectContact(item)">
            <ion-row>
              <ion-col class="ion-no-padding">
                <h3 class="item-title" style="white-space:normal"><b>{{ item.name }}</b></h3>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding">
               <ion-col class="ion-no-padding" size="12">
                 <h3 class="item-title"  style="font-size:15px;">Documento: <b style="color: green;margin-left: 5px">{{item.document}}</b></h3>
                 <h3 class="item-title"  style="font-size:15px;">Direccion: <b style="color: green;margin-left: 5px">{{item.address}}</b></h3>
               </ion-col>
             </ion-row>
          </ion-col>
          <ion-col size="2" class="open-item-col" *ngIf="select" (click)="openContact(item)">
            <ion-icon name="open" class="open-item-arrow"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteContact(item)"
        *ngIf="!item.fixed">
          {{ 'DELETE'| translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createContact()">
          <ion-icon name="add"> </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
