<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/contact-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'MY_PROFILE'| translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="contactForm"  (ngSubmit)="onSubmit(contactForm.value)">
    <ion-row style="background: white;">
      <ion-col size="2">
        <img
        alt="Logo del producto"
        style="max-height: 250px;display: block;margin-left: auto;margin-right: auto;"
        [src]="'data:image/png;base64,'+contactForm.value._attachments['profile.png'].data"
        *ngIf="contactForm.value._attachments && contactForm.value._attachments['profile.png']">
        <img
        alt="Logo del producto"
        style="max-height: 250px;display: block;margin-left: auto;margin-right: auto;"
        src="./assets/images/sem_foto.jpg"
        *ngIf="!(contactForm.value._attachments && contactForm.value._attachments['profile.png'])">
      </ion-col>
      <ion-col>
        <ion-item  class="field-100">
          <ion-label position="floating">{{'NAME' | translate}}</ion-label>
          <ion-input #name type="text" formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="validation-errors" style="width: 100%">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="contactForm.get('name').hasError(validation.type) && (contactForm.get('name').dirty || contactForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item
      class="ion-no-padding"
      class="field-100">
      <ion-label position="floating">{{'PHONE' | translate}}</ion-label>
      <ion-input type="text"
      #phone
      formControlName="phone"></ion-input>
    </ion-item>
    <!-- <ion-item class="ion-no-padding" (click)="selectAddress()" class="field-100">
      <h4 class="field-label">{{'DELIVERY_ADDRESS' | translate }}</h4>
      <h4 class="field-value">{{contactForm.value.address && contactForm.value.address.name || 'SELECT' | translate}}</h4>
    </ion-item>
    <div #map id="map"></div> -->
  </ion-row>
<h1>Facturación</h1>
<ion-row>
      <ion-item
       class="ion-no-padding"
       class="field-100">
        <ion-label position="floating">{{'RUC' | translate}}</ion-label>
        <ion-input type="text"
        (ionChange)="changedDocument()"
        #document
        formControlName="document"></ion-input>
      </ion-item>
      <div class="validation-errors" style="width: 50%;">
        <ng-container *ngFor="let validation of validation_messages.document">
          <div class="error-message" *ngIf="contactForm.get('document').hasError(validation.type) && (contactForm.get('document').dirty || contactForm.get('document').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item class="field-100 ion-no-padding">
        <ion-label position="floating">{{'Razon Social' | translate}}</ion-label>
        <ion-input #name_legal type="text" formControlName="name_legal"></ion-input>
      </ion-item>

      <!-- <ion-button class="button-100" (click)="logout()">
        {{'LOGOUT'|translate}}
      </ion-button> -->
    </ion-row>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="contactForm.dirty">
    <ion-button (click)="buttonSave()"  color="success">
      <ion-icon name="save"> </ion-icon>
      {{ 'SAVE'| translate }}
    </ion-button>
  </ion-fab>
  <div style="height: 100px;">
  </div>
</ion-content>
