<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row>
        {{ 'RECEIPT' | translate }}: {{receiptForm.value.name}}
      </ion-row>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row justify-content-center>
    <ion-item no-padding class="field-100">
      <h4 class="field-label">{{'CONTACT' | translate}}</h4>
      <h4 class="field-value">{{receiptForm.value.contact && receiptForm.value.contact.name || ''}}</h4>
    </ion-item>
  </ion-row>
  <ion-row style="height: 43px;margin-top: 15px;">
    <ion-col size="4" no-padding>
      <h4 class="field-label" style="text-align: center;">{{'TOTAL' | translate }}</h4>
      <h4 class="field-value" style="color:black;font-size: 13px;text-align: center;margin-top: 0.2rem;margin-bottom: 1rem;" *ngIf="receiptForm.value.cash_paid.currency_id && receiptForm.value.cash_paid.currency_id != company_currency_id">{{currencies[company_currency_id] && currencies[company_currency_id].symbol }} {{receiptForm.value.total*receiptForm.value.exchange_rate|number:'1.'+currency_precision+'-2'}}</h4>
      <h4 class="field-value" style="color:blue;text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">{{currencies[company_currency_id] && currencies[receiptForm.value.cash_paid.currency_id || company_currency_id].symbol }} {{receiptForm.value.total|number:'1.'+currency_precision+'-2'}}</h4>
      <!-- <h4 class="field-value" style="color:blue;text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">$ {{receiptForm.value.exchange_rate|number:'1.'+currency_precision}}</h4> -->
    </ion-col>
    <ion-col size="4" no-padding>
      <h4 class="field-label" style="text-align: center;">{{'A Cobrar' | translate }}</h4>
      <h4 class="field-value" style="color:black;font-size: 13px;text-align: center;margin-top: 0.2rem;margin-bottom: 1rem;" *ngIf="receiptForm.value.cash_paid.currency_id && receiptForm.value.cash_paid.currency_id != company_currency_id">{{currencies[company_currency_id] && currencies[company_currency_id].symbol }} {{receiptForm.value.residual*receiptForm.value.exchange_rate|number:'1.'+currency_precision+'-2'}}</h4>
      <h4 class="field-value" style="color:red;text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">{{currencies[company_currency_id] && currencies[receiptForm.value.cash_paid.currency_id || company_currency_id].symbol }} {{receiptForm.value.residual|number:'1.'+currency_precision+'-2'}}</h4>
    </ion-col>
    <ion-col size="4" no-padding>
      <h4 class="field-label" style="text-align: center;">{{'Troco' | translate }}</h4>
      <h4 class="field-value" style="color:black;font-size: 13px;text-align: center;margin-top: 0.2rem;margin-bottom: 1rem;" *ngIf="receiptForm.value.cash_paid.currency_id && receiptForm.value.cash_paid.currency_id != company_currency_id">{{currencies[company_currency_id] && currencies[company_currency_id].symbol }} {{receiptForm.value.change*receiptForm.value.exchange_rate|number:'1.'+currency_precision+'-2'}}</h4>
      <h4 class="field-value" style="color:green;text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">{{currencies[company_currency_id] && currencies[receiptForm.value.cash_paid.currency_id || company_currency_id].symbol }} {{receiptForm.value.change|number:'1.'+(currencies[company_currency_id] && currencies[receiptForm.value.cash_paid.currency_id || company_currency_id].precision|| currency_precision)+'-2'}}</h4>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content class="receipt-content" style="background-color: #ddd">
  <form class="sample-form validations-form" [formGroup]="receiptForm" (ngSubmit)="onSubmit(receiptForm.value)">
    <ion-card class="list-card" style="width: 96%; margin-left:5px;" *ngIf="receiptForm.value.state == 'DRAFT'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label *ngIf="receiptForm.value.signal == '+'" position="floating" style="font-size:14px">{{'AMOUNT_RECEIVED' | translate}}</ion-label>
            <ion-label *ngIf="receiptForm.value.signal == '-'" position="floating" style="font-size:14px">{{'AMOUNT_PAID' | translate}}</ion-label>
            <ion-input #amount_paid type="number" formControlName="amount_paid" (ionChange)="recomputeValues()" [disabled]="!this.isEmpty(receiptForm.value.check) || receiptForm.value.cash_paid.type == 'check'"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col (click)="selectCash()" style="margin-top: 20px;">
          <h4 class="field-label">{{'CASH' | translate}}</h4>
          <h4 class="field-value">{{receiptForm.value.cash_paid && receiptForm.value.cash_paid.name}}</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="receiptForm.value.cash_paid.currency_id && receiptForm.value.cash_paid.currency_id != company_currency_id">
          <ion-item>
            <ion-label position="floating" style="font-size:14px">{{'EXCHANGE_RATE' | translate}}</ion-label>
            <ion-input #exchange_rate type="number" formControlName="exchange_rate" (ionChange)="recomputeValues()" [disabled]="!this.isEmpty(receiptForm.value.check) || receiptForm.value.cash_paid.type == 'check'"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!hasCheck() && ((receiptForm.value.cash_paid.type == 'check' && receiptForm.value.signal == '+') || (receiptForm.value.cash_paid.type == 'bank' && receiptForm.value.signal == '-'))">
        <ion-col>
          <ion-button class="button-100" (click)="createCheck()">Registrar Cheque</ion-button>
        </ion-col>
      </ion-row>
      <ion-item class="field-100" *ngIf="!(receiptForm.value.cash_paid.type == 'check' && receiptForm.value.signal == '-') && receiptForm.value.cash_paid.type != 'cash' && hasCheck()" (click)="editCheck()">
        <div class="field-many2one">
          <h4 class="field-label">{{'Cheque' | translate}}</h4>
          <h4 class="field-value">{{receiptForm.value.check && receiptForm.value.check.name || 'Seleccionar'}}</h4>
        </div>
      </ion-item>
      <ion-item class="field-100" *ngIf="receiptForm.value.cash_paid.type == 'check' && receiptForm.value.signal == '-'" (click)="selectCheck()">
        <div class="field-many2one">
          <h4 class="field-label">{{'Cheque' | translate}}</h4>
          <h4 class="field-value">{{receiptForm.value.check && receiptForm.value.check.name || 'Seleccionar'}}</h4>
        </div>
      </ion-item>
    </ion-card>
    <ion-item class="field-100" (click)="selectAccount()" *ngIf="showDiffAccount()">
      <div class="field-many2one">
        <h4 class="field-label">{{'Diferencia' | translate}}</h4>
        <h4 class="field-value">{{receiptForm.value.difference_account && receiptForm.value.difference_account.name || 'Dejar en Abierto'}}</h4>
      </div>
    </ion-item>
    <ion-list no-lines>
      <ion-item-sliding class="list-item" *ngFor="let item of receiptForm.value.payments">
        <ion-item style="background-color: #ddd;width: 110%;margin-left: -21px;">
          <ion-card class="list-card">
            <ion-row class="field-100" style="height: 50px;">
              <ion-col (click)="editPaymentAmount(item)">
                <h4 class="currency-label" *ngIf="receiptForm.value.signal == '+'">{{'AMOUNT_RECEIVED' | translate}}</h4>
                <h4 class="currency-label" *ngIf="receiptForm.value.signal == '-'">{{'AMOUNT_PAID' | translate}}</h4>
                <h4 class="currency-value">${{item.amount}}</h4>
              </ion-col>
              <ion-col (click)="editPaymentCash(item)">
                <h4 class="currency-label">{{'CASH' | translate}}</h4>
                <h4 class="currency-value" *ngIf="receiptForm.value.signal=='+'">{{item.accountTo_name}}</h4>
                <h4 class="currency-value" *ngIf="receiptForm.value.signal=='-'">{{item.accountFrom_name}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
        <ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-row>
      <ion-col class="item-content" *ngIf="receiptForm.value.state == 'CONFIRMED'">
        <ion-button class="button-100" color="success" (click)="print()">
          <ion-icon name="print" style="margin-right:10px;"></ion-icon>Imprimir Recibo
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-list no-lines>
      <ion-item-sliding class="list-item" *ngFor="let item of receiptForm.value.items_details">
        <ion-item no-padding (click)="selectCashMove(item)" style="margin-bottom: 0px; margin-top:0px;">
          <ion-card class="list-card" style="border-radius: 5px;">
            <ion-row no-padding>
              <ion-col no-padding>
                <h3 class="item-title"><b>{{ item.name }}</b></h3>
              </ion-col>
            </ion-row>
            <ion-row no-padding class="content-row one-line">
              <ion-col no-padding>
                Fecha: {{item.date|date: 'dd/MM/yyyy'}}
              </ion-col>
              <ion-col no-padding class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
                <h3 class="list-big-number amount" style="color: red;">$ {{item.amount_dued| number:'1.'+currency_precision}}</h3>
              </ion-col>
              <ion-col no-padding class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
                <h3 class="list-big-number amount" style="color: green;">$ {{item.amount_paid| number:'1.'+currency_precision}}</h3>
              </ion-col>
            </ion-row>

            <!-- <ion-row no-padding [class.paid]="item.accountFrom_id.split('.')[1] != 'cash' && item.accountTo_id.split('.')[1] == 'cash'" [class.due]="item.accountFrom_id.split('.')[1] == 'cash' && item.accountTo_id.split('.')[1] != 'cash'"
              [class.quotation]="item.accountFrom_id.split('.')[1] == 'cash' && item.accountTo_id.split('.')[1] == 'cash'" [class.confirmed]="item.accountFrom_id.split('.')[1] != 'cash' && item.accountTo_id.split('.')[1] != 'cash'">
              <ion-col no-padding width-45 style="text-align: center;border-radius: 4px;">
                {{ item.accountFrom_name | translate}}
              </ion-col>
              <ion-col no-padding width-10 class="item-icon" (click)="openAsset(item)">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-col>
              <ion-col no-padding width-45 style="text-align: center;border-radius: 4px;">
                {{ item.accountTo_name | translate}}
              </ion-col>
            </ion-row> -->
          </ion-card>
        </ion-item>

      </ion-item-sliding>
    </ion-list>


    <!-- <ion-row *ngIf="receiptForm.value.state == 'CONFIRMED' && receiptForm.value.amount_unInvoiced > 0">
      <ion-col width-33 class="field-label" no-padding>
        <h4 class="field-label" style="text-align: center;">{{'A Facturar' | translate }}</h4>
        <h4 class="sumary-value positive" style="text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">$ {{receiptForm.value.amount_unInvoiced|number:'1.'+currency_precision}}</h4>
      </ion-col>
      <ion-col class="item-content">
        <ion-button style="background-color: #278c2c" class="print-receipt" (click)="createInvoice()">Crear Factura</ion-button>
      </ion-col>
    </ion-row>
    <ion-list no-lines *ngIf="receiptForm.value.invoices.length">
      <section>
        <h2 class="section-title">{{'INVOICE' | translate}}</h2>
        <ion-item-sliding class="list-item" *ngFor="let item of receiptForm.value.invoices">
          <ion-item (click)="openInvoice(item)" style="background-color: #ddd;">
            <ion-card class="list-card">
              <ion-row style="padding-top:10px; padding-bottom:10px;">
                <ion-col>
                  <h4 class="field-label">{{'NUMBER' | translate}}</h4>
                  <h4 class="field-value">{{item.number}}</h4>
                </ion-col>
                <ion-col>
                  <h4 class="field-label">{{'TAX' | translate}}</h4>
                  <h4 class="field-value">$ {{item.tax|number:'1.'+currency_precision}}</h4>
                </ion-col>
                <ion-button class="relation-button" [ngClass]="{following: !item.inverse_relation}" clear icon-only item-right>
                  <ion-icon *ngIf="item.state=='CONFIRMED'" name="print"></ion-icon>
                </ion-button>
              </ion-row>
            </ion-card>
          </ion-item>
        </ion-item-sliding>
      </section>
    </ion-list> -->
  </form>
  <ion-row style="height:120px;">
  </ion-row>
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNextStep()" color="green">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showNextButton()">
    <ion-button (click)="goNextStep()" class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      Proximo
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger">
      <ion-icon name="backspace" *ngIf="receiptForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!receiptForm.dirty"> </ion-icon>
      <span *ngIf="receiptForm.dirty">Descartar</span>
      <span *ngIf="!receiptForm.dirty">Volver</span>
    </ion-button>
  </ion-fab>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="receiptForm.dirty">
    <ion-button (click)="buttonSave()"  color="success">
      <ion-icon name="save"> </ion-icon>
      Guardar
    </ion-button>
  </ion-fab> -->
  <div style="height: 100px;">
  </div>
</ion-content>
