<ion-menu [content]="content" [swipeEnabled]="true">
  <ion-content class="menu-content">
    <div class="user-details">
      <ion-row class="user-main-data-row">
        <ion-col no-padding width-33  (click)="editProfile()">
          <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="image" alt="profile.user.name" title="teste"></preload-image>
        </ion-col>
        <ion-col no-padding>
          <ion-row class="social-presence-row" (click)="editProfile()">
            <ion-col width-100 class="social-presence-item">
                <h4>{{ name | translate }}</h4>
                <!-- <h2 class="social-presence-value">15</h2> -->
            </ion-col>
            <!-- <ion-col width-50 class="social-presence-item">
              <a (click)="goToFollowingList()">
                <h2 class="social-presence-value">10</h2>
                <h4 class="social-presence-title">{{'FOLLOWING' | translate }}</h4>
              </a>
            </ion-col> -->
          </ion-row>
          <ion-row class="profile-action-row">
            <ion-col no-padding>
              <ion-button block small (click)="logout()">
                {{'Cambiar' | translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <ion-list class="menu-list">
      <button ion-item detail-none *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </ion-button>
      <button ion-item detail-none *ngFor="let page of pushPages" (click)="pushPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
