<ion-tabs>
  <ion-row *ngIf="order" (click)="openOrder()">
    <ion-toolbar style="--ion-background-color: linear-gradient(to left,#c50303,#a92c2c);color: white;">
      <ion-title *ngIf="this.order.state == 'QUOTATION'">
        Ver pedido
      </ion-title>
      <ion-title  *ngIf="this.order.state == 'CONFIRMED'">
        Rastrear pedido
      </ion-title>
      <ion-buttons slot="end">
        <ion-button style="font-size: 25px;">
           {{order.total|number}} G$
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="product-list">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>{{'Cardapio'|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sale-list">
      <ion-icon name="cart"></ion-icon>
      <ion-label>{{'Pedidos'|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>{{'Perfil'|translate}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
