<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="product-list">
      <ion-icon name="pricetag"></ion-icon>
      <ion-label>{{'CARTE'|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sale-list">
      <ion-icon name="cart"></ion-icon>
      <ion-label>{{'ORDERS'|translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contact-list">
      <ion-icon name="contact"></ion-icon>
      <ion-label>{{'CLIENTS'|translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="config">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{'SETTINGS'|translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
