<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sale-list"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="{{ 'SEARCH_INVOICE' | translate }}"
      [(ngModel)]="searchTerm"
      #searchbar
      (ionChange)="searchItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of invoices">
      <ion-item no-padding (click)="openInvoice(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="">
          <ion-row>
            <ion-col>
              <h3 class="item-title"><b>{{ item.code }}</b></h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding width-20 class="schedule-date">
              <!-- <h2 class="list-big-number">{{item.code || item.number}}</h2> -->
              <h3 style="font-size: 15px;font-weight: normal;margin-top:0;margin-bottom:0;">
                <span style="margin-left: 5px">{{item.contact_name}}</span>
              </h3>
            </ion-col>
          </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-35 class="schedule-date">
          <!-- -->
          <h3 class="schedule-month" style="font-size: 15px;font-weight: normal;margin-top:0;margin-bottom:0;margin-left: 5px">{{item.date|date: 'dd/MM/yyyy'}}</h3>
          <h3 style="font-size: 15px;font-weight: normal;margin-top:0;margin-bottom:0;" class="item-title">{{item.paymentCondition | translate}}</h3>
        </ion-col>
        <ion-col no-padding width-65 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
          <h2 *ngIf="item.total > 0" class="list-big-number" style="color: green;">$ {{item.total| number:'1.'+currency_precision}}</h2>
          <h2 *ngIf="item.total <= 0" class="list-big-number" style="color: red;">$ {{item.total| number:'1.'+currency_precision}}</h2>
          <div *ngIf="item.residual != 0 && item.state!='CANCELED'" style="color: red;">
            $ {{ item.residual | number:'1.'+currency_precision }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col no-padding
        style="text-align: center;border-radius: 4px;"
        [class.quotation]="item.state=='QUOTATION'"
        [class.confirmed]="item.state=='RECEIVED'"
        [class.paid]="item.state=='PRINTED'"
        [class.cancel]="item.state=='CANCELED'">
            {{ item.state | translate }}
        </ion-col>
      </ion-row>
      </ion-card>

    </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteInvoice(item)"
        *ngIf="item.state=='QUOTATION'">
          {{ 'DELETE'| translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-row style="height:15px;">
  </ion-row>
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createInvoice()" color="green">
          <ion-icon name="add">
          </ion-icon>
      </ion-button>
  </ion-fab> -->

  <!-- <ion-fab center bottom #fab> -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed"  #fab>
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <div style="background: #FF5722;color: white;margin-top: -5px;">
        {{'CLIENT'| translate}}
      </div>
      <ion-button style="background: #FF5722;color: white;margin-bottom: 5px;"
      ion-fab
      (click)="createInvoice(fab)">
        <ion-icon name="arrow-round-up"></ion-icon>
      </ion-button>
    <div style="background: #4CAF50;color: white;margin-top: -5px;">
      {{'SUPPLIER'| translate}}
    </div><ion-button style="background: #4CAF50;color: white;margin-bottom: 5px;"
    ion-fab
    (click)="createInvoiceIn(fab)">
      <ion-icon name="arrow-round-down"></ion-icon>
    </ion-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
