<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/agro-tabs/work-list"></ion-back-button> -->
      <ion-button (click)="discard()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ workForm.value.name || workForm.value.activity && workForm.value.activity.name || 'TASK' | translate }}
      <h1 class="subtitle" (click)="showDate()">
        {{'FROM'|translate}} {{ workForm.value.date|date: 'dd/MM/yyyy' }} {{'TO'|translate}} {{ workForm.value.dateEnd|date: 'dd/MM/yyyy' }}
      </h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only
              (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row  class="state-header" *ngIf="!this.list">
    <ion-col
     (click)="showPlanData()"
    *ngIf="workForm.value.state =='DRAFT'">
      <div class="clicked arron">
        <span class="state-label">{{ 'DRAFT' | translate}}</span>
      </div>
    </ion-col>
    <ion-col (click)="showPlanData()"
    *ngIf="workForm.value.state =='SCHEDULED' || workForm.value.scheduled">
      <div class="clicked arron">
        <span class="state-label">{{ 'SCHEDULED' | translate}}</span>
      </div>
    </ion-col>
    <ion-col *ngIf="workForm.value.state =='SCHEDULED' || workForm.value.state =='DRAFT'|| workForm.value.scheduled">
      <div
      [class.unclicked]="workForm.value.state!='STARTED' && workForm.value.state!='DONE'"
      [class.clicked]="workForm.value.state=='STARTED' || workForm.value.state=='DONE'"
      class="arrow">
        <span class="state-label">{{ 'STATE_STARTED' | translate}}</span>
      </div>
    </ion-col>
    <ion-col (click)="showPlanData()"
    *ngIf="(workForm.value.state =='STARTED' || workForm.value.state=='DONE') && !workForm.value.scheduled">
      <div class="clicked arron">
        <span class="state-label">{{ 'STATE_STARTED' | translate}}</span>
      </div>
    </ion-col>
    <ion-col>
      <div [class.unclicked]="workForm.value.state!='DONE'"
      [class.clicked]="workForm.value.state=='DONE'"
      class="arrow">
        <span class="state-label">{{ 'STATE_DONE' | translate}}</span>
      </div>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content class="work-content" style="background-color: #ddd">

  <form class="sample-form validations-form"
  [formGroup]="workForm"
  (ngSubmit)="onSubmit(workForm.value)" >
    <ion-row justify-content-center
    *ngIf="editDate ||((workForm.value.state == 'DRAFT')  && !this.list)">
        <ion-item no-padding class="field-50">
          <h4 class="field-label">{{'DATE_START' | translate }}</h4>
          <ion-datetime class="field-50-datetime"
          displayFormat="DD/MM/YYYY HH:mm"
          pickerFormat="DD/MM/YYYY HH:mm"
          [disabled]="workForm.value.state=='SCHEDULED' || workForm.value.state=='DONE'"
          (ionChange)="dateChanged()"
          [max]="today.getFullYear()+5"
          formControlName="date">
          </ion-datetime>
        </ion-item>
        <ion-item no-padding class="field-50">
          <h4 class="field-label">{{'DATE_END' | translate }}</h4>
          <ion-datetime class="field-50-datetime"
          displayFormat="DD/MM/YYYY HH:mm"
          pickerFormat="DD/MM/YYYY HH:mm"
          (ionChange)="dateEndChanged()"
          [max]="today.getFullYear()+5"
          [disabled]="workForm.value.state=='SCHEDULED' || workForm.value.state=='DONE'"
          formControlName="dateEnd">
          </ion-datetime>
        </ion-item>
        <!-- <ion-item no-padding (click)="selectActivity()" class="field-50">
          <h4 class="field-label">{{'Atividade' | translate}}</h4>
          <h4 class="field-value">{{workForm.value.activity && workForm.value.activity.name || 'Ningun'}}</h4>
        </ion-item> -->
    </ion-row>
    <!-- <ion-list no-lines>
      <section>
      </section>
    </ion-list> -->
        <ion-row>
          <ion-item-sliding class="list-item"
          *ngFor="let field of filterFields(workForm.value.fields)"
          [style.width]="field.class == 'half-width' ? '50%' : '100%'">
            <ion-item class="field-100" *ngIf="field.type == 'boolean'">
              <ion-label>{{field.label|translate}}</ion-label>
              <ion-toggle [formControlName]="field.name"></ion-toggle>
            </ion-item>
            <ion-item class="switcher-item" *ngIf="field.type == 'button'">
              <ion-button class="print-invoice"
                  (click)="buttonPress(field)">
                  {{ field.label|translate }}
                </ion-button>
            </ion-item>
            <ion-item
            class="field-100"
            *ngIf="field.type == 'integer'"
            (ionChange)="recomputeFields()">
              <ion-label position="floating">{{field.label|translate}}</ion-label>
              <ion-input type="number"
              [disabled]="workForm.value.state=='SCHEDULED' || workForm.value.state=='DONE'"
              [disabled]="calculate(field.readonly)"
              [formControlName]="field.name"
              [id]="field.name"
              text-center>
              </ion-input>
            </ion-item>
            <ion-item class="field-100"
            *ngIf="field.type == 'float'">
              <ion-label position="floating">{{field.label|translate}}</ion-label>
              <ion-input type="number"
              [disabled]="workForm.value.state=='SCHEDULED' || workForm.value.state=='DONE'"
              style="height: 47px"
              [formControlName]="field.name"
              [id]="field.name"
              [disabled]="calculate(field.readonly)"
              text-center
              (ionChange)="recomputeFields()">
            </ion-input>
            </ion-item>
            <ion-item class="field-100" *ngIf="field.type == 'string'">
              <ion-label position="floating">{{field.label|translate}}</ion-label>
              <ion-input type="text"
              [formControlName]="field.name"
              [disabled]="workForm.value.state=='SCHEDULED' || workForm.value.state=='DONE'"
              text-center
              [id]="field.name">
              </ion-input>
            </ion-item>
            <ion-item class="field-100" *ngIf="field.type == 'progress'">
              <span style="margin-top: -20px;position: absolute;font-size: 13px;">{{field.label|translate}}</span>
              <ion-range min="0" max="100" color="primary"
              [disabled]="workForm.value.state=='SCHEDULED' || workForm.value.state=='DONE'"
              [formControlName]="field.name"
              pin="true" snaps="true">
                <ion-label slot="start">0</ion-label>
                <ion-label slot="end">100%</ion-label>
              </ion-range>
            </ion-item>
            <ion-item *ngIf="field.type == 'formula'" class="field-100" style="--background: #dddddd;border:0px;">
              <div class="field-many2one" style="border: 0px;">
                <h4 class="field-label">{{field.label|translate}}</h4>
                <h4 class="field-value-bigger" style="font-size: 20px;color: #1a73e8;margin-top: 10px;">{{ fields[field.name]|number:'1.'+currency_precision}}</h4>
              </div>
            </ion-item>
            <ion-item *ngIf="field.type == 'many2one'"  class="field-100" (click)="selectM2O(field, field.model, field.context)">
              <div class="field-many2one">
                <h4 class="field-label">{{field.label|translate}}</h4>
                <h4 class="field-value-bigger">{{workForm.value[field.name] && (workForm.value[field.name].name || workForm.value[field.name].code) || 'SELECT'|translate}}</h4>
              </div>
            </ion-item>


            <ion-list style="background-color: #ddd" *ngIf="field.type == 'list' && workForm.value[field.name] && workForm.value[field.name].length > 0">
              <h2 class="section-title" style="color:#1c61f3;background: white;border: 1px solid;border-top-left-radius: 5px;border-top-right-radius: 5px;">{{ field.label|translate | translate}}</h2>
              <ion-item-sliding class="list-item" *ngFor="let item of workForm.value[field.name]; let i = index;">
                <ion-item style="--background: white;">
                  <div style="width: 100%">
                    <ion-row style="width: 100%" (click)="editFieldItem(field.name, i)">
                      <ion-col *ngFor="let atribute of field.attributes;">
                        <h4 class="field-label" style="margin-top: 0px;">{{atribute.label|translate}}</h4>
                        <h4 class="user-name"  style="margin-bottom: 0px;">{{item[atribute.name] && item[atribute.name].name || item[atribute.name]}}</h4>
                      </ion-col>
                    </ion-row>
                    <ion-row no-padding>
                      <ion-col class="item-content" style="white-space: normal;">
                        {{item.note}}
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-item>
                <ion-item-options>
                  <ion-item-option (click)="removeFieldItem(field.name, i)"
                  *ngIf="(workForm.value.state == 'STARTED' || workForm.value.state == 'DRAFT')">
                    {{'DELETE'|translate}}
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              <ion-row style="background: #1c61f3;border-radius: 7px;border: 1px solid #1c61f3; border-top-left-radius: 0px;border-top-right-radius: 0px;"
              (click)="addFieldItem(field.name)"
              *ngIf="(workForm.value.state == 'STARTED' || workForm.value.state == 'DRAFT')">
                <a style="color:white;cursor: default;font-size:16px;margin-left: 32%;margin-top: 8px;margin-bottom: 8px;">
                  {{'ADD'|translate}} {{ field.label|translate }}
                </a>
              </ion-row>
            </ion-list>



            <ion-item style="background-color: #ddd" *ngIf="field.type == 'list' && workForm.value[field.name].length == 0 && (workForm.value.state == 'STARTED' || workForm.value.state == 'DRAFT')">
              <ion-row style="background: #1c61f3;border: 1px solid #1c61f3;width: 100%;"
              (click)="addFieldItem(field.name)">
                <a style="color:white;cursor: default;font-size:16px;margin-left: 32%;margin-top: 8px;margin-bottom: 8px;">
                  {{'ADD'|translate}} {{ field.label|translate }}
                </a>
              </ion-row>
            </ion-item>

            <ion-item class="field-100" *ngIf="field.type == 'date'" >
              <ion-label position="floating">{{field.label|translate}}</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY"
              pickerFormat="DD/MM/YYYY"
              [disabled]="calculate(field.readonly)"
              [formControlName]="field.name"
              [max]="today.getFullYear()+5">
              </ion-datetime>
            </ion-item>
          </ion-item-sliding>
        </ion-row>


    <ion-segment formControlName="section" class="cash-segment" (ionChange)="cleanSection()">
      <ion-segment-button class="list-item"
      *ngFor="let field of filterTabs(workForm.value.fields)"
      [value]="field.name">
        {{ field.label|translate }}
      </ion-segment-button>
    </ion-segment>

    <div class="forms-wrapper" *ngFor="let field of filterTabs(workForm.value.fields)">
        <div *ngIf="workForm.value.section == field.name" class="post-example-view">
          <ion-list style="background-color: #ddd;padding-top:3px;padding-bottom: 0px;" *ngIf="field.type == 'tab' && workForm.value[field.name] && workForm.value[field.name].length > 0">
            <ion-item-sliding class="list-item" *ngFor="let item of workForm.value[field.name]; let i = index;">
              <ion-item style="--background: white;">
                <div style="width: 100%">
                  <ion-row (click)="editFieldItem(field.name, i)">
                    <ion-col *ngFor="let atribute of field.attributes;">
                      <h4 class="field-label" style="margin-top: 0px;">{{atribute.label|translate}}</h4>
                      <h4 class="user-name"  style="margin-bottom: 0px;text-align: center;">{{item[atribute.name] && item[atribute.name].name || item[atribute.name]}}</h4>
                    </ion-col>
                  </ion-row>
                  <ion-row no-padding>
                    <ion-col class="item-content" style="white-space: normal;">
                      {{item.note}}
                    </ion-col>
                  </ion-row>
                </div>
              </ion-item>
              <ion-item-options>
                <ion-item-option (click)="removeFieldItem(field.name, i)"
                *ngIf="!item.fixed && (workForm.value.state == 'STARTED' || workForm.value.state == 'DRAFT')">
                  {{'DELETE'|translate}}
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
            <ion-col size="12" *ngIf="(workForm.value.state == 'STARTED' || workForm.value.state == 'DRAFT')">
              <ion-button
              (click)="addFieldItem(field.name)"
              class="button-100"
              color="success">
                {{'ADD'|translate}} {{ field.label|translate }}
              </ion-button>
            </ion-col>
        </div>
    </div>
    <ion-item  class="field-100" style="margin-top: 10px;">
      <ion-label position="stacked">{{ 'NOTE' | translate }}</ion-label>
      <ion-textarea #note formControlName="note"
        [disabled]="workForm.value.state=='SCHEDULED' || workForm.value.state=='DONE'"
        autoGrow="false"
        rows="2">
      </ion-textarea>
    </ion-item>
    <!-- <ion-item>
      <ion-button
        class="button-50"
        color="primary"
        (click)="startPlan()"
        *ngIf="workForm.value.date>this.today">
        {{'TO_PLAN'|translate}}
      </ion-button>
    </ion-item> -->
    <!-- <ion-button
      class="button-50"
      color="primary"
      (click)="startWork()"
      *ngIf="((workForm.value.date<=today && workForm.value.state=='DRAFT') || workForm.value.state=='SCHEDULED') && !this.list">
      {{'START'|translate}}
    </ion-button> -->
    <!-- <ion-button class="button-100" color="primary" (click)="concludeWork()" *ngIf="workForm.value.state=='STARTED' && !this.list">{{'CONCLUDE'|translate}}</ion-button> -->
  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="workForm.value.state=='DRAFT' && workForm.value.date>today.toISOString() && !this.list">
    <ion-button (click)="setScheduled()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      {{'SCHEDULE'|translate}}
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="((workForm.value.state=='DRAFT' && workForm.value.date<=today.toISOString()) || workForm.value.state=='SCHEDULED') && !this.list">
    <ion-button (click)="setStarted()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      {{'START'|translate}}
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="workForm.value.state=='STARTED' && !this.list">
    <ion-button (click)="concludeWork()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      {{'CONCLUDE'|translate}}
    </ion-button>
  </ion-fab>

  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger" class="discard-button">
      <ion-icon name="backspace" *ngIf="workForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!workForm.dirty"> </ion-icon>
      <span *ngIf="workForm.dirty">{{'DISCARD'|translate}}</span>
      <span *ngIf="!workForm.dirty">{{'GO_BACK'|translate}}</span>
    </ion-button>
  </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="workForm.dirty">
    <ion-button (click)="buttonSave()"  color="success" class="save-button">
      <ion-icon name="save"> </ion-icon>
      {{'SAVE'|translate}}
    </ion-button>
  </ion-fab>
  <div style="height: 100px;">
  </div>
</ion-content>
