<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/warehouse-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-row>
        {{warehouseForm.value.name}}
      </ion-row>
    </ion-title>

    <ion-buttons slot="end" >
      <ion-button (click)="buttonSave()" [hidden]="!warehouseForm.dirty">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form class="sample-form validations-form" [formGroup]="warehouseForm" (ngSubmit)="onSubmit(warehouseForm.value)">
    <ion-row justify-content-center>
      <ion-item
       no-padding
       class="field-50">
        <ion-label position="floating" style="font-size:14px">{{'NAME' | translate}}</ion-label>
        <ion-input #input type="text"
        formControlName="name"></ion-input>
      </ion-item>
      <ion-col style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;">
        {{'CURRENT_STOCK' | translate }}<div class="warehouse-move-amount" style="text-align: center"> {{warehouseForm.value.balance|number:'1.'+currency_precision}} Un.</div>
      </ion-col>
    </ion-row>
    <ion-list no-lines>
      <ion-item-sliding class="list-item" *ngFor="let item of warehouseForm.value.moves">
      <ion-item no-padding (click)="openItem(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;">
      <ion-row no-padding class="content-row one-line" style="height: 50px;">
         <ion-col no-padding width-75>
           <ion-row>
             <h2 class="item-title">{{item.name}}</h2>
           </ion-row>
           <ion-row>
              <h3 class="list-title">Codigo: {{item.code}}</h3>
           </ion-row>
         </ion-col>
         <ion-col no-padding class="item-icon" align-self-center style="text-align: right">
           <h2 *ngIf="item.stock > 0" class="list-big-number" style="margin-right:10px;"><div style="color: green;">{{item.stock| number:'1.'+currency_precision}}</div><div style="font-size:12px;color: #000">Un.</div></h2>
           <h2 *ngIf="item.stock <= 0" class="list-big-number" style="margin-right:10px;"><div style="color: red;">{{item.stock| number:'1.'+currency_precision}}</div><div style="font-size:12px;color: #000">Un.</div></h2>
         </ion-col>
       </ion-row>

      </ion-card>

    </ion-item>

        <ion-item-options>
          <ion-item-option (click)="deleteStockMove(item)">
            {{ 'DELETE'| translate }}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
<ion-row style="height:15px;">
</ion-row>
</form>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" #fab>
<ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
<ion-fab-list side="top">
<div style="background: #4CAF50;color: white;margin-top: -5px;">Entrada</div><ion-button style="background: #4CAF50;color: white;margin-bottom: 5px;" ion-fab (click)="addIncome(fab)"><ion-icon name="arrow-round-down"></ion-icon></ion-button>
<div style="background: #FF5722;color: white;margin-top: -5px;">Saida</div><ion-button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="addExpense(fab)"><ion-icon name="arrow-round-up"></ion-icon></ion-button>
</ion-fab-list>
</ion-fab>
</ion-content>
