<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product-list"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="{{ 'SEARCH_PRODUCT_CATEGORY' | translate }}"
      [(ngModel)]="searchTerm"
      (ionChange)="setFilteredItems()">
    </ion-searchbar>
    <!-- <ion-buttons right>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item"  *ngFor="let item of categories">
      <ion-item no-padding style="margin-bottom: 0px; margin-top:0px;">
      <ion-card  class="list-card" style="border-radius: 5px;">
        <ion-row>
          <ion-col (click)="selectCategory(item)">
            <ion-row>
              <!-- <ion-col no-padding width-20 class="schedule-date">
                <h3 class="item-title">{{item.code}}</h3>
              </ion-col> -->
              <ion-col>
                <h3 class="item-title"><b>{{ item.name }}</b></h3>
              </ion-col>
            </ion-row>
            <ion-row no-padding class="content-row one-line">
              <ion-col class="item-content" style="white-space: normal;">
                {{item.note}}
              </ion-col>
            </ion-row>
            <!-- <ion-row no-padding>
              <ion-col no-padding
              style="text-align: left;border-radius: 4px;padding-left:5px;"
              class="paid">
                  {{ item.category && item.category.name | translate }}
              </ion-col>
            </ion-row> -->
          </ion-col>
          <ion-col size="2" class="open-item-col" *ngIf="select" (click)="openCategory(item)">
            <ion-icon name="open" class="open-item-arrow"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card>
  </ion-item>
    <ion-item-options>
      <ion-item-option (click)="deleteCategory(item)"
      *ngIf="!item.fixed">
        {{ 'DELETE'| translate }}
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
<ion-row style="height:15px;">
</ion-row>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createCategory()" color="primary">
        <ion-icon name="add">
        </ion-icon>
    </ion-fab-button>
</ion-fab>
</ion-content>
