<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar
      placeholder="Busqueda"
      [(ngModel)]="searchTerm"
      (ionInput)="setFilteredItems()"
      *ngIf="has_search">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only  *ngIf="!has_search"
        (tap)="setSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button icon-only  *ngIf="has_search"
        (tap)="setSearch()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of currencyList">
      <ion-item >
      <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-90 class="item-content" (click)="selectCurrency(item)">
          <h3 class="item-title">{{item.name}}</h3>
          <h3 class="item-title">{{item.sale_rate}}</h3>
          <p class="item-description">{{item.purchase_rate}}</p>
        </ion-col>
        <ion-col no-padding width-10 (click)="openCurrency(item)" class="item-icon">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>

    </ion-item>
      <ion-item-options>
        <ion-button icon-only color="primary" (click)="deleteCurrency(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="createCurrency()">
          <ion-icon name="add">
          </ion-icon>
      </ion-button>
  </ion-fab>
</ion-content> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar
      placeholder="Buscar Moneda"
      [(ngModel)]="searchTerm"
      #searchBar
      (ionInput)="searchItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only 
              (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of currencyList">
      <ion-item no-padding >
        <ion-card class="list-card">
      <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-90 class="currency" (click)="selectCurrency(item)">
          <ion-row>
            <ion-col no-padding>
              <h3 class="item-title" style="white-space:normal"><b>{{ item.name }}</b></h3>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="content-row one-line">
             <!-- <ion-col no-padding width-100 class="schedule-date"> -->
                 <!-- <h3 class="item-title">{{item.name}}</h3> -->
                 <ion-col no-padding>
                   <!-- <h3 class="item-title">Compra: {{item.purchase_rate}}</h3> -->
                   <h3 class="item-title">Venta: {{item.sale_rate}}</h3>
                 </ion-col>
                 <ion-col no-padding>
                   <h3 class="item-title">Compra: {{item.purchase_rate}}</h3>
                 </ion-col>
           </ion-row>
         </ion-col>
        <ion-col no-padding width-10 class="item-icon"  align-self-center style="text-align: center;">
          <ion-icon (click)="openCurrency(item)" name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
    </ion-item>
      <ion-item-options>
        <ion-button icon-only color="primary" (click)="deleteCurrency(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createCurrency()">
          <ion-icon name="add">
          </ion-icon>
      </ion-button>
  </ion-fab>
</ion-content>
