<ion-header>
  <ion-toolbar color="primary">
    <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>{{ 'PAYMENT_CONDITION' | translate }}</ion-title>
    <ion-buttons slot="end" [hidden]="!paymentConditionForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="payment-condition-content">
  <form class="sample-form validations-form"
  [formGroup]="paymentConditionForm"
  (ngSubmit)="onSubmit(paymentConditionForm.value)">
    <section class="form-section">
      <ion-item>
        <ion-label position="floating">{{'NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="name" autocomplete='name'></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="paymentConditionForm.get('name').hasError(validation.type) && (paymentConditionForm.get('name').dirty || paymentConditionForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-card class="list-card"
      class="field-label"
      no-padding
      (click)="selectAccountTo()"
      style="width: calc(50% - 20px);margin-bottom: 4%;margin-top: 1%;">
        <h4 class="field-label">{{'Cuenta para Venta' | translate}}</h4>
        <h4 class="field-value">{{paymentConditionForm.value.accountTo && paymentConditionForm.value.accountTo.name || 'Selecionar'}}</h4>
      </ion-card>
      <ion-card class="list-card"
      class="field-label"
      no-padding
      (click)="selectAccountFrom()"
      style="width: calc(50% - 20px);margin-bottom: 4%;margin-top: 1%;">
        <h4 class="field-label">{{'Cuenta para Compra' | translate}}</h4>
        <h4 class="field-value">{{paymentConditionForm.value.accountFrom && paymentConditionForm.value.accountFrom.name || 'Selecionar'}}</h4>
      </ion-card>
      <ion-list>
        <ion-item-sliding no-padding class="list-item" *ngFor="let item of paymentConditionForm.value.items">
          <ion-item no-padding (click)="editItem(item)">
            <ion-row no-padding class="content-row one-line">
              <ion-col no-padding width-100 class="item-content" style="white-space: normal;">
                <ion-row (click)="openItem(item)" class="product-name-row">
                  Dias {{item.days}}
                </ion-row>
                <ion-row>
                  <ion-col no-padding class="item-content">
                    <span class="price-label">Porcentage:</span> {{item.percent}}
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options>
            <ion-button icon-only color="primary" (click)="deleteItem(item)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="addItem()">
              <ion-icon name="add">
              </ion-icon>
          </ion-button>
      </ion-fab>

    </section>

    <!--ion-button full type="submit" [disabled]="!paymentConditionForm.valid">{{'SUBMIT' | translate}}</ion-button-->
  </form>

</ion-content>
