    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-row>
            {{animalForm.value.name}}
          </ion-row>
        </ion-title>

        <ion-buttons slot="end" >
          <ion-button (click)="buttonSave()" [hidden]="!animalForm.dirty">
            {{ 'SAVE' | translate }}
          </ion-button>
          <ion-button icon-only color="royal"
                  (tap)="presentPopover($event)">
            <ion-icon name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

    </ion-header>

    <ion-content class="list-mini-content">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <form class="sample-form validations-form" [formGroup]="animalForm" (ngSubmit)="onSubmit(animalForm.value)">
        <ion-list no-lines>
          <ion-item-sliding class="list-item" *ngFor="let item of animalForm.value.moves.sort(this.formatService.compare)">
          <ion-item no-padding (click)="openItem(item)" style="margin-bottom: 0px; margin-top:0px;">
            <ion-card class="list-card" style="border-radius: 5px;">
         <ion-row no-padding class="content-row one-line">
            <ion-col no-padding width-25 class="schedule-date">
              <h2 class="list-big-number">{{item.activity_name}}</h2>
              <h3 class="schedule-month">{{item.date|date: 'dd/MM/yyyy'}}</h3>
              <h4 class="schedule-time">Costo: $ {{item.cost}}</h4>
            </ion-col>
            <ion-col no-padding width-35  >
              <ion-row no-padding>
                <ion-col class="item-content" style="white-space: normal;">
                  {{item.name}}
                </ion-col>
              </ion-row>

            </ion-col>
            <ion-col no-padding width-40 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
              <h2 *ngIf="item.cost > 0" class="list-big-number" style="color: green;">{{item.animal| number:'1.0'}} ha</h2>
              <h2 *ngIf="item.cost <= 0" class="list-big-number" style="color: red;">{{item.animal| number:'1.0'}} ha</h2>
            </ion-col>
          </ion-row>
          </ion-card>
        </ion-item>

            <ion-item-options>
              <ion-button icon-only color="primary" (click)="deleteAnimalMove(item)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

    <ion-row style="height:15px;">
    </ion-row>
</form>

  <!-- <ion-fab center bottom #fab>
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-button>
    <ion-fab-list side="top">
    <div style="background: #4CAF50;color: white;margin-top: -5px;">Entrada</div><button style="background: #4CAF50;color: white;margin-bottom: 5px;" ion-fab (click)="addIncome(fab)"><ion-icon name="arrow-round-down"></ion-icon></ion-button>
    <div style="background: #FF5722;color: white;margin-top: -5px;">Salida</div><button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="addExpense(fab)"><ion-icon name="arrow-round-up"></ion-icon></ion-button>
    <div style="background: #FF5722;color: white;margin-top: -5px;">Transferencia</div><button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="addTransfer(fab)"><ion-icon name="arrow-round-up"></ion-icon></ion-button>
    </ion-fab-list>
  </ion-fab> -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="add-product-button">
    <ion-fab-button (click)="addActivity()" color="green">
      <ion-icon name="add">
      </ion-icon>
    </ion-button>
  </ion-fab>
</ion-content>
