<ion-tabs>

  <ion-tab-bar slot="bottom" style="border-top: 1px solid #378351;">
    <ion-tab-button tab="activity-list">
      <ion-icon name="construct"></ion-icon>
      <ion-label>{{'WORKS'|translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="area-list">
      <ion-icon name="map"></ion-icon>
      <ion-label>{{'AREAS'|translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="machine-list">
      <ion-icon name="car"></ion-icon>
      <ion-label>{{'MACHINES'|translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="input-list">
      <ion-icon name="cube"></ion-icon>
      <ion-label>{{'STOCK'|translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="report-list">
      <ion-icon name="stats"></ion-icon>
      <ion-label>{{'REPORTS'|translate}}</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="future-contract-list">
      <ion-icon name="paper"></ion-icon>
      <ion-label>{{'CONTRACTS'|translate}}</ion-label>
    </ion-tab-button> -->
    <!-- <ion-tab-button tab="person-list">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Personas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="input-list">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="animal-list">
      <ion-icon name="paw"></ion-icon>
      <ion-label>Animales</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
