<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">

    <ion-tab-button tab="area-list">
      <ion-icon name="map"></ion-icon>
      <ion-label>Areas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="machine-list">
      <ion-icon name="car"></ion-icon>
      <ion-label>Maquinas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="crop-list">
      <ion-icon name="repeat"></ion-icon>
      <ion-label>Safras</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="work-list">
      <ion-icon name="medal"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
