.crop-card {
    min-height: 48px;
    width: 98%;
    --background: #fff;
    --ion-background-color: #fff;
    border-radius: 7px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
h4.field-value {
    font-size: 15px;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    text-align: initial;
}
.crop-subtitle {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}
