<ion-header>
  <ion-toolbar *ngIf="showSearch" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="changeSearch()" color="primary">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
    [placeholder]="'SEARCH_CROP'|translate"
    [(ngModel)]="searchTerm"
    #searchBar
    (ionChange)="setFilteredItems()">
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="!showSearch">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agro-tabs/area-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CROPS'|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button  (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of crops">
      <ion-item no-padding style="margin-bottom: 0px; margin-top:0px;"
      *ngIf="select && item.state == 'ACTIVE'">
        <ion-card class="list-card"  (click)="selectCrop(item)">
          <ion-row>
            <ion-col>
              <h3 class="item-name"><b>{{ item.name || 'NOT_INFORMED'|translate}}</b></h3>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="content-row one-line">
            <ion-col no-padding size="6" align-self-center>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
    <ion-item no-padding style="margin-bottom: 0px; margin-top:0px;"
    *ngIf="!select">
        <ion-card class="crop-card" no-padding button="true" >
          <ion-row >
            <ion-col style="font-size:20px;border-bottom:1px solid #ddd"
            (click)="openCrop(item)">
              {{ item.name }}
              <h2 class="crop-subtitle" *ngIf="item.fields && item.fields.length > 1">
                {{ item.fields.length }} {{'PLACES'|translate}} - {{item.area}} {{areaMeasure}}
              </h2>
              <h2 class="crop-subtitle" *ngIf="item.fields && item.fields.length == 1">
                1 {{'PLACE'|translate}} - {{item.area}} {{areaMeasure}}
              </h2>
            </ion-col>
            <ion-col size="2" class="open-item-col"
            (click)="openCrop(item)">
              <ion-icon name="open" class="open-item-arrow"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row style="padding-left: 2%;"
          *ngIf="item.production_cost|| item.yieldTotal">
            <ion-col no-padding class="report-50" style="margin-top: 15px;"
            *ngIf="item.production_cost"
            (click)="showReport(item)">
              <h4 class="field-label">{{'COST' | translate}}($/{{areaMeasure}})</h4>
              <h4 class="field-value" style="color:red; font-size:30px;">
                $ {{item.production_cost/item.area|number:'1.0-0'}}
              </h4>
            </ion-col>
            <ion-col no-padding class="report-50" style="margin-top: 15px;"
            *ngIf="item.yieldTotal"
            (click)="showReportYield(item)">
              <h4 class="field-label">{{'YIELD' | translate}}({{yieldMeasure}}/{{areaMeasure}})</h4>
              <h4 class="field-value" style="color:green; font-size:30px;">
                {{item.yieldTotal/((item.area || 1))|number:'1.0-0'}}
              </h4>
            </ion-col>
          </ion-row>
          <ion-row style="padding-left: 2%;height: 2rem;"
          *ngIf="item.production_cost|| item.yieldTotal">
            <ion-col no-padding class="report-50"
            *ngIf="item.production_cost"
            (click)="showReport(item)">
              <h4 class="field-label">{{'TOTAL_COST' | translate}}</h4>
              <h4 class="field-value" style="color:red">
                $ {{item.production_cost|number:'1.0-0'}}
              </h4>
            </ion-col>
            <ion-col no-padding class="report-50"
            *ngIf="item.yieldTotal"
            (click)="showReportYield(item)">
              <h4 class="field-label">{{'HARVEST_TOTAL' | translate}}({{yieldMeasure}})</h4>
              <h4 class="field-value" style="color:green">
                {{item.yieldTotal|number:'1.0-0'}}
              </h4>
            </ion-col>
          </ion-row>

          <ion-row style="padding-left: 2%;"
          *ngIf="item.average_price && (item.production_cost || item.yieldTotal)">
            <ion-col no-padding class="report-50" style="margin-top: 15px;"
            *ngIf="item.yieldTotal && item.average_price"
            (click)="showReport(item)">
              <h4 class="field-label">{{'INCOME_1' | translate}}($/{{areaMeasure}})</h4>
              <h4 class="field-value" style="color:green; font-size:30px;">
                $ {{item.contracts_amount/(item.area || 1)|number:'1.0-0'}}
              </h4>
            </ion-col>
            <ion-col no-padding class="report-50" style="margin-top: 15px;"
            *ngIf="item.yieldTotal && item.average_price && item.yieldTotal"
            (click)="showReportYield(item)">
              <h4 class="field-label">{{'EARNINGS' | translate}}($/{{areaMeasure}})</h4>
              <h4 class="field-value" style="color:green; font-size:30px;">
                $ {{(contracts_amount - item.production_cost)/(item.area || 1)|number:'1.0-0'}}
              </h4>
            </ion-col>
          </ion-row>
          <ion-row style="padding-left: 2%;height: 2rem;"
          *ngIf="item.average_price && (item.production_cost || item.yieldTotal)">
            <ion-col no-padding class="report-50"
            *ngIf="item.yieldTotal && item.average_price"
            (click)="showReport(item)">
              <h4 class="field-label">{{'TOTAL_INCOME' | translate}}</h4>
              <h4 class="field-value" style="color:green">
                $ {{item.contracts_amount|number:'1.0-0'}}
              </h4>
            </ion-col>
            <ion-col no-padding class="report-50"
            *ngIf="item.yieldTotal && item.production_cost"
            (click)="showReportYield(item)">
              <h4 class="field-label">{{'TOTAL_EARNINGS' | translate}}</h4>
              <h4 class="field-value" style="color:green">
                $ {{item.contracts_amount - item.production_cost|number:'1.0-0'}}
              </h4>
            </ion-col>
          </ion-row>


          <ion-row style="padding-left: 2%;"
          *ngIf="item.average_price">
            <ion-col no-padding class="report-50" style="margin-top: 15px;"
            (click)="showReport(item)">
              <h4 class="field-label" style="text-align: center;">{{'PRICE' | translate}}($/ton)</h4>
              <h4 class="field-value" style="color:green;text-align: center;">
                $ {{item.average_price|number:'1.0-0'}}
              </h4>
            </ion-col>
            <ion-col no-padding class="report-50" style="margin-top: 15px;"
            *ngIf="item.yieldTotal && item.production_cost"
            (click)="showReportYield(item)">
              <h4 class="field-label" style="text-align: center;">{{'COST' | translate}}($/ton)</h4>
              <h4 class="field-value" style="color:green;text-align: center;">
                $ {{item.production_cost*1000/item.yieldTotal|number:'1.0-0'}}
              </h4>
            </ion-col>
            <ion-col no-padding class="report-50" style="margin-top: 15px;"
            *ngIf="item.yieldTotal && item.production_cost"
            (click)="showReportYield(item)">
              <h4 class="field-label" style="text-align: center;">{{'EARNINGS' | translate}}($/ton)</h4>
              <h4 class="field-value" style="color:green;text-align: center;">
                $ {{item.average_price - item.production_cost*1000/item.yieldTotal|number:'1.0-0'}}
              </h4>
            </ion-col>
            <ion-col no-padding class="report-50" style="margin-top: 15px;"
            *ngIf="item.yieldTotal && item.production_cost"
            (click)="showReportYield(item)">
              <h4 class="field-label" style="text-align: center;">{{'MARGIN' | translate}}</h4>
              <h4 class="field-value" style="color:green;text-align: center;">
                {{(1-item.production_cost*1000/item.yieldTotal/item.average_price)*100|number:'1.0-0'}} %
              </h4>
            </ion-col>
          </ion-row>


          <ion-row no-padding>
            <ion-col no-padding class="list-tag"
            [class.quotation]="item.state=='FINISHED'"
            [class.confirmed]="item.state=='DRAFT'"
            [class.paid]="item.state=='ACTIVE'"
            [class.cancel]="item.state=='CANCELED'">
              {{ item.state | translate }}
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteCrop(item)" *ngIf="!item.fixed">
          {{'DELETE'|translate}}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-row style="height:15px;">
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createCrop()">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
