<ion-header>
  <ion-toolbar *ngIf="showSearch" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="changeSearch()" color="primary">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
    [placeholder]="'SEARCH_CROP'|translate"
    [(ngModel)]="searchTerm"
    #searchBar
    (ionChange)="setFilteredItems()">
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="!showSearch">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agro-tabs/area-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CROPS'|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <!-- <ion-button  (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of crops">
      <ion-item no-padding style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" *ngIf="select" (click)="selectCrop(item)">
          <ion-row>
            <ion-col>
              <h3 class="item-name"><b>{{ item.name || 'NOT_INFORMED'|translate}}</b></h3>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="content-row one-line">
            <ion-col no-padding size="6" align-self-center>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="area-card" no-padding button="true" *ngIf="!select"
        (click)="showReport(item)">
          <ion-row>
            <ion-col style="text-align: center; font-size:20px;border-bottom:1px solid #ddd">
              {{ item.name }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding class="report-100" style="margin-top: 15px;">
              <h4 class="field-label">{{'Costo Total' | translate}}</h4>
              <h4 class="field-value" style="color:green; font-size:30px;">
                $ {{item.production_cost|number:'1.0-1'}}
              </h4>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding class="report-50">
              <h4 class="field-label">{{'Costo por hectare' | translate}}</h4>
              <h4 class="field-value" style="color:red">
                $ {{item.production_cost/item.area|number:'1.0-1'}}/ha
              </h4>
            </ion-col>
            <ion-col no-padding class="report-50">
              <h4 class="field-label">{{'Area Cultivada' | translate}}</h4>
              <h4 class="field-value" style="color:green">
                {{item.area|number:'1.0-1'}} ha
              </h4>
            </ion-col>
          </ion-row>
          <ion-row no-padding>
            <ion-col no-padding class="list-tag"
            [class.quotation]="item.state=='DONE'"
            [class.confirmed]="item.state=='DRAFT'"
            [class.paid]="item.state=='ACTIVE'"
            [class.cancel]="item.state=='CANCELED'">
              {{ item.state | translate }}
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteCrop(item)" *ngIf="!item.fixed">
          {{'DELETE'|translate}}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-row style="height:15px;">
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createCrop()">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
