<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>{{ 'ACCOUNT_CATEGORY' | translate }}</ion-title>
    <ion-buttons end [hidden]="!accountCategoryForm.dirty">
      <button ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="accountCategory-content">
  <form class="sample-form validations-form" [formGroup]="accountCategoryForm"  (ngSubmit)="onSubmit(accountCategoryForm.value)">
    <section class="form-section">
      <ion-item>
        <ion-label floating>{{'NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="name" autocomplete='name'></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="accountCategoryForm.get('name').hasError(validation.type) && (accountCategoryForm.get('name').dirty || accountCategoryForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>

            <h4 class="sumary-label">Tipo</h4>
            <ion-select class="payment-term" formControlName="type"
              cancelText="{{ 'CANCEL' | translate }}"
              okText="{{ 'OK' | translate }}">
              <ion-option value="receivable">Por Cobrar</ion-option>
              <ion-option value="payable">Por Pagar</ion-option>
              <ion-option value="liquidity">Liquidez</ion-option>
              <ion-option value="income">Ingreso</ion-option>
              <ion-option value="expense">Gasto</ion-option>
              <ion-option value="other">Otro</ion-option>
            </ion-select>

      </ion-item>
      <!-- <ion-item>
        <ion-label floating>{{'DOCUMENT' | translate}}</ion-label>
        <ion-input type="text" formControlName="document" autocomplete='name'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'ADDRESS' | translate}}</ion-label>
        <ion-input type="text" formControlName="address" autocomplete='name'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'PHONE' | translate}}</ion-label>
        <ion-input type="text" formControlName="phone" autocomplete='name'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'EMAIL' | translate}}</ion-label>
        <ion-input type="text" formControlName="email" autocomplete='name'></ion-input>
      </ion-item>
      <ion-item class="switcher-item">
        <ion-label>{{'Cliente' | translate}}</ion-label>
        <ion-toggle formControlName="customer"></ion-toggle>
      </ion-item>
      <ion-item class="switcher-item">
        <ion-label>{{'Proveedor' | translate}}</ion-label>
        <ion-toggle formControlName="supplier"></ion-toggle>
      </ion-item>
      <ion-item class="switcher-item">
        <ion-label>{{'Vendedor' | translate}}</ion-label>
        <ion-toggle formControlName="seller"></ion-toggle>
      </ion-item>
      <ion-item class="switcher-item">
        <ion-label>{{'Funcionario' | translate}}</ion-label>
        <ion-toggle formControlName="employee"></ion-toggle>
      </ion-item> -->
      <ion-item>
        <ion-label floating>{{'CODE' | translate}}</ion-label>
        <ion-input type="text" formControlName="code" autocomplete='name'></ion-input>
      </ion-item>
      <ion-card
      class="sumary-label"
      no-padding
      (click)="selectTitle()"
      style="width: calc(50% - 20px);margin-bottom: 4%;margin-top: 1%;">
        <h4 class="sumary-label">{{'Titulo' | translate}}</h4>
        <h4 class="client-name">{{accountCategoryForm.value.title && accountCategoryForm.value.title.name || 'Selecionar'}}</h4>
      </ion-card>
      <ion-item>
        <ion-label floating>{{'NOTE' | translate}}</ion-label>
        <ion-textarea rows="7" formControlName="note"></ion-textarea>
      </ion-item>

    </section>

    <!--button ion-button full type="submit" [disabled]="!accountCategoryForm.valid">{{'SUBMIT' | translate}}</button-->
  </form>

</ion-content>
