<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'HOME' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-content">
  <ion-fab bottom center>
      <button ion-fab (click)="startListening()" color="green">
          <ion-icon name="mic">
          </ion-icon>
      </button>
  </ion-fab>
  <button ion-button full (click)="stopListening()" *ngIf="isIos()">Stop Listening</button>

  <div *ngFor="let answer of answers">
     {{answer}}
   </div>
</ion-content>
