<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button> -->
    <ion-title>{{ 'SERVICE_DONE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="service-content">
  <form class="sample-form validations-form" [formGroup]="workForm" (ngSubmit)="buttonSave()">

    <!-- <section class="form-section"> -->
      <!-- <h2 class="section-title">{{'Informaciones del Trabajo' | translate}}</h2> -->
      <ion-item class="field-100">
      <ion-row>
        <ion-col>
          <ion-item  style="background-color: white">
            <ion-label position="floating">{{ 'DESCRIPTION' | translate }}</ion-label>
            <ion-textarea #description formControlName="description"
              rows="3">
            </ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="2" color="primary">
          <ion-button icon-only  style="height: 100%;margin-top: 0px;"
          color="primary"
          (click)="listenDescription()">
            <ion-icon name="mic"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item class="field-100">
      <ion-item style="background-color: white">
        <ion-label position="floating">{{'TIME_HS' | translate}}</ion-label>
        <ion-input type="number" formControlName="time"></ion-input>
      </ion-item>
    </ion-item>
      <!-- <ion-item class="user-preferences-row" (click)="selectResponsible()">
        <span class="radio-tags-label">{{'Responsable' | translate}}</span>
        <ion-list>
          <h3 class="service-value">{{workForm.value.responsible.name || 'Selecionar'}}</h3>
        </ion-list>
      </ion-item> -->
      <ion-item class="field-100"
      no-padding
      (click)="selectResponsible()">
        <h4 class="field-label">{{'Responsable' | translate}}</h4>
        <h4 class="field-value">{{workForm.value.responsible && workForm.value.responsible.name || 'Nadie'}}</h4>
      </ion-item>
      <!-- <ion-card class="list-card"> -->
      <!-- <ion-item  style="background-color: white">
        <ion-label position="floating">{{'NOTE' | translate}}</ion-label>
        <ion-textarea rows="3" formControlName="note"></ion-textarea>
      </ion-item> -->
    <!-- </ion-item> -->
    <!-- </section> -->
    <!-- <ion-col class="item-content" *ngIf="workForm.value.state == 'QUOTATION'">
      <ion-button class="print-invoice" (click)="addWork()">(+) Trabajo Hecho</ion-button>
    </ion-col> -->
  </form>
  <!-- <ion-button margin-bottom ion-button class="print-invoice"
  [hidden]="!workForm.dirty"
  (click)="buttonSave()">
  {{ 'SAVE' | translate }}
</ion-button> -->
<ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="showNextButton()">
  <ion-button (click)="goNextStep()"  class="next-button">
    <ion-icon name="fastforward"> </ion-icon>
    Proximo
  </ion-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-button (click)="discard()" color="danger" class="discard-button">
    <ion-icon name="backspace" *ngIf="workForm.dirty"> </ion-icon>
    <ion-icon name="arrow-back" *ngIf="!workForm.dirty"> </ion-icon>
    <span *ngIf="workForm.dirty">Descartar</span>
    <span *ngIf="!workForm.dirty">Volver</span>
  </ion-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="workForm.dirty">
  <ion-button (click)="buttonSave()"  color="success" class="save-button">
    <ion-icon name="save"> </ion-icon>
    Guardar
  </ion-button>
</ion-fab>
<div style="height: 100px;">
</div>

</ion-content>
