<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'CURRENCY' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="currency-content">
  <form class="sample-form validations-form" [formGroup]="currencyForm"  (ngSubmit)="onSubmit(currencyForm.value)">
    <ion-row>
      <ion-item class="field-100">
        <ion-label position="floating">{{'NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="currencyForm.get('name').hasError(validation.type) && (currencyForm.get('name').dirty || currencyForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="field-50">
        <ion-label position="floating">{{'EXCHANGE_RATE' | translate}}</ion-label>
        <ion-input type="number" formControlName="exchange_rate"></ion-input>
      </ion-item>
      <ion-item
        class="ion-no-padding"
        class="field-50">
        <ion-label>{{'Tasa Invertida' | translate}}</ion-label>
        <ion-toggle formControlName="inverted_rate"></ion-toggle>
      </ion-item>
      <ion-item class="field-50">
        <ion-label position="floating">{{'SYMBOL' | translate}}</ion-label>
        <ion-input type="text" formControlName="symbol"></ion-input>
      </ion-item>
      <ion-item class="field-50">
        <ion-label position="floating">{{'Precisión Decimal' | translate}}</ion-label>
        <ion-input type="number" formControlName="precision"></ion-input>
      </ion-item>

    </ion-row>
  </form>

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="showNextButton()">
    <ion-button (click)="goNextStep()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      {{'NEXT'|translate}}
    </ion-button>
  </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger">
      <ion-icon name="backspace" *ngIf="currencyForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!currencyForm.dirty"> </ion-icon>
      <span *ngIf="currencyForm.dirty">{{ 'DISCARD'| translate }}</span>
      <span *ngIf="!currencyForm.dirty">{{ 'GO_BACK'| translate }}</span>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="currencyForm.dirty">
    <ion-button (click)="buttonSave()"  color="success">
      <ion-icon name="save"> </ion-icon>
      {{ 'SAVE'| translate }}
    </ion-button>
  </ion-fab>

</ion-content>
