<ion-header>
  <ion-toolbar>
    <ion-title>
      Forma de Pago
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of paymentConditionList">
      <ion-item class="ion-no-padding">
        <ion-card class="list-card">
          <ion-row>
            <ion-col (click)="selectPaymentCondition(item)">
              <ion-row style="padding-top:10px; padding-bottom:10px;" class="content-row one-line">
                <ion-col>
                  <h3 class="item-title">{{item.name}}</h3>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
