<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button> -->
    <ion-title>{{ 'TITLE_INFORMATION' | translate }}</ion-title>
    <ion-buttons slot="end" [hidden]="!titleForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="title-content">
  <form class="sample-form validations-form" [formGroup]="titleForm"  (ngSubmit)="onSubmit(titleForm.value)">
    <section class="form-section">
      <ion-item>
        <ion-label position="floating">{{'NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="name" autocomplete='name'></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="titleForm.get('name').hasError(validation.type) && (titleForm.get('name').dirty || titleForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">{{'CODE' | translate}}</ion-label>
        <ion-input type="text" formControlName="code" autocomplete='name'></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label position="floating">{{'PHONE' | translate}}</ion-label>
        <ion-input type="text" formControlName="phone" autocomplete='name'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{'EMAIL' | translate}}</ion-label>
        <ion-input type="text" formControlName="email" autocomplete='name'></ion-input>
      </ion-item>
      <ion-item class="switcher-item">
        <ion-label>{{'Cliente' | translate}}</ion-label>
        <ion-toggle formControlName="customer"></ion-toggle>
      </ion-item>
      <ion-item class="switcher-item">
        <ion-label>{{'Proveedor' | translate}}</ion-label>
        <ion-toggle formControlName="supplier"></ion-toggle>
      </ion-item>
      <ion-item class="switcher-item">
        <ion-label>{{'Vendedor' | translate}}</ion-label>
        <ion-toggle formControlName="seller"></ion-toggle>
      </ion-item>
      <ion-item class="switcher-item">
        <ion-label>{{'Funcionario' | translate}}</ion-label>
        <ion-toggle formControlName="employee"></ion-toggle>
      </ion-item> -->

      <ion-item>
        <ion-label position="floating">{{'NOTE' | translate}}</ion-label>
        <ion-textarea rows="7" formControlName="note"></ion-textarea>
      </ion-item>

    </section>

    <!--ion-button full type="submit" [disabled]="!titleForm.valid">{{'SUBMIT' | translate}}</ion-button-->
  </form>

</ion-content>
