<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cash-move-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ cashMoveForm.value.state | translate }}-{{cashMoveForm.value.code}} </ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button style="background: #2ad078;" (click)="buttonSave()"
        [hidden]="!cashMoveForm.dirty">
        {{ 'SAVE' | translate }}
      </ion-button> -->
      <!-- <ion-button icon-only color="royal"
        (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button> -->
    <!-- </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="cash-move-content"  style="background-color: #ddd">
  <form class="sample-form validations-form" [formGroup]="cashMoveForm"  (ngSubmit)="onSubmit(cashMoveForm.value)">
    <ion-row justify-content-center>

      <ion-item
       no-padding
       class="field-50"
       *ngIf="checkForeingCurrency()">
        <ion-label position="floating" style="font-size:14px">{{'AMOUNT' | translate}}</ion-label>
        <ion-input #currency_amount type="number"
        (ngModelChange)="changedCurrencyAmount()"
        formControlName="currency_amount"></ion-input>
      </ion-item>
      <ion-item
       no-padding
       *ngIf="!checkForeingCurrency()"
       class="field-50">
        <ion-label position="floating" style="font-size:14px">{{'AMOUNT' | translate}}</ion-label>
        <ion-input #amount type="number"
        formControlName="amount"></ion-input>
      </ion-item>
      <ion-item
       no-padding
       (click)="selectCurrency()"
       class="field-50">
       <div class="field-many2one">
         <h4 class="field-label">{{'CURRENCY' | translate }}</h4>
         <h4 class="field-value">{{cashMoveForm.value.currency && cashMoveForm.value.currency.name || this.company_currency_name}}</h4>
       </div>
      </ion-item>
      <ion-item
       no-padding
       *ngIf="checkForeingCurrency()"
       class="field-50">
        <ion-label position="floating" style="font-size:14px">{{'AMOUNT_COMPANY_CURRENCY' | translate}}</ion-label>
        <ion-input #amount2 type="number"
        (ngModelChange)="changedAmount()"
        formControlName="amount"></ion-input>
      </ion-item>
      <ion-item
       no-padding
       *ngIf="checkForeingCurrency()"
       class="field-50">
        <ion-label position="floating" style="font-size:14px">{{'CURRENCY_EXCHANGE' | translate}}</ion-label>
        <ion-input #currency_exchange type="number"
        (ngModelChange)="changedExchange()"
        formControlName="currency_exchange"></ion-input>
      </ion-item>
      <!-- <ion-item
       no-padding
       *ngIf="cashMoveForm.value.origin_id"
       class="field-50">
        <ion-label position="floating" style="font-size:14px">{{'AMOUNT' | translate}}</ion-label>
        <ion-input #input type="number"
        formControlName="amount"></ion-input>
      </ion-item> -->
      <ion-item
       no-padding
       (click)="selectAccountFrom()"
       *ngIf="!from_cash"
       class="field-100">
        <h4 class="field-label">{{'Origen' | translate }}</h4>
        <h4 class="field-value">{{cashMoveForm.value.accountFrom && cashMoveForm.value.accountFrom.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
       no-padding
       (click)="selectAccountTo()"
       *ngIf="!to_cash"
       class="field-100">
        <h4 class="field-label">{{'Destino' | translate }}</h4>
        <h4 class="field-value">{{cashMoveForm.value.accountTo && cashMoveForm.value.accountTo.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
      no-padding
      *ngIf="!transfer"
      (click)="selectContact()"
       class="field-100">
        <h4 class="field-label">{{'CONTACT' | translate}}</h4>
        <h4 class="field-value">{{cashMoveForm.value.contact && cashMoveForm.value.contact.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item class="field-100">
        <ion-label position="floating" style="font-size:14px">{{'OBSERVATION' | translate}}</ion-label>
        <ion-input #description type="text" formControlName="name"></ion-input>
      </ion-item>
      <!-- *ngIf="cashMoveForm.value.accountFrom.type=='payable' || cashMoveForm.value.accountTo.type=='payable' || cashMoveForm.value.accountFrom.type=='receivable' || cashMoveForm.value.accountTo.type=='receivable'" -->
      <ion-item no-padding class="item-content"
      *ngIf="!(cashMoveForm.value.accountFrom.type=='payable' || cashMoveForm.value.accountTo.type=='payable' || cashMoveForm.value.accountFrom.type=='receivable' || cashMoveForm.value.accountTo.type=='receivable')"
      class="field-100">
        <ion-label position="floating" class="field-label">{{'DATE' | translate }}</ion-label>
        <ion-datetime class="sale-date"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
          class="task-date"
          formControlName="date">
        </ion-datetime>
    </ion-item>
    <ion-item no-padding class="item-content"
    *ngIf="cashMoveForm.value.accountFrom.type=='payable' || cashMoveForm.value.accountTo.type=='payable' || cashMoveForm.value.accountFrom.type=='receivable' || cashMoveForm.value.accountTo.type=='receivable'"
    class="field-50">
      <ion-label position="floating" class="field-label">{{'DATE' | translate }}</ion-label>
      <ion-datetime class="sale-date"
        #todate
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        class="task-date"
        formControlName="date">
      </ion-datetime>
  </ion-item>
    <ion-item no-padding class="item-content"
    *ngIf="cashMoveForm.value.accountFrom.type=='payable' || cashMoveForm.value.accountTo.type=='payable' || cashMoveForm.value.accountFrom.type=='receivable' || cashMoveForm.value.accountTo.type=='receivable'"
    class="field-50">
      <ion-label position="floating" class="field-label">{{'DATE_DUE' | translate }}</ion-label>
      <ion-datetime class="sale-date"
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        class="task-date"
        formControlName="dateDue"
        [max]="today.getFullYear()+5">
      </ion-datetime>
  </ion-item>

  <ion-item
  no-padding
  class="field-50">
  <ion-label>{{'Es Cheque' | translate}}</ion-label>
  <ion-toggle formControlName="is_check"></ion-toggle>
</ion-item>

<!-- <ion-item
no-padding
class="field-50">
<ion-label >{{'Es Otra Moneda' | translate}}</ion-label>
<ion-toggle formControlName="is_other_currency"
style="margin-left: -12px;margin-right: -12px;"></ion-toggle>
</ion-item> -->


  <ion-item
   no-padding
   (click)="selectCheck()"
   *ngIf="cashMoveForm.value.is_check"
   class="field-100">
    <h4 class="field-label">{{'Cheque' | translate }}</h4>
    <h4 class="field-value">{{cashMoveForm.value.check && cashMoveForm.value.check.name || 'Selecionar'}}</h4>
  </ion-item>
  <!-- <ion-item
   no-padding
   *ngIf="cashMoveForm.value.is_other_currency"
   (click)="selectCurrency()"
   class="field-50">
   <div class="field-many2one">
     <h4 class="field-label">{{'CURRENCY' | translate }}</h4>
     <h4 class="field-value">{{cashMoveForm.value.currency && cashMoveForm.value.currency.name || 'Selecionar'}}</h4>
   </div>
  </ion-item>
  <ion-item
   no-padding
   *ngIf="cashMoveForm.value.is_other_currency"
   class="field-50">
    <ion-label position="floating" style="font-size:14px">{{'CURRENCY_AMOUNT' | translate}}</ion-label>
    <ion-input #currency_amount type="number"
    formControlName="currency_amount"></ion-input>
  </ion-item> -->
    </ion-row>
    <ion-button (click)="printAccountText()" color="success">
      <ion-icon name="print"> </ion-icon>
      Imprimir
    </ion-button>
    <ion-button (click)="rejectCheck()" color="danger">
      <ion-icon name="print"> </ion-icon>
      Rechazado
    </ion-button>
  </form>
  <!-- <ion-row>
    <ion-col class="item-content" *ngIf="cashMoveForm.value.state=='WAITING'">
      <ion-button class="print-receipt" (click)="confirmState()">
        {{ 'Confirmar' | translate }}
      </ion-button>
    </ion-col>
  </ion-row> -->
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNextStep()" color="primary">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-item
   *ngIf="cashMoveForm.value.origin_id"
   no-padding
   class="field-100">
   <h4 class="field-label">{{'Documento' | translate}}</h4>
   <h4 class="field-value">  {{cashMoveForm.value.origin_id || 'Manual'}}</h4>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger">
      <ion-icon name="backspace" *ngIf="cashMoveForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!cashMoveForm.dirty"> </ion-icon>
      <span *ngIf="cashMoveForm.dirty">Descartar</span>
      <span *ngIf="!cashMoveForm.dirty">Volver</span>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showSave()">
    <ion-button (click)="confirmCashMove()"  color="success">
      <ion-icon name="save"> </ion-icon>
      Guardar
    </ion-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="showNextButton()">
    <ion-button (click)="goNextStep()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      Proximo
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="cashMoveForm.value.state == 'WAITING'">
    <ion-button (click)="confirmState()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      Confirmar
    </ion-button>
  </ion-fab>
  <div style="height: 100px">
  </div>
</ion-content>
