<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button> -->
    <ion-title>{{ cashMoveForm.value.state | translate }}-{{cashMoveForm.value.code}} </ion-title>
      <ion-buttons slot="end">
        <ion-button style="background: #2ad078;" (click)="buttonSave()"
        [hidden]="!cashMoveForm.dirty">
        {{ 'SAVE' | translate }}
      </ion-button>
      <!-- <ion-button icon-only color="royal"
        (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cash-move-content"  style="background-color: #ddd">
  <form class="sample-form validations-form" [formGroup]="cashMoveForm"  (ngSubmit)="onSubmit(cashMoveForm.value)">
    <ion-row justify-content-center>
      <ion-item
       no-padding
       (click)="selectCheck()"
       class="field-100">
        <h4 class="sumary-label">{{'Cheque' | translate }}</h4>
        <h4 class="client-name">{{cashMoveForm.value.check && cashMoveForm.value.check.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
       no-padding
       (click)="selectCurrency()"
       class="field-50">
        <h4 class="sumary-label">{{'CURRENCY' | translate }}</h4>
        <h4 class="client-name">{{cashMoveForm.value.currency && cashMoveForm.value.currency.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
       no-padding
       class="field-50">
        <ion-label position="floating" style="font-size:14px">{{'CURRENCY_AMOUNT' | translate}}</ion-label>
        <ion-input #input type="number"
        formControlName="currency_amount"></ion-input>
      </ion-item>
      <ion-item
       no-padding
       *ngIf="!cashMoveForm.value.origin_id"
       class="field-100">
        <ion-label position="floating" style="font-size:14px">{{'AMOUNT' | translate}}</ion-label>
        <ion-input #input type="number"
        formControlName="amount"></ion-input>
      </ion-item>
      <ion-item
       no-padding
       *ngIf="cashMoveForm.value.origin_id"
       class="field-50">
        <ion-label position="floating" style="font-size:14px">{{'AMOUNT' | translate}}</ion-label>
        <ion-input #input type="number"
        formControlName="amount"></ion-input>
      </ion-item>
      <ion-item
       *ngIf="cashMoveForm.value.origin_id"
       no-padding
       class="field-50">
       <h4 class="sumary-label">{{'Documento' | translate}}</h4>
       <h4 class="client-name">  {{cashMoveForm.value.origin_id || 'Manual'}}</h4>
      </ion-item>
      <ion-item class="field-100">
        <ion-label position="floating" style="font-size:14px">{{'DESCRIPTION' | translate}}</ion-label>
        <ion-input #description type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item
       no-padding
       (click)="selectAccountFrom()"
       *ngIf="!from_cash"
       class="field-100">
        <h4 class="sumary-label">{{'Origen' | translate }}</h4>
        <h4 class="client-name">{{cashMoveForm.value.accountFrom && cashMoveForm.value.accountFrom.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
       no-padding
       (click)="selectAccountTo()"
       *ngIf="!to_cash"
       class="field-100">
        <h4 class="sumary-label">{{'Destino' | translate }}</h4>
        <h4 class="client-name">{{cashMoveForm.value.accountTo && cashMoveForm.value.accountTo.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
      no-padding
      *ngIf="!transfer"
      (click)="selectContact()"
       class="field-100">
        <h4 class="sumary-label">{{'CONTACT' | translate}}</h4>
        <h4 class="client-name">{{cashMoveForm.value.contact && cashMoveForm.value.contact.name || 'Selecionar'}}</h4>
      </ion-item>
      <!-- *ngIf="cashMoveForm.value.accountFrom.type=='payable' || cashMoveForm.value.accountTo.type=='payable' || cashMoveForm.value.accountFrom.type=='receivable' || cashMoveForm.value.accountTo.type=='receivable'" -->
      <ion-item no-padding class="item-content"
      *ngIf="!(cashMoveForm.value.accountFrom.type=='payable' || cashMoveForm.value.accountTo.type=='payable' || cashMoveForm.value.accountFrom.type=='receivable' || cashMoveForm.value.accountTo.type=='receivable')"
      class="field-100">
        <ion-label position="floating" class="sumary-label">{{'DATE' | translate }}</ion-label>
        <ion-datetime class="sale-date"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
          class="task-date"
          formControlName="date">
        </ion-datetime>
    </ion-item>
    <ion-item no-padding class="item-content"
    *ngIf="cashMoveForm.value.accountFrom.type=='payable' || cashMoveForm.value.accountTo.type=='payable' || cashMoveForm.value.accountFrom.type=='receivable' || cashMoveForm.value.accountTo.type=='receivable'"
    class="field-50">
      <ion-label position="floating" class="sumary-label">{{'DATE' | translate }}</ion-label>
      <ion-datetime class="sale-date"
        #todate
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        class="task-date"
        formControlName="date">
      </ion-datetime>
  </ion-item>
    <ion-item no-padding class="item-content"
    *ngIf="cashMoveForm.value.accountFrom.type=='payable' || cashMoveForm.value.accountTo.type=='payable' || cashMoveForm.value.accountFrom.type=='receivable' || cashMoveForm.value.accountTo.type=='receivable'"
    class="field-50">
      <ion-label position="floating" class="sumary-label">{{'DATE_DUE' | translate }}</ion-label>
      <ion-datetime class="sale-date"
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        class="task-date"
        formControlName="dateDue"
        [max]="today.getFullYear()+5">
      </ion-datetime>
  </ion-item>

  </ion-row>
  <!-- <ion-item class="field-100">
    <ion-label position="floating" style="font-size:14px">{{'DESCRIPTION' | translate}}</ion-label>
    <ion-input #description type="text" formControlName="name"></ion-input>
  </ion-item> -->
    <!-- <ion-item *ngIf="cashMoveForm.value.cash.type == 'check'">
      <ion-label position="floating">{{ 'Emision' | translate }}</ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        formControlName="emision">
      </ion-datetime>
    </ion-item>
    <ion-item *ngIf="cashMoveForm.value.cash.type == 'check'">
      <ion-label position="floating">{{ 'Maturidade' | translate }}</ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        formControlName="maturity">
      </ion-datetime>
    </ion-item>
    <ion-item *ngIf="cashMoveForm.value.cash.type == 'check'">
      <ion-label position="floating">{{'bank' | translate}}</ion-label>
      <ion-input type="text" formControlName="bank"></ion-input>
    </ion-item>
    <ion-item *ngIf="cashMoveForm.value.cash.type == 'check'">
      <ion-label position="floating">{{'number' | translate}}</ion-label>
      <ion-input type="text" formControlName="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="cashMoveForm.value.cash.type == 'check'">
      <ion-label position="floating">{{'owner' | translate}}</ion-label>
      <ion-input type="text" formControlName="owner"></ion-input>
    </ion-item> -->
  </form>
  <ion-row>
    <ion-col class="item-content" *ngIf="cashMoveForm.value.state=='WAITING'">
      <ion-button class="print-receipt" (click)="confirmState()">
        {{ 'Confirmar' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNextStep()" color="green">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div style="height: 70px">

  </div>
</ion-content>
