<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sale-list"></ion-back-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar Recibo"
      [(ngModel)]="searchTerm"
      (ionChange)="searchItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of receipts">
      <ion-item no-padding (click)="openReceipt(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="">
          <ion-row>
            <!-- <ion-col width-25>
              <h2 class="list-big-number">{{item.code}}</h2>
            </ion-col> -->
            <ion-col>
              <h3 class="item-title"><b>{{ item.contact_name }}</b></h3>
            </ion-col>
          </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-25 class="schedule-date">
          <h3 class="schedule-month">{{item.date|date: 'dd/MM/yyyy'}}</h3>
          <h3 class="item-title">{{item.name | translate}}</h3>
        </ion-col>
        <ion-col no-padding width-65 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
          <h2 *ngIf="item.total > 0" class="list-big-number" style="color: green;">$ {{item.amount_paid| number:'1.'+currency_precision}}</h2>
          <h2 *ngIf="item.total <= 0" class="list-big-number" style="color: red;">$ {{item.amount_paid| number:'1.'+currency_precision}}</h2>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col no-padding style="text-align: center;border-radius: 4px;"  [class.quotation]="item.state=='QUOTATION'" [class.confirmed]="item.state=='CONFIRMED'" [class.paid]="item.state=='INVOICED'">
            {{ item.state | translate }}
        </ion-col>
      </ion-row>
      </ion-card>

    </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteReceipt(item)"
        *ngIf="item.state=='QUOTATION'">
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
