<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar Compra"
      [(ngModel)]="searchTerm"
      #searchbar
      (ionInput)="searchItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only
              (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of purchases">
      <ion-item no-padding (click)="openPurchase(item)" style="margin-bottom: 0px; margin-top:0px;">
      <ion-card class="list-card" style="border-radius: 5px;">
        <ion-row>
          <ion-col no-padding width-20 class="schedule-date">
            <h2 class="list-big-number">{{item.code}}</h2>
          </ion-col>
          <ion-col>
            <h3 class="item-title"><b>{{ item.contact_name }}</b></h3>
          </ion-col>
        </ion-row>
   <ion-row no-padding class="content-row one-line">
      <ion-col no-padding width-35 class="schedule-date">
        <h3 class="schedule-month">{{item.date|date: 'dd/MM/yyyy'}}</h3>
        <h3 class="item-title">{{item.payment_name | translate}}</h3>
      </ion-col>
      <ion-col no-padding width-65 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
        <h2 *ngIf="item.total > 0" class="list-big-number" style="color: green;">$ {{item.total| number:'1.0'}}</h2>
        <h2 *ngIf="item.total <= 0" class="list-big-number" style="color: red;">$ {{item.total| number:'1.0'}}</h2>
        <div *ngIf="item.residual != 0 && item.state!='CANCELED'" style="color: red;">
          $ {{ item.residual | number:'1.0' }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col no-padding
      style="text-align: center;border-radius: 4px;"
      [class.quotation]="item.state=='QUOTATION'"
      [class.confirmed]="item.state=='CONFIRMED'"
      [class.paid]="item.state=='PAID'"
      [class.cancel]="item.state=='CANCELED'">
          {{ item.state | translate }}
      </ion-col>
    </ion-row>
    </ion-card>

    </ion-item>
      <ion-item-options>
        <ion-button icon-only color="primary" (click)="deletePurchase(item)" *ngIf="item.state=='QUOTATION'">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createPurchase()">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
