<ion-header>
  <ion-toolbar>
    <!-- <ion-title> -->
      <!-- <ion-thumbnail style="--border-radius:10px;"> -->
      <!-- <ion-row *ngIf="!select">
        <ion-col class="ion-no-padding">
          <img style="height: 88px;width: 234px;" [src]="'data:image/png;base64,'+config._attachments['logo.png'].data || './assets/images/sem_foto.jpg'"
          *ngIf="config._attachments && config._attachments['logo.png']">
        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-col style="text-align: center;" class="ion-no-padding" >
              <img
              style="height: 55px;width: 55px;border-radius: 30px;"
              [src]="'data:image/png;base64,'+config._attachments['logo.png'].data || './assets/images/sem_foto.jpg'"
              *ngIf="config._attachments && config._attachments['logo.png']">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="text-align: center;font-size: 12px;" class="ion-no-padding" >
                {{config.name}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row> -->
          <!-- <img src="./assets/images/sem_foto.jpg" *ngIf="!(config._attachments && config._attachments['logo.png'])"> -->
        <!-- </ion-thumbnail> -->
        <!-- Ted Bebidas -->
        <!-- <ion-thumbnail style="--border-radius:10px;">
            <img [src]="'data:image/png;base64,'+item._attachments['avatar.png'].data"
            *ngIf="item._attachments && item._attachments['avatar.png']">
            <img src="./assets/images/sem_foto.jpg" *ngIf="!(item._attachments && item._attachments['avatar.png'])">
          </ion-thumbnail> -->
    <!-- </ion-title> -->
    <ion-buttons slot="start">
        <!-- <ion-menu-button *ngIf="!select"></ion-menu-button> -->

        <ion-button *ngIf="select"
                (click)="discard()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <!-- <ion-button *ngIf="select"
                (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button> -->
    </ion-buttons>
    <ion-row>
      <ion-col *ngIf="category_id!='all'"
      size="1.5"
      class="ion-no-padding"
      (click)="goBack()"
      style="margin: auto;padding-left: 10px;font-size:25px;">
        <ion-icon name="arrow-back"  (click)="goBack()"></ion-icon>
      </ion-col>
      <ion-col  class="ion-no-padding">
        <ion-searchbar
        placeholder="{{ 'SEARCH_PRODUCT' | translate }}"
        [(ngModel)]="searchTerm"
        #searchBar
        (ionChange)="searchItems()">
      </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="list-mini-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <h1
  style="font-style: italic;font-weight: bold;font-size: 15px;text-align:center;margin-top: 5px;margin-bottom: 0px;color: white;"
  *ngIf="!select && !searchTerm && category_id=='all'"
  class="ion-no-padding">
    Algunas recomendaciones para ti
  </h1>
  <div class="scrolling-wrapper-flexbox" *ngIf="!select && !searchTerm && category_id=='all'">
    <div class="card" *ngFor="let item of promoted_products; let i = index;">
      <ion-row>
        <ion-card class="list-card" style="width: 180px;display: inline-block;">
        <ion-row  (click)="selectProduct(item)">
          <ion-col size="4">
            <img style="height: 50px;width: auto;border-radius: 5px;"
            [src]="'data:image/png;base64,'+item._attachments['avatar.png'].data"
            *ngIf="item._attachments && item._attachments['avatar.png']">
            <img style="height: 50px;width: auto;border-radius: 5px;"
            src="./assets/images/sem_foto.jpg" *ngIf="!(item._attachments && item._attachments['avatar.png'])">
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-row class="producto">
              <ion-col class="ion-no-padding">
                <h3 class="item-title" style="font-size: 13px;height: 30px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">{{ item.name }}</h3>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding content-row one-line">
              <ion-col class="ion-no-padding" style="text-align: right; margin-right: 0.5em;">
                <h2 class="list-big-number" style="color: green;font-size: 13px;">{{item.price| number:'1.'+currency_precision}} G$</h2>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding content-row one-line">
              <ion-col class="ion-no-padding" style="text-align: right; margin-right: 0.5em;">
                <ion-button style="height: 15px;">
                  Adicionar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-content">
          <div style="height: 22px;font-size: 10px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
            {{item.description}}

          </div>
          </ion-col>
        </ion-row>
      </ion-card>
      </ion-row>
      <ion-row *ngIf="promoted_products2[i]">
        <ion-card class="list-card" style="width: 180px;display: inline-block;">
        <ion-row  (click)="selectProduct(promoted_products2[i])">
          <ion-col size="4">
            <img style="height: 50px;width: auto;border-radius: 5px;"
            [src]="'data:image/png;base64,'+promoted_products2[i]._attachments['avatar.png'].data"
            *ngIf="promoted_products2[i]._attachments && promoted_products2[i]._attachments['avatar.png']">
            <img style="height: 50px;width: auto;border-radius: 5px;"
            src="./assets/images/sem_foto.jpg" *ngIf="!(promoted_products2[i]._attachments && promoted_products2[i]._attachments['avatar.png'])">
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-row class="producto">
              <ion-col class="ion-no-padding">
                <h3 class="item-title" style="font-size: 13px;height: 30px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">{{ promoted_products2[i].name }}</h3>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding content-row one-line">
              <ion-col class="ion-no-padding" style="text-align: right; margin-right: 0.5em;">
                <h2 class="list-big-number" style="color: green;font-size: 13px;">{{promoted_products2[i].price| number:'1.'+currency_precision}} G$</h2>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding content-row one-line">
              <ion-col class="ion-no-padding" style="text-align: right; margin-right: 0.5em;">
                <ion-button style="height: 15px;">
                  Adicionar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-content">
          <div style="height: 22px;font-size: 10px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
            {{item.description}}
          </div>
          </ion-col>
        </ion-row>
      </ion-card>
      </ion-row>
    </div>
  </div> -->
  <!-- <h1 *ngIf="!select && !searchTerm && category_id=='all'"
  style="font-style: italic;font-weight: bold;font-size: 25px;text-align:center;margin-top: 5px;margin-bottom: 0px;color: white;">
    {{'CATEGORIES'| translate}}
  </h1>
  <div class="scrolling-wrapper-flexbox" *ngIf="!select && !searchTerm && category_id=='all'">
    <div class="card" style="margin-left: 5px;margin-right:5px;" *ngFor="let item of promoted_categories">
        <ion-card class="list-card"
        style="height: 120px;margin:0px"
        (click)="filterCategory(item)">
          <ion-row  class="producto">
            <ion-col class="ion-no-padding">
              <h3 class="item-title">{{ item.name }}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <img
            style="height: 95px;width: auto;"
            [src]="'data:image/png;base64,'+item._attachments['avatar.png'].data"
            *ngIf="item._attachments && item._attachments['avatar.png']">
            <img
            style="height: 95px;width: auto;"
            src="./assets/images/sem_foto.jpg"
            *ngIf="!(item._attachments && item._attachments['avatar.png'])">
          </ion-row>
        </ion-card>
    </div>
  </div> -->

  <!-- <h1
  style="font-style: italic;font-weight: bold;font-size: 15px;text-align:center;margin-top: 5px;margin-bottom: 0px;color: white;"
  *ngIf="!select && !searchTerm && category_id=='all'"
  class="ion-no-padding">
    Todos Productos
  </h1> -->
  <div class="scrolling-wrapper-flexbox2">
    <div class="card" *ngFor="let item of products; let i = index;">
      <ion-item-sliding class="list-item">
        <ion-item class="ion-no-padding">
      <!-- <ion-row> -->
        <ion-card class="list-card" style="display: inline-block;">
        <ion-row  (click)="selectProduct(item)">
          <ion-col size="4">
            <img style="height: 50px;width: auto;border-radius: 5px;"
            [src]="'data:image/png;base64,'+item._attachments['avatar.png'].data"
            *ngIf="item._attachments && item._attachments['avatar.png']">
            <img style="height: 50px;width: auto;border-radius: 5px;"
            src="./assets/images/sem_foto.jpg" *ngIf="!(item._attachments && item._attachments['avatar.png'])">
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-row class="producto">
              <ion-col class="ion-no-padding">
                <h3 class="item-title" style="font-size: 13px;height: 30px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">{{ item.name }}</h3>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding content-row one-line">
              <ion-col class="ion-no-padding" style="text-align: right; margin-right: 0.5em;">
                <h2 class="list-big-number" style="color: green;font-size: 13px;">{{item.price| number:'1.'+currency_precision}} G$</h2>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-content">
          <div style="height: 22px;font-size: 10px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
            {{item.description}}

          </div>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- </ion-row> -->
    </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteProduct(item)"
        *ngIf="!item.fixed">
          {{ 'DELETE'| translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-row *ngIf="products.length==0">
    <ion-col style="width:80%;margin-left:10%;margin-right:10%;margin-top: 0%;background: white;border-radius:10px;background: ">
      <ion-row>
        <ion-col>
          <h1>{{'LOADING_PRODUCTS' | translate }}</h1>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <h4>{{'FIRST_PRODUCT'| translate}}</h4>
        </ion-col>
      </ion-row> -->
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createProduct()" color="primary">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
