<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button *ngIf="!select"></ion-menu-button>
        <ion-button *ngIf="select"
                (click)="discard()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar Producto"
      [(ngModel)]="searchTerm"
      #searchBar
      (ionInput)="searchItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!select" ion-button icon-only class="more-button"
              (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-searchbar
    placeholder="Busqueda"
    [(ngModel)]="searchTerm"
    (ionInput)="setFilteredItems()">
  </ion-searchbar> -->
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of products">
      <ion-item no-padding style="background-color: #ddd">
      <ion-card class="list-card">

        <ion-row>
          <ion-col>
            <ion-row (click)="selectProduct(item)" class="producto">
              <ion-col no-padding>
                <h3 class="item-title"><b>{{ item.name }}</b></h3>
              </ion-col>
            </ion-row>
             <ion-row no-padding class="content-row one-line">
                <ion-col no-padding class="schedule-date" (click)="selectProduct(item)">
                  <h3 class="item-title" *ngIf="item.type != 'service'">
                    <!-- <div *ngIf="item.stock>item.stock_min"> -->
                      Stock: <b style="color: green;margin-left: 5px">{{item.stock}}</b>
                    <!-- </div> -->
                    <!-- <div *ngIf="item.stock<=item.stock_min">
                      Stock: <b style="background: yellow;margin-left: 5px">{{item.stock}}</b>
                    </div> -->
                  </h3>
                  <h3 style="font-size: 15px;font-weight: normal;">
                    <!-- <div *ngIf="item.stock>item.stock_min"> -->
                      Codigo: <b style="margin-left: 5px">{{item.code}}</b>
                    <!-- </div> -->
                    <!-- <div *ngIf="item.stock<=item.stock_min">
                      Stock: <b style="background: yellow;margin-left: 5px">{{item.stock}}</b>
                    </div> -->
                  </h3>
                </ion-col>
                <ion-col no-padding size="6" style="text-align: right; margin-right: 0.5em;" (click)="selectProduct(item)">
                  <h2 class="list-big-number" *ngIf="operation!='purchase'" style="color: green;">$ {{item.price| number:'1.0'}}</h2>
                  <h2 class="list-big-number" *ngIf="operation=='purchase'"style="color: red;">$ {{item.cost| number:'1.0'}}</h2>
                </ion-col>
              </ion-row>
              <ion-row no-padding *ngIf="item.stock>=0&&item.stock<item.stock_min&&item.type=='product'">
                <ion-col no-padding style="text-align: center;" class="confirmed">
                    {{ 'Stock Abajo del Minimo' | translate }}
                </ion-col>
              </ion-row>
              <ion-row no-padding *ngIf="item.stock<0&&item.type=='product'"  class="due">
                <ion-col no-padding style="text-align: center;color: white;">
                    {{ 'Stock Negativo' | translate }}
                </ion-col>
              </ion-row>
          </ion-col>
          <ion-col size="2" class="open-item-col" *ngIf="select" (click)="openProduct(item)">
            <ion-icon name="open" class="open-item-arrow"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-item>
      <ion-item-options *ngIf="!select">
        <ion-button icon-only color="primary" (click)="deleteProduct(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-row>
    <ion-col style="width:80%;margin-left:10%;margin-right:10%;margin-top: 0%;background: white;border-radius:10px;background: ">
      <!-- <ion-row>
        <ion-col></ion-col>
        <ion-col no-padding>
          <img style="background: #f6f5f5;border-radius:10px;margin-bottom:10px;" src="https://uc345e667ca43908d75a8cf2bc88.previews.dropboxusercontent.com/p/thumb/AATLtAiIK4RGYT7yj71W0syFKYCjVG3wSwkU69o92pa__72jG9r98BSj985Ul8Pj2LoK26vXBFn4pCZjlqzaCeHC8XwjeySykvxU3My3458ojVjEbPWBJAs26kZJJ7PZm3EU6Ylc-7lt78hU_Lbg-gIJ0UEprS2thP1e3kiLpwevJvK00WuzaXKljqO_Y11BgrnwGIn7bnaSnXo5ZdITcSpiqBe-RGM2ABYCL3VBDbNU2qBCZAUsJJg2Bfj-c5FlH_nyAs34o_75eLZ01YS4G37G/p.png?size=1600x1200&size_mode=3"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <h1>Aún no has catastrado tus productos</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4>Para catastrar tus productos, pulsa el botón más</h4>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" style="text-align: center;margin-top: 20px;">
      <ion-icon name="arrow-round-down"  color="primary" style="font-size: 70px"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createProduct()">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
