<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button *ngIf="!select"></ion-menu-button>
        <ion-button *ngIf="select"
                (click)="discard()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="{{ 'SEARCH_PRODUCT' | translate }}"
      [(ngModel)]="searchTerm"
      #searchBar
      (ionChange)="searchItems()">
    </ion-searchbar>
    <!-- <ion-buttons slot="end">
      <ion-button *ngIf="!select" ion-button icon-only class="more-button"
              (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>



<ion-content class="list-mini-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of products">
      <ion-item class="ion-no-padding" style="background-color: #ddd">
      <ion-card class="list-card">

        <ion-row>
          <ion-col>
            <ion-row (click)="selectProduct(item)" class="producto">
              <ion-col class="ion-no-padding">
                <h3 class="item-title"><b>{{ item.name }}</b></h3>
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding content-row one-line" (click)="selectProduct(item)">
              <ion-col class="item-content" style="white-space: normal;">
                {{item.description}}
              </ion-col>
              <ion-col class="ion-no-padding" size="6" style="text-align: right; margin-right: 0.5em;" (click)="selectProduct(item)">
                <h2 class="list-big-number" *ngIf="operation!='purchase'" style="color: green;">$ {{item.price| number:'1.'+currency_precision}}</h2>
                <!-- <h2 class="list-big-number" *ngIf="operation=='purchase'"style="color: red;">$ {{item.cost| number:'1.'+currency_precision}}</h2> -->
              </ion-col>
            </ion-row>
              <!-- <ion-row class="ion-no-padding" *ngIf="item.stock>=0&&item.stock<item.stock_min&&item.type=='product'">
                <ion-col class="ion-no-padding" style="text-align: center;" class="confirmed">
                    {{ 'STOCK_LOW' | translate }}
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding" *ngIf="item.stock<0&&item.type=='product'"  class="due">
                <ion-col class="ion-no-padding" style="text-align: center;color: white;">
                    {{ 'NEGATIVE_STOCK' | translate }}
                </ion-col>
              </ion-row> -->
          </ion-col>
          <ion-col size="2" class="open-item-col" *ngIf="select" (click)="openProduct(item)">
            <ion-icon name="open" class="open-item-arrow"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-item>
      <ion-item-options *ngIf="!select">
        <ion-item-option (click)="deleteProduct(item)"
        *ngIf="!item.fixed">
          {{ 'DELETE'| translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-row *ngIf="products.length==0">
    <ion-col style="width:80%;margin-left:10%;margin-right:10%;margin-top: 0%;background: white;border-radius:10px;background: ">
      <ion-row>
        <ion-col>
          <h1>{{'Ningun producto encontrado' | translate }}</h1>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <h4>{{'FIRST_PRODUCT'| translate}}</h4>
        </ion-col>
      </ion-row> -->
    </ion-col>
  </ion-row>
</ion-content>
