<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row>
        {{ 'TASK' | translate }}: {{workForm.value.code}}
      </ion-row>
      <ion-row style="font-size: 12px;">
        {{ 'STATE' | translate }}: {{ workForm.value.state | translate }}
      </ion-row>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
       (click)="buttonSave()"
       [hidden]="(!workForm.dirty || list)">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="work-content" style="background-color: #ddd">

  <form class="sample-form validations-form" [formGroup]="workForm" (ngSubmit)="onSubmit(workForm.value)">
    <ion-row justify-content-center *ngIf="!list">
      <ion-card class="list-card" class="sumary-label" no-padding (click)="selectActivity()" style="width: calc(50% - 20px);margin-bottom: 4%;margin-top: 1%;">
        <h4 class="sumary-label">{{'Atividade' | translate }}</h4>
        <h4 class="client-name">{{workForm.value.activity && workForm.value.activity.name || 'Ningun'}}</h4>
      </ion-card>
      <ion-card class="list-card" no-padding class="item-content" style="width: calc(50% - 20px);">
        <ion-col no-padding>
          <ion-label>{{'DATE' | translate }}</ion-label>
          <ion-datetime class="work-date" displayFormat="DD/MM/YYYY HH:mm" formControlName="date" [disabled]="workForm.value.state=='CONFIRMED'">
          </ion-datetime>
        </ion-col>
      </ion-card>
    </ion-row>
    <ion-list no-lines>
      <section>
        <ion-row>
          <ion-item-sliding class="list-item" *ngFor="let field of filterFields(workForm.value.fields)" [style.width]="field.class == 'half-width' ? '50%' : '100%'">
            <ion-item style="background-color: #fff;border: 1px solid #ddd;height: 50px;" class="switcher-item" *ngIf="field.type == 'boolean'">
              <ion-label>{{field.label || field.name}}</ion-label>
              <ion-toggle [formControlName]="field.name"></ion-toggle>
            </ion-item>
            <ion-item class="switcher-item" *ngIf="field.type == 'button'">
              <ion-button class="print-invoice"
                  (click)="buttonPress(field)">
                  {{ field.label || field.name }}
                </ion-button>
            </ion-item>
            <ion-item style="background-color: #fff;border: 1px solid #ddd;height: 50px;"
            *ngIf="field.type == 'integer'"
            (ionChange)="recomputeFields()">
              <ion-label position="floating">{{field.label || field.name}}</ion-label>
              <ion-input type="number"
              [disabled]="calculate(field.readonly)"
              [formControlName]="field.name"
              text-center>
              </ion-input>
            </ion-item>
            <ion-item style="background-color: #fff;border: 1px solid #ddd;height: 50px;"
            *ngIf="field.type == 'float'">
              <ion-label position="floating">{{field.label || field.name}}</ion-label>
              <ion-input type="number"
              [formControlName]="field.name"
              [id]="field.name"
              [disabled]="calculate(field.readonly)"
              text-center
              (ionChange)="recomputeFields()">
              </ion-input>
            </ion-item>
            <ion-item style="background-color: #fff;border: 1px solid #ddd;height: 50px;" *ngIf="field.type == 'string'">
              <ion-label position="floating">{{field.label || field.name}}</ion-label>
              <ion-input type="text" [formControlName]="field.name" text-center>
              </ion-input>
            </ion-item>
            <ion-item *ngIf="field.type == 'formula'" style="background-color: white;border: 1px solid #ddd;height: 50px;">
              <h4 class="sumary-label">{{field.label || field.name}}</h4>
              <h4 class="client-name" style="color: gray">{{ fields[field.name] }}</h4>
            </ion-item>
            <ion-item style="background-color: white" *ngIf="field.type == 'many2one'" style="background-color: #fff;border: 1px solid #ddd;height: 50px;" (click)="selectM2O(field.name, field.model, field.context)">
              <h4 class="sumary-label">{{field.label || field.name}}</h4>
              <h4 class="client-name">{{workForm.value[field.name] && workForm.value[field.name].name || 'Selecionar'}}</h4>
            </ion-item>
            <ion-item style="background-color: #ddd" *ngIf="field.type == 'list' && workForm.value[field.name].length > 0">
              <h2 class="section-title" style="color:#1c61f3;background: white;border: 1px solid;border-top-left-radius: 5px;border-top-right-radius: 5px;">{{ field.label || field.name | translate}}</h2>
              <ion-item-sliding class="list-item" *ngFor="let item of workForm.value[field.name]; let i = index;">
                <ion-item (click)="editFieldItem(field.name, i)" style="border: 1px solid #ddd;height: 50px;border-left: 1px solid #1c61f3;border-right: 1px solid #1c61f3;">
                  <ion-row>
                    <ion-col no-padding *ngFor="let atribute of field.attributes;">
                      <h4 class="sumary-label">{{atribute.label}}</h4>
                      <h4 class="user-name">{{item[atribute.name] && item[atribute.name].name || item[atribute.name]}}</h4>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item-options>
                  <ion-button icon-only color="primary" (click)="removeFieldItem(field.name, i)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-row style="background: #1c61f3;border-radius: 7px;border: 1px solid #1c61f3; border-top-left-radius: 0px;border-top-right-radius: 0px;"
              (click)="addFieldItem(field.name)">
                <a style="color:white;cursor: default;font-size:16px;margin-left: 32%;margin-top: 8px;margin-bottom: 8px;">
                  Agregar {{ field.label || field.name }}
                </a>
              </ion-row>
            </ion-item>

            <ion-item style="background-color: #ddd" *ngIf="field.type == 'list' && workForm.value[field.name].length == 0">
              <ion-row style="background: #1c61f3;border-radius: 5px;border: 1px solid #1c61f3;"
              (click)="addFieldItem(field.name)">
                <a style="color:white;cursor: default;font-size:16px;margin-left: 32%;margin-top: 8px;margin-bottom: 8px;">
                  Agregar {{ field.label || field.name }}
                </a>
              </ion-row>
            </ion-item>

            <ion-item style="background-color: #fff;border: 1px solid #ddd;height: 50px;" *ngIf="field.type == 'date'" >
              <ion-label position="floating">{{field.label || field.name}}</ion-label>
              <ion-datetime class="task-date" displayFormat="DD/MM/YYYY"
              pickerFormat="DD/MM/YYYY"
              [disabled]="calculate(field.readonly)"
              [formControlName]="field.name">
              </ion-datetime>
            </ion-item>
          </ion-item-sliding>
        </ion-row>
      </section>
    </ion-list>
    <!-- <ion-button *ngIf="list" class="print-invoice"
    (click)="dismissData()">
      Agregar
    </ion-button> -->
  </form>
  <ion-fab bottom center>
    <ion-fab-button (click)="goNextStep()" color="blue" class="play-button">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-button>
  </ion-fab>
</ion-content>
