<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cash-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-row>
        {{cashForm.value.name}}
      </ion-row>
    </ion-title>
    <ion-buttons slot="end" >
      <!-- <ion-button (click)="buttonSave()" [hidden]="!cashForm.dirty">
        {{ 'SAVE' | translate }}
      </ion-button> -->
      <ion-button>
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form class="sample-form validations-form" [formGroup]="cashForm" (ngSubmit)="onSubmit(cashForm.value)">

    <ion-row>
      <!-- <ion-item
       no-padding
       class="field-50">
        <ion-label position="floating" style="font-size:14px">{{'NAME' | translate}}</ion-label>
        <ion-input #input type="text"
        formControlName="name"></ion-input>
      </ion-item> -->

      <!-- <ion-col style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;">
        {{'CURRENT_BALANCE' | translate }}<div class="warehouse-move-amount" style="text-align: center"> {{cashForm.value.balance|number:'1.0'}}</div>
      </ion-col> -->
      <ion-item
       no-padding
       class="field-100">
       <div class="field-many2one">
         <h4 class="field-label">{{'CURRENT_BALANCE' | translate }}</h4>
         <h4 class="field-value" style="color: green;">{{cashForm.value.balance|number:'1.0'}}</h4>
       </div>
      </ion-item>
      <ion-item
       no-padding
       (click)="selectCurrency()"
       class="field-50">
       <div class="field-many2one">
         <h4 class="field-label">{{'CURRENCY' | translate }}</h4>
         <h4 class="field-value-max">{{cashForm.value.currency && cashForm.value.currency.name || 'Selecionar'}}</h4>
       </div>
      </ion-item>
      <ion-item
       no-padding
       class="field-50">
        <ion-label position="floating">{{'Tipo' | translate}}</ion-label>
        <ion-select formControlName="type"
          cancelText="{{ 'CANCEL' | translate }}"
          interface="popover"
          okText="{{ 'OK' | translate }}">
          <ion-select-option value="cash">Dinero</ion-select-option>
          <ion-select-option value="bank">Banco</ion-select-option>
          <ion-select-option value="check">Cheque</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item
       *ngIf="cashForm.value.type=='bank'"
       no-padding
       class="field-100">
        <ion-label position="floating">{{'Banco' | translate}}</ion-label>
        <ion-select formControlName="bank_name"

          cancelText="{{ 'CANCEL' | translate }}"
          okText="{{ 'OK' | translate }}"
          interface="popover">
          <ion-select-option value="itau">Banco Itau</ion-select-option>
          <ion-select-option value="regional">Banco Regional</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>



<ion-segment formControlName="section" class="cash-segment">
  <ion-segment-button value="moves">
    Confirmado
  </ion-segment-button>
  <ion-segment-button value="waiting">
    En Espera
  </ion-segment-button>
</ion-segment>


<div [ngSwitch]="cashForm.value.section" class="forms-wrapper">
  <div *ngSwitchCase="'moves'" class="post-example-view">

    <ion-list no-lines>
      <ion-item-sliding class="list-item" *ngFor="let item of cashForm.value.moves && cashForm.value.moves.sort(this.formatService.compare) || []">
      <ion-item no-padding (click)="openItem(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;">
          <ion-row no-padding class="content-row one-line">
             <ion-col no-padding>
               <h3 class="item-title"><b>{{ item.contact_name }}</b></h3>
             </ion-col>
           </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-25 class="schedule-date">
          <h3 class="schedule-month">{{item.date|date: 'dd/MM/yyyy'}}</h3>
          <h4 class="schedule-time">{{item.date|date: 'HH:mm:SS'}}</h4>
        </ion-col>
        <ion-col no-padding width-35>
          <ion-row no-padding>
            <ion-col class="item-content" style="white-space: normal;">
              {{item.name}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col no-padding width-40 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
          <h2 *ngIf="item.accountFrom_id != _id" class="list-big-number" style="color: green;">$ {{item.amount| number:'1.0'}}</h2>
          <h2 *ngIf="item.accountTo_id != _id" class="list-big-number" style="color: red;">$ {{item.amount| number:'1.0'}}</h2>
        </ion-col>
      </ion-row>
      <ion-row no-padding [class.paid]="item.accountFrom_id != _id" [class.due]="item.accountFrom_id == _id">
        <ion-col *ngIf="item.accountFrom_id != _id" no-padding style="text-align: center;border-radius: 4px;">
          {{ item.accountFrom_name | translate}}
        </ion-col>
        <ion-col *ngIf="item.accountFrom_id != _id" no-padding size="2" class="item-icon">
          <ion-icon name="arrow-round-up" color="success"></ion-icon>
        </ion-col>
        <ion-col *ngIf="item.accountTo_id != _id" no-padding style="text-align: center;border-radius: 4px;">
          {{ item.accountTo_name | translate}}
        </ion-col>
        <ion-col *ngIf="item.accountTo_id != _id" no-padding size="2" class="item-icon">
          <ion-icon name="arrow-round-down"></ion-icon>
        </ion-col>
      </ion-row>

      <!-- <ion-row no-padding [class.paid]="item.accountFrom_id != _id" [class.due]="item.accountFrom_id == _id">
        <ion-col no-padding style="text-align: center;border-radius: 4px;">
          {{ item.state}}
        </ion-col>
      </ion-row> -->
      </ion-card>
    </ion-item>
        <ion-item-options>
          <ion-button icon-only color="primary" (click)="deleteCashMove(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
<ion-row style="height:15px;">
</ion-row>
  </div>
  <div *ngSwitchCase="'waiting'" class="post-example-view">
    <ion-list no-lines>
      <ion-item-sliding class="list-item" *ngFor="let item of cashForm.value.waiting && cashForm.value.waiting.sort(this.formatService.compare) || []">
      <ion-item no-padding (click)="openItem(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;">
          <ion-row no-padding class="content-row one-line">
             <ion-col no-padding>
               <h3 class="item-title"><b>{{ item.contact_name }}</b></h3>
             </ion-col>
           </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-25 class="schedule-date">
          <h3 class="schedule-month">{{item.date|date: 'dd/MM/yyyy'}}</h3>
          <h4 class="schedule-time">{{item.date|date: 'HH:mm:SS'}}</h4>
        </ion-col>
        <ion-col no-padding width-35>
          <ion-row no-padding>
            <ion-col class="item-content" style="white-space: normal;">
              {{item.name}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col no-padding width-40 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
          <h2 *ngIf="item.amount > 0" class="list-big-number" style="color: green;">$ {{item.amount| number:'1.0'}}</h2>
          <h2 *ngIf="item.amount <= 0" class="list-big-number" style="color: red;">$ {{item.amount| number:'1.0'}}</h2>
        </ion-col>
      </ion-row>
      <ion-row no-padding [class.paid]="item.accountFrom_id != _id" [class.due]="item.accountFrom_id == _id">
        <ion-col no-padding width-45 style="text-align: center;border-radius: 4px;">
          {{ item.accountFrom_name | translate}}
        </ion-col>
        <ion-col no-padding width-10 class="item-icon">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
        <ion-col no-padding width-45 style="text-align: center;border-radius: 4px;">
          {{ item.accountTo_name | translate}}
        </ion-col>
      </ion-row>

      <ion-row no-padding [class.paid]="item.accountFrom_id != _id" [class.due]="item.accountFrom_id == _id">
        <ion-col no-padding style="text-align: center;border-radius: 4px;">
          {{ item.state}}
        </ion-col>
      </ion-row>
      </ion-card>
    </ion-item>
        <ion-item-options>
          <ion-button icon-only color="primary" (click)="deleteCashMove(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
<ion-row style="height:15px;">
</ion-row>
  </div>
  <!-- <div *ngSwitchCase="'emited'" class="post-example-view">
    <h2>Emited</h2>
  </div> -->
</div>




</form>

<!-- <ion-fab center bottom #fab> -->
<ion-fab vertical="bottom" horizontal="center" slot="fixed"  #fab>
<ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
<ion-fab-list side="top">
<div style="background: #4CAF50;color: white;margin-top: -5px;">Entrada</div><ion-button style="background: #4CAF50;color: white;margin-bottom: 5px;" ion-fab (click)="addIncome(fab)"><ion-icon name="arrow-round-down"></ion-icon></ion-button>
<div style="background: #FF5722;color: white;margin-top: -5px;">Salida</div><ion-button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="addExpense(fab)"><ion-icon name="arrow-round-up"></ion-icon></ion-button>
<div style="background: #FF5722;color: white;margin-top: -5px;">Transferencia</div><ion-button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="addTransfer(fab)"><ion-icon name="arrow-round-up"></ion-icon></ion-button>
</ion-fab-list>
</ion-fab>

<!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-button (click)="goNextStep()"  class="next-button">
    <ion-icon name="fastforward"> </ion-icon>
    Proximo
  </ion-button>
  <ion-fab-list side="top">
  <div style="background: #4CAF50;color: white;margin-top: -5px;">Entrada</div><ion-button style="background: #4CAF50;color: white;margin-bottom: 5px;" ion-fab (click)="addIncome(fab)"><ion-icon name="arrow-round-down"></ion-icon></ion-button>
  <div style="background: #FF5722;color: white;margin-top: -5px;">Salida</div><ion-button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="addExpense(fab)"><ion-icon name="arrow-round-up"></ion-icon></ion-button>
  <div style="background: #FF5722;color: white;margin-top: -5px;">Transferencia</div><ion-button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="addTransfer(fab)"><ion-icon name="swap"></ion-icon></ion-button>
  </ion-fab-list>
</ion-fab> -->

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-button (click)="discard()" color="danger" class="discard-button">
    <ion-icon name="backspace" *ngIf="cashForm.dirty"> </ion-icon>
    <ion-icon name="arrow-back" *ngIf="!cashForm.dirty"> </ion-icon>
    <span *ngIf="cashForm.dirty">Descartar</span>
    <span *ngIf="!cashForm.dirty">Volver</span>
  </ion-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="cashForm.dirty">
  <ion-button (click)="buttonSave()"  color="success" class="save-button">
    <ion-icon name="save"> </ion-icon>
    Guardar
  </ion-button>
</ion-fab>
<div style="height: 100px;">
</div>
</ion-content>
