<ion-header>
  <ion-toolbar color="primary">
    <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-searchbar
      placeholder="Buscar Servicio"
      [(ngModel)]="searchTerm"
      #searchbar
      (ionInput)="searchItems()">
    </ion-searchbar>
    <ion-buttons right>
      <ion-button icon-only color="royal"
              (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of services">
      <ion-item no-padding (click)="openService(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;">
          <ion-row>
            <ion-col no-padding width-20 class="schedule-date">
              <h2 class="list-big-number">{{item.code}}</h2>
            </ion-col>
            <ion-col>
              <h3 class="item-title"><b>{{ item.contact_name }}</b></h3>
            </ion-col>
          </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding width-35 class="schedule-date">
          <!-- <h2 class="list-big-number">{{item.code}}</h2> -->
          <h3 class="schedule-month">{{item.date|date: 'dd/MM/yyyy'}}</h3>
          <!-- <h4 class="schedule-time">{{item.date|date: 'HH:mm:SS'}}</h4> -->
          <h3 class="item-title">{{item.payment_name | translate}}</h3>
        </ion-col>
        <ion-col no-padding width-65 class="item-icon" align-self-center style="text-align: right;margin-right: 1em;">
          <h2 *ngIf="item.total > 0" class="list-big-number" style="color: green;">$ {{item.total| number:'1.0'}}</h2>
          <h2 *ngIf="item.total <= 0" class="list-big-number" style="color: red;">$ {{item.total| number:'1.0'}}</h2>
          <div *ngIf="item.residual != 0 && item.state!='CANCELED'" style="color: red;">
            $ {{ item.residual | number:'1.0' }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col class="item-content" style="white-space: normal;">
          {{item.client_request}}
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col no-padding style="text-align: center;border-radius: 4px;"
        [class.quotation]="item.state=='QUOTATION'"
        [class.started]="item.state=='STARTED'"
        [class.quotation]="item.state=='SCHEDULED'"
        [class.confirmed]="item.state=='CONFIRMED'"
        [class.paid]="item.state=='PAID'"
        [class.cancel]="item.state=='CANCELED'">
            {{ item.state | translate }}
        </ion-col>
      </ion-row>
      </ion-card>

    </ion-item>
      <ion-item-options>
        <ion-button icon-only color="primary" (click)="deleteService(item)" *ngIf="item.state=='QUOTATION'">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-row style="height:15px;">
  </ion-row>
  <!-- <ion-fab bottom right>
      <ion-fab-button (click)="createService()" color="green">
          <ion-icon name="add">
          </ion-icon>
      </ion-button>
  </ion-fab> -->
  <ion-fab center bottom #fab>
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-button>
    <ion-fab-list side="top">
      <div style="background: #FF5722;color: white;margin-top: -5px;">Servicio</div><button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="createService(fab)"><ion-icon name="arrow-round-up"></ion-icon></ion-button>
    <div style="background: #4CAF50;color: white;margin-top: -5px;">Producción</div><button style="background: #4CAF50;color: white;margin-bottom: 5px;" ion-fab (click)="createProduction(fab)"><ion-icon name="arrow-round-down"></ion-icon></ion-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
