<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!has_search">{{ 'PAYMENT_CONDITIONS' | translate}}</ion-title>
    <ion-searchbar
      placeholder="Busqueda"
      [(ngModel)]="searchTerm"
      (ionInput)="setFilteredItems()"
      *ngIf="has_search">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only  *ngIf="!has_search"
        (tap)="setSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button icon-only  *ngIf="has_search"
        (tap)="setSearch()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button icon-only 
              (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of paymentConditionList">
      <ion-item no-padding>
        <ion-card class="list-card">
      <ion-row style="padding-top:10px; padding-bottom:10px;" class="content-row one-line">
        <ion-col width-90 class="payment-condition" (click)="selectPaymentCondition(item)">
          <h3 class="item-title">{{item.name}}</h3>
        </ion-col>
        <ion-col width-10 (click)="openPaymentCondition(item)" class="item-icon">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
</ion-card>
    </ion-item>
      <ion-item-options>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="createPaymentCondition()">
          <ion-icon name="add">
          </ion-icon>
      </ion-button>
  </ion-fab>
</ion-content>
