
.scrolling-wrapper-flexbox {
 display: flex;
 flex-wrap: nowrap;
 overflow-x: auto;

 .card {
   flex: 0 0 auto;
 }
}

.scrolling-wrapper-flexbox2 {
 background: linear-gradient(to left,#479afe,#4496f3);
 display: flex;
 flex-wrap: wrap;
 overflow-x: auto;


 .card {
   width: 25%;
   flex: 0 0 auto;
 }
 @media screen and (max-width: 900px){
   .card {
     width: 33%;
     flex: 0 0 auto;
   }
 }
 @media screen and (max-width: 600px){
   .card {
     width:50%;
     flex: 0 0 auto;
   }
 }
 @media screen and (max-width: 320px){
   .card {
     width:100%;
     flex: 0 0 auto;
   }
 }
}
