<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'PRODUCT' | translate }}-{{productForm.value.code}}</ion-title>
    <ion-buttons end [hidden]="!productForm.dirty">
      <button ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="product-content">
  <form class="sample-form validations-form"
   [formGroup]="productForm"
   (ngSubmit)="onSubmit(productForm.value)">

    <ion-row>
      <ion-item style="background-color: #fff;border: 1px solid #ddd;">
        <ion-label floating style="font-size:14px">{{'NAME' | translate}}</ion-label>
        <ion-input #name type="text" formControlName="name"></ion-input>
      </ion-item>


      <ion-item
       no-padding
       style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label floating style="font-size:14px">{{'SALE_PRICE' | translate}}</ion-label>
        <ion-input #price type="number"
        formControlName="price"></ion-input>
      </ion-item>

      <ion-item
       no-padding
       style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label floating style="font-size:14px">{{'PURCHASE_COST' | translate}}</ion-label>
        <ion-input #cost type="number"
        formControlName="cost"></ion-input>
      </ion-item>
      <ion-item
      no-padding
      style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label>{{'Unidad' | translate}}</ion-label>
        <ion-select formControlName="unity"
          cancelText="{{ 'CANCEL' | translate }}"
          okText="{{ 'OK' | translate }}">
          <ion-option value="un">Unidad</ion-option>
          <ion-option value="h">Hora</ion-option>
          <ion-option value="L">Litro</ion-option>
          <ion-option value="ml">miliLitro</ion-option>
          <ion-option value="g">Gramo</ion-option>
          <ion-option value="kg">KiloGramo</ion-option>
          <ion-option value="m">Metro</ion-option>
          <ion-option value="m3">Metro Cubico</ion-option>
          <ion-option value="km">KiloMetro</ion-option>
          <ion-option value="m2">Metro Cuadrado</ion-option>
          <ion-option value="ha">Hectare</ion-option>
        </ion-select>
      </ion-item>
      <ion-item
      no-padding
      style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label>{{'TYPE' | translate}}</ion-label>
        <ion-select #type formControlName="type"
          cancelText="{{ 'CANCEL' | translate }}"
          okText="{{ 'OK' | translate }}">
          <ion-option value="product">Producto</ion-option>
          <ion-option value="service">Servicio</ion-option>
          <ion-option value="urban_area">Area Urbana</ion-option>
          <ion-option value="rural_area">Area Rural</ion-option>
          <ion-option value="machine">Maquinario</ion-option>
          <ion-option value="vehicle">Vehiculo</ion-option>
          <ion-option value="animal">Animal</ion-option>
        </ion-select>
      </ion-item>

      <ion-item
      no-padding
      style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label>{{'IVA' | translate}}</ion-label>
        <ion-select formControlName="unity"
          cancelText="{{ 'CANCEL' | translate }}"
          okText="{{ 'OK' | translate }}">
          <ion-option value="iva10">10%</ion-option>
          <ion-option value="iva5">5%</ion-option>
          <ion-option value="iva0">Exento</ion-option>
        </ion-select>
      </ion-item>


      <ion-item
       no-padding
       style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label floating style="font-size:14px">{{'CODE' | translate}}</ion-label>
        <ion-input type="number"
        formControlName="code"></ion-input>
      </ion-item>
      <ion-item
      no-padding
      (click)="selectCategory()"
       style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <h4 class="sumary-label">{{'CATEGORY' | translate}}</h4>
        <h4 class="client-name">{{productForm.value.category && productForm.value.category.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
      *ngIf="productForm.value.type=='product'"
       no-padding
       style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label floating style="font-size:14px">{{'STOCK' | translate}}</ion-label>
        <ion-input type="number"
        #stock
        formControlName="stock"></ion-input>
      </ion-item>
      <ion-item
      *ngIf="productForm.value.type=='product'"
       no-padding
       style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label floating style="font-size:14px">{{'STOCK_MIN' | translate}}</ion-label>
        <ion-input type="number"
        formControlName="stock_min"></ion-input>
      </ion-item>
      <ion-item
       no-padding
       style="width: calc(100% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;">
        <ion-label floating style="font-size:14px">{{'BARCODE' | translate}}</ion-label>
        <ion-input type="number"
        formControlName="barcode"></ion-input>
      </ion-item>

      <ion-item style="background-color: #fff;border: 1px solid #ddd;">
        <ion-label floating style="font-size:14px">{{'NOTE' | translate}}</ion-label>
        <ion-input type="text" formControlName="note"></ion-input>
      </ion-item>

    </ion-row>
  </form>
  <ion-fab bottom center>
    <button ion-fab (click)="goNextStep()" color="green">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </button>
  </ion-fab>
</ion-content>
