<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="this.navCtrl.navigateBack('/product-list')"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PRODUCT' | translate }}-{{productForm.value.code}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="product-content">
  <form class="sample-form validations-form" [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
    <ion-row>
      <ion-item class="field-100">
        <ion-label position="floating">{{'NAME' | translate}}</ion-label>
        <ion-input #name type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item no-padding class="field-50">
        <ion-label position="floating">{{'SALE_PRICE' | translate}}</ion-label>
        <ion-input #price type="number" formControlName="price"></ion-input>
      </ion-item>
      <ion-item no-padding class="field-50">
        <ion-label position="floating">{{'PURCHASE_COST' | translate}}</ion-label>
        <ion-input #cost type="number" formControlName="cost"></ion-input>
      </ion-item>
      <ion-item no-padding class="field-50">
        <ion-label position="floating">{{'TYPE' | translate}}</ion-label>
        <ion-select #type (ionChange)="getDefaultCategory()" formControlName="type" cancelText="{{ 'CANCEL' | translate }}" okText="{{ 'OK' | translate }}" interface="popover">
          <ion-select-option value="product">Producto</ion-select-option>
          <ion-select-option value="service">Servicio</ion-select-option>
          <!-- <ion-select-option value="seed">Semente</ion-select-option>
          <ion-select-option value="fertilizer">Adubo</ion-select-option>
          <ion-select-option value="defensive">Defensivo</ion-select-option> -->
          <!-- <ion-select-option value="urban_area">Area Urbana</ion-select-option>
          <ion-select-option value="rural_area">Area Rural</ion-select-option>
          <ion-select-option value="machine">Maquinario</ion-select-option>
          <ion-select-option value="vehicle">Vehiculo</ion-select-option>
          <ion-select-option value="animal">Animal</ion-select-option> -->
        </ion-select>
      </ion-item>
      <ion-item no-padding class="field-50">
        <ion-label position="floating">{{'Unidad' | translate}}</ion-label>
        <ion-select formControlName="unity" interface="popover" cancelText="{{ 'CANCEL' | translate }}" okText="{{ 'OK' | translate }}">
          <ion-select-option value="un">Unidad</ion-select-option>
          <ion-select-option value="L">Litro</ion-select-option>
          <ion-select-option value="kg">Kilogramo</ion-select-option>
          <ion-select-option value="bag60kg">Saca 60Kg</ion-select-option>
          <ion-select-option value="bag50kg">Saca 50Kg</ion-select-option>
          <ion-select-option value="ton">Tonelada</ion-select-option>
          <ion-select-option value="h">Hora</ion-select-option>
          <ion-select-option value="ml">miliLitro</ion-select-option>
          <ion-select-option value="g">Gramo</ion-select-option>
          <ion-select-option value="m">Metro</ion-select-option>
          <ion-select-option value="m3">Metro Cubico</ion-select-option>
          <ion-select-option value="km">KiloMetro</ion-select-option>
          <ion-select-option value="m2">Metro Cuadrado</ion-select-option>
          <ion-select-option value="ha">Hectare</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="productForm.value.type=='product'" no-padding class="field-50">
        <ion-label position="floating">{{'STOCK' | translate}}</ion-label>
        <ion-input type="number" #stock formControlName="stock"></ion-input>
      </ion-item>
      <ion-item *ngIf="productForm.value.type=='product'" no-padding class="field-50">
        <ion-label position="floating">{{'STOCK_MIN' | translate}}</ion-label>
        <ion-input type="number" formControlName="stock_min"></ion-input>
      </ion-item>
      <ion-item no-padding class="field-50">
        <ion-label position="floating">{{'CODE' | translate}}</ion-label>
        <ion-input type="number" formControlName="code"></ion-input>
      </ion-item>
      <ion-item no-padding class="field-50">
        <ion-label position="floating">{{'IVA' | translate}}</ion-label>
        <ion-select formControlName="tax" cancelText="{{ 'CANCEL' | translate }}" okText="{{ 'OK' | translate }}" interface="popover">
          <ion-select-option value="iva10">10%</ion-select-option>
          <ion-select-option value="iva5">5%</ion-select-option>
          <ion-select-option value="iva0">Exento</ion-select-option>
          <ion-select-option value="fee">Tasa</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item no-padding #category (click)="selectCategory()" class="field-50">
        <div class="field-many2one">
          <h4 class="field-label">{{'CATEGORY' | translate}}</h4>
          <h4 class="field-value">{{productForm.value.category && productForm.value.category.name || 'SELECT'|translate}}</h4>
        </div>
      </ion-item>
      <ion-item no-padding #brand (click)="selectBrand()" class="field-50">
        <div class="field-many2one">
          <h4 class="field-label">{{'BRAND' | translate}}</h4>
          <h4 class="field-value">{{productForm.value.brand && productForm.value.brand.name || 'SELECT'|translate}}</h4>
        </div>
      </ion-item>
      <ion-item no-padding class="field-100">
        <ion-label position="floating">{{'BARCODE' | translate}}</ion-label>
        <ion-input type="number" #barcode formControlName="barcode"></ion-input>
      </ion-item>
      <ion-item class="field-100">
        <ion-label position="floating">{{'NOTE' | translate}}</ion-label>
        <ion-input type="text" formControlName="note"></ion-input>
      </ion-item>
    </ion-row>
  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="showNextButton()">
    <ion-button (click)="goNextStep()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      {{'NEXT'|translate}}
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger">
      <ion-icon name="backspace" *ngIf="productForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!productForm.dirty"> </ion-icon>
      <span *ngIf="productForm.dirty">{{ 'DISCARD'| translate }}</span>
      <span *ngIf="!productForm.dirty">{{ 'GO_BACK'| translate }}</span>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="productForm.dirty">
    <ion-button (click)="buttonSave()"  color="success">
      <ion-icon name="save"> </ion-icon>
      {{ 'SAVE'| translate }}
    </ion-button>
  </ion-fab>
  <div style="height: 100px;">
  </div>
</ion-content>
