<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/invoice-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
	{{ 'INVOICE' | translate }}: {{invoiceForm.value.code||invoiceForm.value.number}}
    </ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-item
    no-padding
     class="summary-50">
      <h4 class="field-label">{{'TOTAL' | translate}}</h4>
      <h4 class="field-value" style="color:blue">$ {{invoiceForm.value.total|number:'1.0'}}</h4>
    </ion-item>
    <ion-item
    no-padding
     class="summary-50">
      <h4 class="field-label">{{'IVA' | translate}}</h4>
      <h4 class="field-value" style="color:red">$ {{invoiceForm.value.tax|number:'1.0'}}</h4>
    </ion-item>
  </ion-row>

  <ion-row  class="state-header">
    <ion-col size="6">
      <div class="clicked arron" style="width:131%;">
        <span class="state-label">Borrador</span>
      </div>
    </ion-col>
    <ion-col size="6">
      <div [class.unclicked]="invoiceForm.value.state=='QUOTATION'" [class.clicked]="invoiceForm.value.state!='QUOTATION'" class="arrow">
        <span class="state-label">Impresa</span>
      </div>
    </ion-col>
    <!-- <ion-col size="4">
      <div [class.unclicked]="invoiceForm.value.state!='PAID'" [class.clicked]="invoiceForm.value.state=='PAID'" class="arrow">
        <span class="state-label">Cobrada</span>
      </div>
    </ion-col> -->
  </ion-row>





</ion-header>

<ion-content background="#ddd">
  <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit(invoiceForm.value)">
    <ion-row justify-content-center>
      <ion-item no-padding (click)="selectContact()" class="field-100">
        <h4 class="field-label" *ngIf="invoiceForm.value.type == 'out'">{{'CLIENT' | translate}}</h4>
        <h4 class="field-label" *ngIf="invoiceForm.value.type == 'in'">{{'SUPPLIER' | translate}}</h4>
        <h4 class="field-value">{{invoiceForm.value.contact && invoiceForm.value.contact.name || 'Selecionar'}}</h4>
      </ion-item>
      <!-- <ion-item no-padding (click)="selectPaymentCondition()" class="field-100">
        <h4 class="field-label">{{'Condición de Pago' | translate }}</h4>
        <h4 class="field-value">{{invoiceForm.value.paymentCondition && invoiceForm.value.paymentCondition.name || 'Selecionar'}}</h4>
      </ion-item> -->
      <ion-item
      no-padding
      (click)="editContact()"
       class="field-100">
        <h4 class="field-label">{{'RUC' | translate}}</h4>
        <h4 class="field-value">{{invoiceForm.value.contact && invoiceForm.value.contact.document || 'Informar'}}</h4>
      </ion-item>
<ion-item
       no-padding
       class="field-100">
        <ion-label position="floating">{{'Condición de Pago' | translate}}</ion-label>
        <ion-select formControlName="paymentCondition"
          style="text-align: center;"
          interface="popover"
          cancelText="{{ 'CANCEL' | translate }}"
          okText="{{ 'OK' | translate }}">
          <ion-select-option value="Contado">Contado</ion-select-option>
          <ion-select-option value="Credito">Credito</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding class="field-50">
        <h4 class="field-label">{{'DATE' | translate }}</h4>
        <ion-datetime class="field-50-datetime"
        displayFormat="DD/MM/YYYY"
        pickerFormat="DD/MM/YYYY"
        formControlName="date"
        [disabled]="invoiceForm.value.state!='QUOTATION'">
        </ion-datetime>
      </ion-item>
      <ion-item no-padding (click)="selectCurrency()" class="field-50">
        <h4 class="field-label">{{'CURRENCY' | translate }}</h4>
        <h4 class="field-value">{{invoiceForm.value.currency && invoiceForm.value.currency.name || 'Selecionar'}}</h4>
      </ion-item>
    </ion-row>


    <ion-row>

      <ion-col size="12" *ngIf="invoiceForm.value.type == 'out' && invoiceForm.value.state == 'QUOTATION'">
        <ion-button class="button-100" color="success" (click)="setNumber()">Imprimir Factura</ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="invoiceForm.value.type == 'out' && invoiceForm.value.state != 'QUOTATION'">
        <ion-button class="button-100" color="success" (click)="setNumber()">ReImprimir Factura</ion-button>
      </ion-col>
      <ion-col *ngIf="invoiceForm.value.type == 'in' && invoiceForm.value.state == 'QUOTATION'" >
        <ion-button class="button-100" color="success" (click)="setNumber()">Confirmar Factura</ion-button>
      </ion-col>
</ion-row>
<ion-row>
  <ion-col size="12" *ngIf="invoiceForm.value.state == 'QUOTATION'">
    <ion-button class="button-100" (click)="addItem()">+ Agregar Item</ion-button>
  </ion-col>
</ion-row>
    <ion-list no-lines *ngIf="invoiceForm.value.items.length">
      <section>
      <h2 class="section-title">{{'Lineas de la Factura' | translate}}</h2>
      <ion-item-sliding  class="list-item" *ngFor="let item of invoiceForm.value.items">
        <ion-item>
          <ion-card class="list-card">
            <ion-row class="product-name-row">
              <!-- {{item.product && item.product.name}} -->
              <ion-col size="2" (click)="openItem(item)">
                {{item.product && item.product.code}}
              </ion-col>
              <ion-col (click)="editItemDescription(item)">
                {{item.product && item.product.name}}
              </ion-col>
            </ion-row>
        <ion-row>
          <ion-col size="6" style="white-space: normal;">
            <ion-row style="margin-top: -5px;">
              <ion-col  size="12" (click)="editItemPrice(item)" >
                <span class="price-label">Precio:</span>
                <div style="font-size: 15px;display: contents; color:red">
                   ${{item.price|number:'1.0'}}
                </div>

              </ion-col>
            </ion-row>
            <ion-row (click)="openItem(item)">
              <ion-col  size="12" class="item-content price-tag" (click)="editItemPrice(item)" >
                <span class="price-label">SubTotal:</span>
                <div style="font-size: 20px;color:green;">
                   ${{item.price*item.quantity|number:'1.0'}}
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6">

            <ion-row>
              <ion-col style="text-align: center;">
                Cantidad
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-button class="quantity-button" (click)="remItem(item)">-</ion-button>
              </ion-col>
              <ion-col size="6" (click)="editItemQuantity(item)" style="text-align: center;font-size: 20px;margin-top: 8px;">
                {{item.quantity}}
              </ion-col>
              <ion-col size="3">
                <ion-button class="quantity-button" (click)="sumItem(item)">+</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      </ion-item>
        <ion-item-options>
          <ion-item-option (click)="deleteItem(item)">
            Borrar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </section>
    </ion-list>
  </form>
  <!-- <ion-fab vertical="footer" horizontal="end" slot="fixed" *ngIf="invoiceForm.value.state == 'QUOTATION'">
    <ion-fab-button (click)="addItem()" color="primary">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab> -->


  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="showNextButton()">
    <ion-button (click)="goNextStep()"  class="next-button">
      <ion-icon name="fastforward"> </ion-icon>
      Proximo
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger" class="discard-button">
      <ion-icon name="backspace" *ngIf="invoiceForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!invoiceForm.dirty"> </ion-icon>
      <span *ngIf="invoiceForm.dirty">Descartar</span>
      <span *ngIf="!invoiceForm.dirty">Volver</span>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="invoiceForm.dirty">
    <ion-button (click)="buttonSave()"  color="success" class="save-button">
      <ion-icon name="save"> </ion-icon>
      Guardar
    </ion-button>
  </ion-fab>
  <div style="height: 100px;">
  </div>
</ion-content>
