<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'INVOICE' | translate }}: {{invoiceForm.value.code||invoiceForm.value.number}}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="background: #2ad078;" (click)="buttonSave()"
      [hidden]="!invoiceForm.dirty">
        {{ 'SAVE' | translate }}
      </ion-button>
      <ion-button icon-only color="royal"
              (tap)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="invoice-content">
  <ion-row>
    <ion-col width-30>
        <ion-button class="clicked">
          <span class="state-label">Borrador</span>
        </ion-button>
    </ion-col>
    <ion-col width-30 *ngIf="invoiceForm.value.type=='out'">
      <ion-button
      [class.unclicked]="invoiceForm.value.state=='QUOTATION'"
      [class.clicked]="invoiceForm.value.state!='QUOTATION'">
        <span class="state-label">Impresa</span>
      </ion-button>
    </ion-col>
    <ion-col width-30 *ngIf="invoiceForm.value.type=='in'">
      <ion-button
      [class.unclicked]="invoiceForm.value.state=='QUOTATION'"
      [class.clicked]="invoiceForm.value.state!='QUOTATION'">
        <span class="state-label">Recebida</span>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <!-- <ion-item
    no-padding
     style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;border-right: 0px;">
      <h4 class="sumary-label">{{'TOTAL' | translate}}</h4>
      <h4 class="sumary-value draft"
      style="text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">
        $ {{invoiceForm.value.total|number:'1.0'}}
      </h4>
    </ion-item>
    <ion-item
    no-padding
     style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;border-right: 0px;">
      <h4 class="sumary-label">{{'IVA' | translate}}</h4>
      <h4 class="sumary-value negative"
      style="text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">
        $ {{invoiceForm.value.tax|number:'1.0-0'}}
      </h4>
    </ion-item> -->
    <ion-col width-20 class="sumary-label" no-padding >
      <h4 class="sumary-label">{{'TOTAL' | translate }}</h4>
    </ion-col>
    <ion-col width-30 class="sumary-label" no-padding >
      <h4 class="sumary-value draft"
      style="text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">
        $ {{invoiceForm.value.total|number:'1.0'}}
      </h4>
    </ion-col>
    <ion-col width-20 class="sumary-label" no-padding >
        <h4 class="sumary-label">{{'IVA' | translate }}</h4>
    </ion-col>
    <ion-col width-30 class="sumary-label" no-padding >
        <h4 class="sumary-value negative"
        style="text-align: center;margin-top: 1.0rem;margin-bottom: 1rem;">
          $ {{invoiceForm.value.tax|number:'1.0-0'}}
        </h4>
    </ion-col>
  </ion-row>
  <form class="sample-form validations-form" [formGroup]="invoiceForm" (ngSubmit)="onSubmit(invoiceForm.value)">
    <ion-row justify-content-center>
      <ion-item
      no-padding
      (click)="selectContact()"
       style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;border-right: 0px;">
        <h4 class="sumary-label" *ngIf="invoiceForm.value.type == 'out'">{{'CLIENT' | translate}}</h4>
        <h4 class="sumary-label" *ngIf="invoiceForm.value.type == 'in'">{{'SUPPLIER' | translate}}</h4>
        <h4 class="client-name">{{invoiceForm.value.contact && invoiceForm.value.contact.name || 'Selecionar'}}</h4>
      </ion-item>
      <ion-item
      no-padding
      (click)="editContact()"
       style="width: calc(50% - 0px);background-color: #fff;border: 1px solid #ddd;height: 50px;border-left: 0px;">
        <h4 class="sumary-label">{{'RUC' | translate}}</h4>
        <h4 class="client-name">{{invoiceForm.value.contact && invoiceForm.value.contact.document || 'Informar'}}</h4>
      </ion-item>
      <ion-item
       no-padding
       class="field-50">
        <ion-label>{{'Pago' | translate}}</ion-label>
        <ion-select formControlName="paymentCondition"
          cancelText="{{ 'CANCEL' | translate }}"
          okText="{{ 'OK' | translate }}">
          <ion-select-option value="Contado">Contado</ion-select-option>
          <ion-select-option value="Credito">Credito</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item no-padding class="item-content"
      class="field-50">
        <ion-label position="floating" class="sumary-label">{{'DATE' | translate }}</ion-label>
        <ion-datetime class="sale-date"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD/MM/YYYY"
          class="task-date"
          formControlName="date"
          [disabled]="invoiceForm.value.state!='QUOTATION'">
        </ion-datetime>
    </ion-item>
    </ion-row>
    <ion-row>
      <ion-col width-100 *ngIf="invoiceForm.value.state == 'QUOTATION'">
        <ion-button class="print-confirm" (click)="addItem()">Agregar Item</ion-button>
      </ion-col>
      <ion-col width-100 *ngIf="invoiceForm.value.type == 'out' && invoiceForm.value.state == 'QUOTATION'">
        <ion-button class="print-confirm" (click)="setNumber()">Imprimir Factura</ion-button>
      </ion-col>
      <ion-col width-100 *ngIf="invoiceForm.value.type == 'out' && invoiceForm.value.state != 'QUOTATION'">
        <ion-button class="print-confirm" (click)="setNumber()">ReImprimir Factura</ion-button>
      </ion-col>
      <ion-col *ngIf="invoiceForm.value.type == 'in' && invoiceForm.value.state == 'QUOTATION'" >
        <ion-button class="print-confirm" (click)="setNumber()">Confirmar Factura</ion-button>
      </ion-col>
    </ion-row>
    <ion-card class="list-card" *ngIf="invoiceForm.value.items.length">
    <ion-list no-lines >
      <h2 class="section-title">{{'Items de la Factura' | translate}}</h2>
      <ion-item-sliding  class="list-item" *ngFor="let item of invoiceForm.value.items" style="border-bottom: 1px solid blue;">
        <ion-item >
        <ion-row  class="content-row one-line" >
          <ion-col  width-70 class="item-content" style="white-space: normal;">
            <ion-row  class="product-name-row">
              <ion-col width-20 (click)="openItem(item)">
                {{item.product && item.product.code}}
              </ion-col>
              <ion-col (click)="editItemDescription(item)">
                {{item.product && item.product.name}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col  width-50 class="item-content price-tag" (click)="editItemPrice(item)" >
                <span class="price-label">Precio:</span> ${{item.price|number:'1.0'}}
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col  width-50 class="item-content">
                <h4 class="sumary-label">Subtotal</h4> ${{item.price*item.quantity|number:'1.0'}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col  width-30>
                <ion-button class="quantity-button" (click)="remItem(item)">-</ion-button>
              </ion-col>
              <ion-col (click)="editItemQuantity(item)"  width-40 class="item-content" style="text-align: center;top:4px;">
                {{item.quantity}}
              </ion-col>
              <ion-col  width-30>
                <ion-button class="quantity-button" (click)="sumItem(item)">+</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
        <ion-item-options>
          <ion-button icon-only color="primary" (click)="deleteItem(item)" *ngIf="invoiceForm.value.state!='QUOTATIONs'">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="goNextStep()" color="green">
      <ion-icon name="play" style="margin-left: 5px;">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
