<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'DISCOUNT'| translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="discountForm">
    <ion-row>
      <ion-item no-padding class="field-100">
        <h4 class="field-label">{{'AMOUNT_ORIGINAL' | translate}}</h4>
        <h4 class="field-value"
        style="color:blue">$ {{amount_original|number:'1.'+currency_precision}}</h4>
      </ion-item>
      <ion-item no-padding class="field-50">
        <ion-label position="floating">{{'DISCOUNT_PERCENT' | translate}}</ion-label>
        <ion-input type="number"
        (ngModelChange)="changedPercent()"
        #discount_percent
        formControlName="discount_percent"></ion-input>
      </ion-item>
      <ion-item no-padding class="field-50">
        <ion-label position="floating">{{'DISCOUNT_AMOUNT' | translate}}</ion-label>
        <ion-input type="number"
        #discount_amount
        (ngModelChange)="changedAmount()"
        formControlName="discount_amount"></ion-input>
      </ion-item>
      <ion-item no-padding class="field-100">
        <ion-label position="floating">{{'NEW_AMOUNT' | translate}}</ion-label>
        <ion-input type="number"
        #new_amount
        (ngModelChange)="changedNew()"
        formControlName="new_amount"></ion-input>
      </ion-item>
      <ion-item
      *ngIf="showProduct"
       no-padding
       class="field-100">
         <ion-label>{{'Agregar como Producto' | translate}}</ion-label>
         <ion-toggle formControlName="discountProduct"></ion-toggle>
      </ion-item>
    </ion-row>
  </form>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger">
      <ion-icon name="backspace" *ngIf="discountForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!discountForm.dirty"> </ion-icon>
      <span *ngIf="discountForm.dirty">Descartar</span>
      <span *ngIf="!discountForm.dirty">Volver</span>
    </ion-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="discountForm.dirty">
    <ion-button (click)="buttonSave()" color="success">
      <ion-icon name="save"> </ion-icon>
      Confirmar
    </ion-button>
  </ion-fab>
</ion-content>
