<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ASSET' | translate }}</ion-title>
    <ion-buttons end [hidden]="!projectForm.dirty">
      <button ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="project-content">
  <form class="sample-form validations-form" [formGroup]="projectForm"  (ngSubmit)="onSubmit(projectForm.value)">
    <section class="form-section">
      <ion-row>
        <ion-col width-100>
          <ion-label>{{'TYPE' | translate}}</ion-label>
          <ion-select formControlName="type"
          cancelText="{{ 'CANCEL' | translate }}"
          okText="{{ 'OK' | translate }}">
          <ion-option value="VEHICLE">Vehiculo</ion-option>
          <ion-option value="REAL_STATE">Inmueble</ion-option>
          <ion-option value="MACHINE">Maquinario</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
      <ion-item>
        <ion-label floating>{{'NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="projectForm.get('name').hasError(validation.type) && (projectForm.get('name').dirty || projectForm.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label floating>{{'CODE' | translate}}</ion-label>
        <ion-input type="text" formControlName="code"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'VALUE' | translate}}</ion-label>
        <ion-input type="number" formControlName="value"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating *ngIf="this.projectForm.value.type=='MACHINE'">{{'HORIMETER' | translate}}</ion-label>
        <ion-label floating *ngIf="this.projectForm.value.type=='VEHICLE'">{{'HODOMETER' | translate}}</ion-label>
        <ion-label floating *ngIf="this.projectForm.value.type=='REAL_STATE'">{{'AREA' | translate}}</ion-label>
        <ion-input type="number" formControlName="meter"></ion-input>
      </ion-item>

      <!-- <ion-card
      class="sumary-label"
      no-padding
      (click)="selectProject()"
      style="width: calc(50% - 20px);margin-bottom: 4%;margin-top: 1%;">
        <h4 class="sumary-label">{{'PROJECT' | translate}}</h4>
        <h4 class="client-name">{{projectForm.value.project && projectForm.value.project.name || 'Selecionar'}}</h4>
      </ion-card> -->
      <!-- <ion-item>
        <ion-label floating>{{'ATTRIBUTES' | translate}}</ion-label>
        <ion-input type="text" formControlName="attributes"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'EXPENSES' | translate}}</ion-label>
        <ion-input type="text" formControlName="expenses"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'CATEGORY' | translate}}</ion-label>
        <ion-input type="text" formControlName="category"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label floating>{{'NOTE' | translate}}</ion-label>
        <ion-textarea rows="7" formControlName="note"></ion-textarea>
      </ion-item>

    </section>

    <!--button ion-button full type="submit" [disabled]="!projectForm.valid">{{'SUBMIT' | translate}}</button-->
  </form>

</ion-content>
