<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sale-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CONFIG' | translate }}</ion-title>
    <!-- <ion-buttons slot="end" [hidden]="!configForm.dirty">
      <ion-button (click)="buttonSave()">
        {{ 'SAVE' | translate }}
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="config-content" style="background-color: #ddd">
  <form class="sample-form validations-form"
  [formGroup]="configForm"
  (ngSubmit)="onSubmit(configForm.value)">


  <ion-row class="ion-justify-content-center">
    <!-- <ion-item class="ion-no-padding" (click)="selectAccount()" class="field-50">
      <h4 class="field-label">{{'ACCOUNT' | translate }}</h4>
      <h4 class="field-value">{{configForm.value.account && configForm.value.account.name || 'SELECT'|translate}}</h4>
    </ion-item> -->

    <ion-item class="ion-no-padding" (click)="selectDefaultContact()" class="field-50">
      <h4 class="field-label">{{'DEFAULT_CONTACT' | translate }}</h4>
      <h4 class="field-value">{{configForm.value.default_contact && configForm.value.default_contact.name || 'SELECT'|translate}}</h4>
    </ion-item>

    <ion-item class="ion-no-padding" (click)="selectDefaultPayment()" class="field-50">
      <h4 class="field-label">{{'DEFAULT_PAYMENT' | translate }}</h4>
      <h4 class="field-value">{{configForm.value.default_payment && configForm.value.default_payment.name || 'SELECT'|translate}}</h4>
    </ion-item>

    <ion-item class="ion-no-padding" (click)="selectWarehouse()" class="field-50">
      <h4 class="field-label">{{'WAREHOUSE' | translate }}</h4>
      <h4 class="field-value">{{configForm.value.warehouse && configForm.value.warehouse.name || 'SELECT'|translate}}</h4>
    </ion-item>

    <ion-item class="ion-no-padding" (click)="selectCurrency()" class="field-50">
      <h4 class="field-label">{{'CURRENCY' | translate }}</h4>
      <h4 class="field-value">{{configForm.value.currency && configForm.value.currency.name || 'SELECT'|translate}}</h4>
    </ion-item>

    <!-- <ion-item class="ion-no-padding" (click)="selectContact()" class="field-50">
      <h4 class="field-label">{{'CONTACT' | translate }}</h4>
      <h4 class="field-value">{{configForm.value.contact && configForm.value.contact.name || 'SELECT'|translate}}</h4>
    </ion-item> -->

    <!-- <ion-item class="ion-no-padding" (click)="selectLaborProduct()" class="field-50">
      <h4 class="field-label">{{'LABOR_PRODUCT' | translate }}</h4>
      <h4 class="field-value">{{configForm.value.labor_product && configForm.value.labor_product.name || 'SELECT'|translate}}</h4>
    </ion-item>


    <ion-item class="ion-no-padding" (click)="selectTravelProduct()" class="field-50">
      <h4 class="field-label">{{'TRAVEL_PRODUCT' | translate }}</h4>
      <h4 class="field-value">{{configForm.value.travel_product && configForm.value.travel_product.name || 'SELECT'|translate}}</h4>
    </ion-item> -->

    <!-- <ion-item class="ion-no-padding" (click)="selectInputProduct()" class="field-50">
      <h4 class="field-label">{{'INPUT_PRODUCT' | translate }}</h4>
      <h4 class="field-value">{{configForm.value.input_product && configForm.value.input_product.name || 'SELECT'|translate}}</h4>
    </ion-item> -->

    <!-- <ion-item class="ion-no-padding field-50">
      <ion-label position="floating">{{'invoice_sequence' | translate}}</ion-label>
      <ion-input type="text" formControlName="invoice_sequence"></ion-input>
    </ion-item> -->
    <ion-item class="ion-no-padding" (click)="selectCash()" class="field-50">
      <div class="field-many2one">
        <h4 class="field-label">{{'CASH' | translate }}</h4>
        <h4 class="field-value">{{configForm.value.cash && configForm.value.cash.name || 'SELECT'|translate}}</h4>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding field-50">
      <ion-label position="floating">{{'PRODUCT_SEQUENCE' | translate}}</ion-label>
      <ion-input type="text" formControlName="product_sequence"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding field-50">
      <ion-label position="floating">{{'SALE_MARGIN' | translate}}</ion-label>
      <ion-input type="text" formControlName="sale_margin"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding field-50">
      <ion-label position="floating">{{'ROUND_FACTOR' | translate}}</ion-label>
      <ion-input type="text" formControlName="round_factor"></ion-input>
    </ion-item>

    <ion-col class="item-content">
      <ion-button class="print-invoice" (click)="configInvoicePrint()" style="width: 99%">Configurar Factura</ion-button>
    </ion-col>

    <ion-col class="item-content">
      <ion-button class="print-invoice" (click)="configTicketPrint()" style="width: 99%">Configurar Ticket</ion-button>
    </ion-col>

    <!-- <ion-item  class="field-100">
      <ion-label position="stacked">{{ 'SERVICE_NOTE' | translate }}</ion-label>
      <ion-textarea #clrequest formControlName="serviceNote"
        rows="3">
      </ion-textarea>
    </ion-item> -->
    <!--ion-col class="item-content">
      <ion-button class="print-invoice" (click)="setLegalName()" style="width: 99%">Definir Razon Social</ion-button>
    </ion-col-->
  </ion-row>
  <!-- <ion-card class="list-card" style="border-radius: 7px;width: 98%;margin-left: 3px;">
  <h2 class="section-title">{{'Usuarios' | translate}}</h2>
    <ion-item-sliding class="list-item" *ngFor="let user of configForm.value.users">
  <ion-item  (click)="editUser(user)" style="border: 1px solid #ddd;height: 50px;">
        <h4 style="font-size: 20px;text-align: center;width: 100%;">{{user.name}}</h4>

  </ion-item>
  <ion-item-options>
    <ion-item-option (click)="deleteUser(item)">
      {{ 'DELETE'| translate }}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
<ion-row style="border-radius: 7px;border: 1px solid blue; border-top-left-radius: 0px;border-top-right-radius: 0px;"
 (click)="addUser()">
  <a style="cursor: default;font-size:17px;margin-left: 32%;margin-top: 8px;margin-bottom: 8px;">
    Agregar Usuario
  </a>
</ion-row>
</ion-card> -->

  </form>
  <span>v1.1.14</span>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="discard()" color="danger">
      <ion-icon name="backspace" *ngIf="configForm.dirty"> </ion-icon>
      <ion-icon name="arrow-back" *ngIf="!configForm.dirty"> </ion-icon>
      <span *ngIf="configForm.dirty">{{ 'DISCARD'| translate }}</span>
      <span *ngIf="!configForm.dirty">{{ 'GO_BACK'| translate }}</span>
    </ion-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="configForm.dirty">
    <ion-button (click)="buttonSave()"  color="success">
      <ion-icon name="save"> </ion-icon>
      {{ 'SAVE'| translate }}
    </ion-button>
  </ion-fab>
  <div style="height: 100px;">
  </div>
</ion-content>
