<ion-header>
  <ion-toolbar  style="--ion-background-color: {{configForm.value.bg_color}};">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CONFIG' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="config-content" style="--ion-background-color: white">
  <canvas id="canvas" height=200 width=200 style="display:none"></canvas>
  <form class="sample-form validations-form"
  [formGroup]="configForm">
  <div id="pwa">
    <input type="file" id="pwaphoto" #pwaphoto accept="image/*" (change)="previewFile()" style="display: none;">
  </div>
  <ion-row style="background: white;">
    <img [src]="configForm.value.image || './assets/images/sem_foto.jpg'" id="imageSrc" style="height: 250px;display: block;margin-left: auto;margin-right: auto;" (click)="openPWAPhotoPicker()">
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-item class="ion-no-padding field-100">
      <ion-label position="floating">{{'NAME' | translate}}</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding field-100">
      <ion-label position="floating">{{'WhatsApp'}}</ion-label>
      <ion-input type="text" formControlName="whatsapp"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding field-100">
      <ion-label position="floating">{{'BACKGROUND_COLOR' | translate}}</ion-label>
      <ion-input type="text" formControlName="bg_color"></ion-input>
    </ion-item>
  </ion-row>

  <h1 style="margin-top: 11px;font-size: 15px;text-align: right;padding-right: 15px;">v0.0.12</h1>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="configForm.dirty">
    <ion-button (click)="buttonSave()"  color="success">
      <ion-icon name="save"> </ion-icon>
      {{ 'SAVE'| translate }}
    </ion-button>
  </ion-fab>
</ion-content>
