// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.state-header{
  margin-left: -5px;
  margin-top: -5px;
  height: 24px;
}
.list-card {
  width: 100%;
  --background: #fff;
  --ion-background-color: #fff;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0px;

  padding-bottom: 10px;
  padding-top: 10px;
}
.activity-img {

}
ion-title {
  padding-inline-start: 0px;
}
.activity-menu {
  padding-left: 20%;
  padding-right: 20%;
}
.subtitle {
  font-size:13px;
  margin-top:5px;
  margin-bottom:0px;
}
.activity-title {
  font-size:13px;
  margin-top:5px;
  margin-bottom:0px;
  text-align: center;
}
.activity-note {
  font-size:13px;
  margin-top:5px;
  margin-bottom:0px;
  text-align: left;
}
h4 {
   font-size: 16px;
}
ion-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
}
.field-50 {
  width: 50%;
  --ion-background-color: #fff;
  border: 1px solid #a4c1f5;
}
.field-100 {
   --ion-background-color: #fff;
   border: 1px solid #a4c1f5;
   width: 100%;
}
.field-33 {
   --ion-background-color: #fff;
   border: 1px solid #a4c1f5;
   width: 33%;
}
.item-native {
    padding-left: 0px;
}
h4.field-label {
  position: absolute;
  margin-left: 0px;
  font-size: 13px;
  margin-top: -10px;
  width: 100%;
  text-align: left;
}
h4.field-value {
  font-size: 15px;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 770px){
  .sc-ion-modal-md-h {
    --width: 95%;
    --height: 90%;
  }
}
.list-tag {
  text-align: center;
  // border-radius: 4px;
}
.state {
	background-color: green;
	-webkit-clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
	clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
	width: 100%;
	height: 95%;;
	color: white;
	font-weight: bold;
	font-size: 13px;
	display: flex;
}
.due {
	background-color: red;
  color: white;
}
.started {
	background-color: #e86464;
  color: white;
}
.scheduled {
	background-color: #6565ea;
	color: white;
}
.confirmed {
	color: black;
  background-color: #fffc8b;
}
.paid {
	color: black;
	background-color: #a6fe8b;
}
.cancel {
	color: black;
	background-color: #d1d9de;
}
.quotation {
	color: black;
	background-color: #7fc9ff;
}
.draft {
	color: black;
	background-color: #7fc9f0;
}
.scheduled {
	color: black;
	background-color: #877fff;
}

.arrow {
  -webkit-clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
  clip-path: polygon(80% 0%, 85% 50%, 80% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.arron {
  -webkit-clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
  clip-path: polygon(80% 0%, 85% 50%, 80% 100%, 0% 100%, 0% 50%, 0% 0%);
}

.clicked {
	background-color: #3880ff;
	width: 135%;
	height: 135%;
	color: white;
	font-weight: bold;
	font-size: 13px;
	display: flex;
}
.unclicked {
	background-color: #c3deff;
	width: 135%;
	height: 135%;
	color: black;
	font-weight: bold;
	font-size: 13px;
	display: flex;
}
 .state-label {
    margin-left: 10%;
}
.summary-50 {
    width: 50%;
    // background-color: #fff;
    // border: 1px solid #ddd;
}
.summary-100 {
    width: 100%;
}
ion-content {
    --ion-background-color: #ddd;
}

.field-50-datetime {
    margin-bottom: -22px;
}

.section-title
{
  font-size: 1.0rem;
  line-height: 1.0;
  letter-spacing: 1.1px;
  text-align: center;
  color: green;
  font-weight: 400;
  margin: 0px;
}

h3.schedule-month {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
h2.list-big-number
{
  font-size: 20px;
	text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.2em;
}

.residual-value {
  color: red;
  text-align: right;
  margin-right: 0.2em;
}
.item-name {
  margin-top: 0;
  margin-bottom: 0;
}
.item-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.menu-style {
  --background: white;
  --ion-background-color: white;
}
.internal-card {
    // margin-right: 1.5em;
    width: 95%;
    --background: #fff;
    --ion-background-color: #fff;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:0px;
}
ion-item-sliding, ion-item-sliding .item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // margin-right: -9px;
}
.product-name-row {
  font-size: 17px;
  margin-left: 5px;
  color: black;
}

.quantity-button {
  width: 100%;
  font-size: 20px;
  height: 30px;
}
// @media screen and (max-width: 600px){
//   .list-item {
//     margin-left: -20px;
//     width: 108%;
//   }
// }
.popover-item {
  margin-left: 5px;
}

.active-menu {
    --background: var(--ion-color-primary);
    --color: white;
}
.active-icon {
    --background: var(--ion-color-primary);
    --color: white;
    color: white;
}
.button-save {
  background: #2ad078;
}

.item-title-second {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5px;
  text-align: right;
  font-size: 14px;
}

ion-button {
  font-size:13px;
}
// @media screen and (max-width: 400px){
//   ion-button {
//     --padding-end:5px;
//     --padding-start:5px;
//     // font-size:12px;
//   }
// }
@media screen and (max-width: 360px){
  ion-button {
    --padding-end:3px;
    --padding-start:3px;
    font-size:12px;
  }
}
@media screen and (max-width: 335px){
  ion-button {
    --padding-end:3px;
    --padding-start:3px;
    font-size:10px;
  }
}
@media screen and (max-width: 300px){
  ion-button {
    --padding-end:0px;
    --padding-start:0px;
    font-size:10px;
  }
}
.next-button {
  // font-size: 12px;
  margin-left: -16px;
}
.discard-button {
  // font-size: 12px;
  margin-left: -5px;
}
.save-button {
  // font-size: 12px;
  margin-right: -5px;
}
.field-many2one {
  margin-top: 17px;
  margin-bottom: 48px;
}
.open-item-col {
  text-align: center;
  background: #3880ff;
  color: white;
  font-size: 29px;
}
.open-item-arrow {
  height: 100%;
  // text-align: center;
/* border: 1px solid black; */

}
.button-100 {
  width: 100%;
}

.currency-label {
  position: absolute;
  font-size: 13px;
  margin-top: -3px;
  margin-left: 10px;
}
.currency-value{
  text-align: center;
}
.label-floating.sc-ion-label-md-h, .label-stacked.sc-ion-label-md-h {
    margin-left: 0px;
    margin-bottom: 0;
}
ion-input {
    margin-left: 10px;
}
.modal-list-card {
    width: 96%;
    margin-left: 2%;
    --background: #fff;
    --ion-background-color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
}
ion-segment {
  background: white;
}
ion-segment-button {
  background: white;
}

.field-value-max {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
    position: absolute;
    text-align: left !important;
    width: 100%;
    text-align: center;
}
.report-list-value-green {
  color: green;
  font-size: 20px;
}
.report-list-value-red {
  color: red;
  font-size: 20px;
}

.report-50 {
  width: 50%;
  --ion-background-color: #fff;
  height: 50px;
  // border: 1px solid #a4c1f5;
}
.report-100 {
   --ion-background-color: #fff;
   // border: 1px solid #a4c1f5;
   height: 50px;
   width: 100%;
}

.red-background {
  background: red;
}
.green-background {
  background: green;
}
.yellow-background {
  background: yellow;
}
.clean-background {
  background: white;
}
.report-title {
  background: #1a73e8;
  color: white;
  font-weight: bold;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 40%;
  z-index: 10;
}
.modal-wrapper.sc-ion-modal-md {
  border-radius: 6px;
}

.help-name {
  white-space: pre-wrap;
}

.thumnails{
  overflow-x: scroll;
  overflow-y: hidden;
  .list-thumbnail{
    height: 100%;
    .img-thumb{
      display: inline-flex;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 3px;
      width: 200px;
      height: 100%;
    }
    .selected-img{
      border: 2px solid red;
    }
  }
}

@media (pointer: coarse) {
  .thumnails{
    overflow-x: scroll;
    overflow-y: hidden;
    .list-thumbnail{
      height: 100%;
      white-space: nowrap;
      .img-thumb{
        display: inline-flex;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 3px;
        width: 200px;
        height: 100%;
      }
      .selected-img{
        border: 2px solid red;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.center {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
}

.date-card {
  width: 100px;
  height: 17px;
  text-align: center;
  --background: #e3f5fe;
  --ion-background-color: #e3f5fe;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

h3.card-name {
  color: black;
  margin-left: 5px;
  font-size:16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3.activity-name {
  color: black;
  margin-left: 0px;
  font-size:16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.left-round {
  background: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.all-round {
  background: white;
  border-radius: 25px;
}

.area-card {
    min-height: 48px;
    width: 85%;
    --background: #fff;
    --ion-background-color: #fff;
    border-radius: 7px;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 3%;
    padding-bottom: 0px;
    padding-top: 8px;
}

.memo-card {
    min-height: 48px;
    width: 85%;
    --background: #dcf8c6;
    border-radius: 7px;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 13%;
    padding-bottom: 0px;
    padding-top: 8px;
}

// ion-segment-button {
//     background: #1a73e8;
// }
//
// .sc-ion-segment-md-h {
//     --background: none;
//     --background-checked: none;
//     --background-hover: rgba(var(--ion-color-primary-rgb,56,128,255),0.04);
//     --background-activated: rgba(var(--ion-color-primary-rgb,56,128,255),0.16);
//     --color: rgba(var(--ion-text-color-rgb,0,0,0),0.6);
//     --color-checked: #ffffff;
//     --color-checked-disabled: var(--color-checked);
//     --indicator-color: transparent;
// }
