// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.list-card {
  width: 100%;
}
.field-50 {
  width: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
}
.field-100 {
   background-color: #fff;
   border: 1px solid #ddd;
   width: 100%;
}
h4.field-label {
  position: absolute;
  font-size: 13px;
  margin-top: -10px;
}
h4.field-value {
  font-size: 20px;
  margin-top: 10px;
  position: absolute;
}
.sc-ion-modal-md-h {
  --width: 90%;
  --height: 90%;
}
