<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="{{ 'SEARCH_SALE' | translate}}"
      [(ngModel)]="searchTerm"
      #searchbar
      (ionChange)="searchItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only
              (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let item of sales" #slidingItem>
      <ion-item no-padding (click)="selectSale(item)">
        <ion-card class="list-card" no-padding button="true">
          <ion-row>
            <ion-col>
              <h3 class="item-name"><b>{{ item.contact_name || 'NOT_INFORMED' | translate }}</b></h3>
            </ion-col>
          </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding size="6">
          <h3 class="schedule-month" style="font-size:15px;margin-left: 5px">{{item.date|date: 'dd/MM/yyyy HH:mm:ss'}}</h3>
          <h3 style="font-size: 15px;font-weight: normal;margin-top:0;margin-bottom:0;">
            <span style="margin-left: 5px">{{item.code}}</span>
          </h3>
          <h3 class="item-title" style="font-size:15px;">{{item.payment_name | translate}}</h3>
        </ion-col>
        <ion-col no-padding size="6" align-self-center>
          <h2 *ngIf="item.total > 0" class="list-big-number" style="color: green;">$ {{item.total| number:'1.'+currency_precision}}</h2>
          <h2 *ngIf="item.total <= 0" class="list-big-number" style="color: red;">$ {{item.total| number:'1.'+currency_precision}}</h2>
          <h2 *ngIf="item.delivered > 0" class="list-big-number" style="color: red;"> {{item.delivered| number:'1.'+currency_precision}}</h2>
          <div *ngIf="item.residual != 0 && item.state!='CANCELED'" class="residual-value">
            $ {{ item.residual | number:'1.'+currency_precision }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col no-padding class="list-tag"
        [class.quotation]="item.state=='QUOTATION'"
        [class.confirmed]="item.state=='CONFIRMED'"
        [class.paid]="item.state=='PAID'"
        [class.cancel]="item.state=='CANCELED'">
            {{ item.state | translate }}
        </ion-col>
      </ion-row>
      <ion-row no-padding class="content-row one-line" *ngIf="item.note">
        <ion-col class="item-content" style="white-space: normal;">
          {{item.note}}
        </ion-col>
      </ion-row>
      </ion-card>

    </ion-item>
      <ion-item-options  side="end">
        <ion-item-option (click)="deleteSale(slidingItem, item)"
        *ngIf="item.state=='QUOTATION'">
          {{ 'DELETAR' | translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-row style="height:15px;">
  </ion-row>
  <ion-row *ngIf="!sales.length">
    <ion-col style="width:80%;margin-left:10%;margin-right:10%;margin-top: 0%;background: white;border-radius:10px;background: ">
      <ion-row>
        <ion-col>
          <h1>{{ 'NOT_FOUND_SALE' | translate }}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4>{{ 'CREATE_FIRST_SALE' | translate }}</h4>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createSale()" color="primary">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
