<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agro-tabs/area-list"></ion-back-button>
    </ion-buttons>
    <ion-title>
        Area: {{areaForm.value.name}}
    </ion-title>
    <ion-buttons slot="end" >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form class="sample-form validations-form"
  [formGroup]="areaForm"
  (ngSubmit)="onSubmit(areaForm.value)">
    <ion-row>
      <ion-item
      no-padding
      class="field-100">
      <ion-label position="floating">{{'NAME' | translate}}</ion-label>
      <ion-input #name type="text"
      formControlName="name"></ion-input>
    </ion-item>
    <ion-item no-padding class="field-50">
      <ion-label position="floating">{{'Area(ha)' | translate}}</ion-label>
      <ion-input #cost type="number" formControlName="surface"></ion-input>
    </ion-item>
    <ion-item no-padding (click)="selectCrop()" class="field-50">
      <div class="field-many2one">
        <h4 class="field-label">{{'Safra Actual' | translate}}</h4>
        <h4 class="field-value">
          {{areaForm.value.crop && areaForm.value.crop.name || 'Selecionar'}}
        </h4>
      </div>
    </ion-item>
    <ion-item
     no-padding
     class="field-100">
       <ion-label>{{'Area Propria' | translate}}</ion-label>
       <ion-toggle formControlName="own"></ion-toggle>
    </ion-item>
    <ion-item no-padding (click)="selectContact()"
    *ngIf="!areaForm.value.own"
    class="field-100">
      <div class="field-many2one">
        <h4 class="field-label">{{'Proprietario' | translate}}</h4>
        <h4 class="field-value">
          {{areaForm.value.contact && areaForm.value.contact.name || 'Selecionar'}}
        </h4>
      </div>
    </ion-item>
    <ion-item no-padding class="field-50" *ngIf="!areaForm.value.own">
      <ion-label position="floating">{{'Tipo de Arendamento' | translate}}</ion-label>
      <ion-select #type (ionChange)="getDefaultCategory()"
      formControlName="rentingType"
      cancelText="{{ 'CANCEL' | translate }}"
      okText="{{ 'OK' | translate }}"
      interface="popover">
        <ion-select-option value="fixedAmount">Valor Fixo</ion-select-option>
        <ion-select-option value="fixedWeight">Peso Fixo</ion-select-option>
        <ion-select-option value="percent">Porcentage</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding class="field-50" *ngIf="!areaForm.value.own">
      <ion-label position="floating"
      *ngIf="areaForm.value.rentingType == 'fixedAmount'">
      {{'Valor em $' | translate}}</ion-label>
      <ion-label position="floating"
      *ngIf="areaForm.value.rentingType == 'fixedWeight'">
      {{'Peso em Kg' | translate}}</ion-label>
      <ion-label position="floating"
      *ngIf="areaForm.value.rentingType == 'percent'">
      {{'Porcentage %' | translate}}</ion-label>
      <ion-input type="number" formControlName="rentingAmount"></ion-input>
    </ion-item>
    </ion-row>

    <ion-list no-lines>
      <ion-item-sliding class="list-item"
      *ngFor="let item of areaForm.value.moves.sort(this.formatService.compare)">
      <ion-item no-padding
      (click)="openItem(item)"
      style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card" style="border-radius: 5px;">
            <ion-row>
              <ion-col>
                <h3 class="item-name">
                  <b>{{ item.activity_name || 'No Informado'}}</b>
                </h3>
              </ion-col>
            </ion-row>
       <ion-row no-padding class="content-row one-line">
          <ion-col no-padding size="6">
            <!-- <h3 class="item-title" style="font-size:15px;font-weight: bold">{{item.area_name | translate}}</h3> -->
            <h3 class="schedule-month" style="font-size:15px;margin-left: 5px">
              {{item.dateStart|date: 'dd/MM/yyyy'}}
            </h3>
            <h3 class="schedule-month" style="font-size:15px;margin-left: 5px">
              {{item.dateEnd|date: 'dd/MM/yyyy'}}
            </h3>
          </ion-col>
          <ion-col no-padding size="6" align-self-center>
            <h2 *ngIf="item.progress < 100" class="list-big-number"
            style="color: red;">
              {{item.progress| number:'1.0'}}%
            </h2>
            <h2 *ngIf="item.progress == 100"
            class="list-big-number" style="color: green;">
            {{item.progress| number:'1.0'}}%
          </h2>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>

        <ion-item-options>
          <ion-item-option (click)="deleteAreaMove(item)"
          *ngIf="!item.fixed">
            Borrar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

<ion-row style="height:15px;">
</ion-row>
</form>

<!-- <ion-fab center bottom #fab>
<ion-fab-button><ion-icon name="add"></ion-icon></ion-button>
<ion-fab-list side="top">
<div style="background: #4CAF50;color: white;margin-top: -5px;">Entrada</div><button style="background: #4CAF50;color: white;margin-bottom: 5px;" ion-fab (click)="addIncome(fab)"><ion-icon name="arrow-round-down"></ion-icon></ion-button>
<div style="background: #FF5722;color: white;margin-top: -5px;">Salida</div><button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="addExpense(fab)"><ion-icon name="arrow-round-up"></ion-icon></ion-button>
<div style="background: #FF5722;color: white;margin-top: -5px;">Transferencia</div><button style="background: #FF5722;color: white;margin-bottom: 5px;" ion-fab (click)="addTransfer(fab)"><ion-icon name="arrow-round-up"></ion-icon></ion-button>
</ion-fab-list>
</ion-fab> -->
<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="add-product-button">
<ion-fab-button (click)="addActivity()">
  <ion-icon name="add">
  </ion-icon>
</ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-button (click)="discard()" color="danger">
    <ion-icon name="backspace" *ngIf="areaForm.dirty"> </ion-icon>
    <ion-icon name="arrow-back" *ngIf="!areaForm.dirty"> </ion-icon>
    <span *ngIf="areaForm.dirty">Descartar</span>
    <span *ngIf="!areaForm.dirty">Volver</span>
  </ion-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="areaForm.dirty">
  <ion-button (click)="buttonSave()"  color="success">
    <ion-icon name="save"> </ion-icon>
    Guardar
  </ion-button>
</ion-fab>

<div style="height: 100px">
</div>
</ion-content>
