
<ion-header>
  <ion-toolbar *ngIf="showSearch" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="changeSearch()" color="primary">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-searchbar
  placeholder="Buscar Area"
  [(ngModel)]="searchTerm"
  #searchBar
  (ionChange)="setFilteredItems()">
  </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="!showSearch" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agro-tabs/area-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{areaForm.value.name}}
      <h1 class="subtitle" *ngIf="areaForm.value.lastRain && diffDays  > 1">
        Ultima chuva {{areaForm.value.lastRain}}mm a {{ diffDays }} dias
        <!-- Ultima chuva 15mm a 6 dias -->
      </h1>
      <h1 class="subtitle" *ngIf="areaForm.value.lastRain && diffDays == 1">
        Ultima chuva {{areaForm.value.lastRain}}mm a {{ diffDays }} dia
        <!-- Ultima chuva 15mm a 6 dias -->
      </h1>
      <h1 class="subtitle" *ngIf="areaForm.value.lastRain && !diffDays">
        Ultima chuva {{areaForm.value.lastRain}}mm hoje
        <!-- Ultima chuva 15mm a 6 dias -->
      </h1>
      <h1 class="subtitle" *ngIf="!areaForm.value.lastRain">
        Sem dados de Chuvas
      </h1>
    </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="showEdit()">
        <ion-icon name="videocam"></ion-icon>
      </ion-button> -->
      <!-- <ion-button  (click)="showEdit()">
        <ion-icon name="more"></ion-icon>
      </ion-button> -->
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content" #content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-card class="date-card">
      {{today|date: 'dd/MM/yyyy'}}
    </ion-card>
  <form class="sample-form validations-form"
  [formGroup]="areaForm"
  (ngSubmit)="onSubmit(areaForm.value)">
    <ion-row *ngIf="showForm">
      <ion-item
      no-padding
      class="field-100">
      <ion-label position="floating">{{'NAME' | translate}}</ion-label>
      <ion-input #name type="text"
      formControlName="name"></ion-input>
    </ion-item>
    <ion-item no-padding class="field-50">
      <ion-label position="floating">{{'Area(ha)' | translate}}</ion-label>
      <ion-input #cost type="number" formControlName="surface"></ion-input>
    </ion-item>
    <ion-item no-padding (click)="selectCrop()" class="field-50">
      <div class="field-many2one">
        <h4 class="field-label">{{'Safra Actual' | translate}}</h4>
        <h4 class="field-value">
          {{areaForm.value.crop && areaForm.value.crop.name || 'Selecionar'}}
        </h4>
      </div>
    </ion-item>
    <ion-item
     no-padding
     class="field-100">
       <ion-label>{{'Area Propria' | translate}}</ion-label>
       <ion-toggle formControlName="own"></ion-toggle>
    </ion-item>
    <ion-item no-padding (click)="selectContact()"
    *ngIf="!areaForm.value.own"
    class="field-100">
      <div class="field-many2one">
        <h4 class="field-label">{{'Proprietario' | translate}}</h4>
        <h4 class="field-value">
          {{areaForm.value.contact && areaForm.value.contact.name || 'Selecionar'}}
        </h4>
      </div>
    </ion-item>
    <ion-item no-padding class="field-50" *ngIf="!areaForm.value.own">
      <ion-label position="floating">{{'Tipo de Arendamento' | translate}}</ion-label>
      <ion-select #type (ionChange)="getDefaultCategory()"
      formControlName="rentingType"
      cancelText="{{ 'CANCEL' | translate }}"
      okText="{{ 'OK' | translate }}"
      interface="popover">
        <ion-select-option value="fixedAmount">Valor Fixo</ion-select-option>
        <ion-select-option value="fixedWeight">Peso Fixo</ion-select-option>
        <ion-select-option value="percent">Porcentage</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding class="field-50" *ngIf="!areaForm.value.own">
      <ion-label position="floating"
      *ngIf="areaForm.value.rentingType == 'fixedAmount'">
      {{'Valor em $' | translate}}</ion-label>
      <ion-label position="floating"
      *ngIf="areaForm.value.rentingType == 'fixedWeight'">
      {{'Peso em Kg' | translate}}</ion-label>
      <ion-label position="floating"
      *ngIf="areaForm.value.rentingType == 'percent'">
      {{'Porcentage %' | translate}}</ion-label>
      <ion-input type="number" formControlName="rentingAmount"></ion-input>
    </ion-item>
    <ion-button class="button-100" color="success" (click)="buttonSave()">Guardar</ion-button>
    </ion-row>

    <ion-list no-lines style="overflow: auto;display: flex;flex-direction: column-reverse;">
      <ion-item-sliding class="list-item"
      *ngFor="let item of areaForm.value.moves.sort(this.formatService.compare)">
      <ion-item no-padding
      (click)="openItem(item)"
      style="margin-bottom: 0px; margin-top:0px;--border-color: #dddddd;">
        <ion-card [class.area-card]="item.activity_name!='Memo'" [class.memo-card]="item.activity_name=='Memo'">
            <ion-row no-padding>
              <ion-col size="2">
                <ion-img [src]="'./assets/icons/'+item.activity_id+'.png'" class="activity-img"></ion-img>
              </ion-col>
              <ion-col size="8" no-padding>
                <h3 class="activity-name">
                  {{ item.activity_name || 'No Informado'}}
                </h3>
                <!-- {{ itemSumary(item) }} -->
                <div [innerHTML]="item.summary"></div>
                <h1 class="activity-note">
                  {{item.note}}
                </h1>
              </ion-col>
              <ion-col>
                <h3 class="schedule-month" style="font-size:12px;margin-left: 5px">
                  {{item.date|date: 'HH:mm'}}
                </h3>
              </ion-col>
            </ion-row>
       <ion-row no-padding class="content-row one-line">
          <ion-col no-padding size="6">
            <!-- <h3 class="item-title" style="font-size:15px;font-weight: bold">{{item.area_name | translate}}</h3> -->
            <!-- <h3 class="schedule-month" style="font-size:10px;margin-left: 5px">
              {{item.date|date: 'HH:mm'}}
            </h3> -->
            <!-- <h3 class="schedule-month" style="font-size:15px;margin-left: 5px">
              {{item.dateEnd|date: 'dd/MM/yyyy'}}
            </h3> -->
          </ion-col>
          <ion-col no-padding size="6" align-self-center>
            <!-- <h2 *ngIf="item.progress < 100" class="list-big-number"
            style="color: red;">
              {{item.progress| number:'1.0'}}%
            </h2>
            <h2 *ngIf="item.progress == 100"
            class="list-big-number" style="color: green;">
            {{item.progress| number:'1.0'}}%
          </h2> -->
          <!-- <h3 class="schedule-month" style="font-size:12px;margin-left: 5px">
            {{item.date|date: 'HH:mm'}}
          </h3> -->
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>

        <ion-item-options>
          <ion-item-option (click)="deleteAreaMove(item)"
          *ngIf="!item.fixed">
            Borrar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

<ion-row style="height:15px;">
</ion-row>
</form>

<ion-fab vertical="bottom" style="left: 0px;right:0px;bottom: 0px;background: #dddddd;" horizontal="start" slot="fixed">
  <ion-row style="padding-bottom:5px;padding-top: 5px;">
    <ion-col [class.left-round]="!areaForm.value.note"
    [class.all-round]="areaForm.value.note">
      <ion-textarea #note [(ngModel)]="areaForm.value.note"
      placeholder="Escrever Anotação" style="--padding-top: 11px;"
        rows="1">
      </ion-textarea>
    </ion-col>
    <ion-col size="3" *ngIf="!areaForm.value.note" style="background: white;border-top-right-radius: 25px;    border-bottom-right-radius: 25px;">
        <!-- <ion-icon name="attach" (click)="showButtons()"
        style="font-size: 26px;color: gray;transform: rotate(0.38turn);margin-right: 9px;"></ion-icon> -->
        <ion-icon name="camera" (click)="getPicture()"
        style="font-size: 26px;margin-top: 7px;color: gray;margin-right: 9px;"></ion-icon>
        <ion-icon name="add" *ngIf="!showBotom" (click)="addButton()"
        style="font-size: 26px;color: gray;padding-left: 9px;"></ion-icon>
        <ion-icon name="close" *ngIf="showBotom" (click)="addButton()"
        style="font-size: 26px;color: gray;padding-left: 9px;">
        </ion-icon>

    </ion-col>
    <ion-col size="2" *ngIf="isCordova">
      <ion-fab-button *ngIf="!areaForm.value.note"
      style="width:40px;height:40px;margin-left: 5px;">
        <ion-icon name="mic" (click)="listenRequest()">
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="areaForm.value.note" (click)="sendButton()"
      style="width:40px;height:40px;margin-left: 5px;">
        <ion-icon name="send" style="font-size: 22px;margin-left: 3px;">
        </ion-icon>
      </ion-fab-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showBotom" style="background: white;padding-bottom:5px;">
    <ion-col size="4" (click)="addActivity('activity.plant')">
      <ion-img [src]="'./assets/icons/activity.plant.png'" class="activity-menu"></ion-img>
      <h1 class="activity-title">
        Plantio
      </h1>
    </ion-col>
    <ion-col size="4" (click)="addActivity('activity.spray')">
      <ion-img [src]="'./assets/icons/activity.spray.png'" class="activity-menu"></ion-img>
      <h1 class="activity-title">
        Pulverização
      </h1>
    </ion-col>
    <ion-col size="4" (click)="addActivity('activity.work')">
      <ion-img [src]="'./assets/icons/activity.work.png'" class="activity-menu"></ion-img>
      <h1 class="activity-title">
        Trabajo
      </h1>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showBotom" style="background: white;padding-bottom:5px;">
    <ion-col size="4" (click)="addActivity('activity.harvest')">
      <ion-img [src]="'./assets/icons/activity.harvest.png'" class="activity-menu"></ion-img>
      <h1 class="activity-title">
        Colheita
      </h1>
    </ion-col>
    <ion-col size="4" (click)="addActivity('activity.rain')">
      <ion-img [src]="'./assets/icons/activity.rain.png'" class="activity-menu"></ion-img>
      <h1 class="activity-title">
        Chuva
      </h1>
    </ion-col>
    <ion-col size="4" (click)="addActivity('activity.anotation')">
      <ion-img [src]="'./assets/icons/activity.anotation.png'" class="activity-menu"></ion-img>
      <h1 class="activity-title">
        Anotação
      </h1>
    </ion-col>
  </ion-row>
</ion-fab>


<ion-footer *ngIf="showBotom" style="height:250px;">
  <!-- <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar> -->
</ion-footer>
<ion-footer *ngIf="!showBotom" style="height:50px;">
  <!-- <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar> -->
</ion-footer>
</ion-content>
