<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
    placeholder="Buscar Area"
    [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only
        (click)="showFilter()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of areas">
      <ion-item no-padding (click)="selectArea(item)"
      style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card">
          <!-- <ion-row no-padding class="content-row one-line" style="margin-left:0.3em">
            <h3 class="item-title"><b>{{ item.name }}</b></h3>
          </ion-row> -->
          <ion-row>
            <ion-col>
              <h3 class="item-name"><b>{{ item.name}}</b></h3>
            </ion-col>
          </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding size="6">
          <h3 class="schedule-month" style="font-size:15px;margin-left: 5px">{{item.crop_name | translate}}</h3>
        </ion-col>
        <ion-col no-padding size="6" align-self-center>
          <h2 class="list-big-number" style="color: green;">{{item.surface| number:'1.0'}} ha</h2>
        </ion-col>
      </ion-row>
        </ion-card>
      </ion-item>
      <ion-item-options>
        <ion-button icon-only color="primary" (click)="deleteArea(item)" *ngIf="item.balance==0">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-row style="height:15px;">
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createArea()">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
