<ion-header>
  <ion-toolbar *ngIf="showSearch" style="--background: #b8c9ff">
    <ion-buttons slot="start">
      <ion-button (click)="changeSearch()" color="primary">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-searchbar
  [placeholder]="'SEARCH_AREA'|translate"
  [(ngModel)]="searchTerm"
  #searchBar
  (ionChange)="setFilteredItems()">
  </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="!showSearch" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding-inline-start: 10px;">AgroMemo - {{'PLACES'|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button  (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-segment [(ngModel)]="section" scrollable="true" style="--color-checked: #ffffff;">
    <ion-segment-button value="moves" style="color: white;--background-activated: red;">
      Areas
    </ion-segment-button>
    <ion-segment-button value="waiting" style="color: white;--background-activated: red;">
      Maquinas
    </ion-segment-button>
  </ion-segment> -->
</ion-header>

<ion-content class="list-mini-content">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of areas">
      <ion-item no-padding (click)="selectArea(item)"
      style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card">
          <ion-row>
            <ion-thumbnail style="--border-radius:10px;">
              <img [src]="'data:image/png;base64,'+item._attachments['avatar.png'].data" *ngIf="item._attachments && item._attachments['avatar.png']">
              <img src="./assets/icons/field.jpg" *ngIf="!(item._attachments && item._attachments['avatar.png'])">
            </ion-thumbnail>
            <ion-col>
              <ion-row>
                <ion-col size="8.5" no-padding>
                  <h3 class="item-name"><b>{{ item.name}}</b></h3>
                </ion-col>
                <ion-col size="3.5" no-padding>
                  <h3 *ngIf="isToday(item.lastDate)" class="item-title-second">{{ item.lastDate | date: 'HH:mm'}}</h3>
                  <h3 *ngIf="!isToday(item.lastDate)" class="item-title-second">{{ item.lastDate | date: 'dd/MM/yyyy'}}</h3>
                </ion-col>
              </ion-row>
               <ion-row no-padding class="content-row one-line">
                  <ion-col no-padding size="12">
                    <!-- <h3 class="item-title" style="font-size:15px;margin-left: 5px">{{item.crop_name | translate}}</h3> -->
                    <!-- <h3 class="item-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size:15px;margin-left: 5px">{{item.lastActivity | translate}}</h3> -->
                    <div [innerHTML]="item.lastActivity" style="font-size:14px;"></div>
                  </ion-col>
                </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteArea(item)"
        *ngIf="!item.fixed">
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-row style="height:15px;">
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createArea()">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
