
.activity-category {
  background: #9ef789;
  margin-bottom:0px;
  margin-top:0px;
  padding-left:10%;
  font-size: 18px;
  text-align: center;
}

.activity-message {
  background: white;
  margin-bottom:0px;
  margin-top:0px;
  padding-left:10%;
  font-size: 23px;
  text-align: center;
  background: #bf0000;
  color: white;
}
