<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar Tarea"
      [(ngModel)]="searchTerm"
      (ionChange)="searchItems()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar *ngIf="showSearch" color="light">
    <ion-buttons slot="start">
      <ion-button (click)="changeSearch()" color="primary">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-searchbar
  placeholder="Buscar Tarea"
  [(ngModel)]="searchTerm"
  #searchBar
  (ionChange)="setFilteredItems()">
  </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar *ngIf="!showSearch" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agro-tabs/area-list"></ion-back-button>
    </ion-buttons>
    <ion-title>AgroMemo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button  (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let item of works" #slidingItem>
      <ion-item no-padding (click)="openWork(item)">
        <ion-card class="list-card" no-padding>
          <ion-row>
            <ion-col>
              <h3 class="item-name"><b>{{ item.activity_name || 'No Informado'}}</b></h3>
            </ion-col>
          </ion-row>
     <ion-row no-padding class="content-row one-line">
        <ion-col no-padding size="6">
          <h3 class="item-title" style="font-size:15px;font-weight: bold">{{item.area_name | translate}}</h3>
          <h3 class="schedule-month" style="font-size:15px;margin-left: 5px">{{item.dateStart|date: 'dd/MM/yyyy'}}</h3>
          <h3 class="schedule-month" style="font-size:15px;margin-left: 5px">{{item.dateEnd|date: 'dd/MM/yyyy'}}</h3>
        </ion-col>
        <ion-col no-padding size="6" align-self-center>
          <h2 *ngIf="item.progress < 100" class="list-big-number" style="color: red;">{{item.progress| number:'1.0'}}%</h2>
          <h2 *ngIf="item.progress == 100" class="list-big-number" style="color: green;">{{item.progress| number:'1.0'}}%</h2>
        </ion-col>
      </ion-row>
      <ion-row no-padding *ngIf="item.note">
        <ion-col class="item-content" style="white-space: normal;">
          {{item.note}}
        </ion-col>
      </ion-row>
      </ion-card>

    </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteWork(item)">
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createWork()" color="primary">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
