<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Buscar Moneda"
    [(ngModel)]="searchTerm"
    #searchBar
    (ionChange)="searchItems()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of currencyList">
      <ion-item no-padding>
        <ion-card class="list-card">
          <ion-row no-padding style="height: 70px;">
            <ion-col no-padding class="currency" (click)="selectCurrency(item)">
              <ion-row>
                <ion-col no-padding>
                  <h3 class="item-title" style="white-space:normal"><b>{{ item.name }}</b></h3>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h4 class="currency-label">{{'Tasa de Cambio' | translate}}</h4>
                  <h4 class="currency-value">{{item.exchange_rate}}</h4>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="2" class="open-item-col" *ngIf="select" (click)="openCurrency(item)">
              <ion-icon name="open" class="open-item-arrow"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteCurrency(item)"
        *ngIf="!item.fixed">
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createCurrency()" color="primary">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
