<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Buscar Insumos"
      [(ngModel)]="searchTerm"
      (ionChange)="setFilteredItems()">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button icon-only
        (click)="showFilter()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-mini-content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item-sliding class="list-item" *ngFor="let item of inputs">
      <ion-item no-padding (click)="selectInput(item)" style="margin-bottom: 0px; margin-top:0px;">
        <ion-card class="list-card">

      <ion-row>
        <ion-col>
          <h3 class="item-name"><b>{{ item.name || 'No Informado'}}</b></h3>
        </ion-col>
      </ion-row>
 <ion-row no-padding class="content-row one-line">
    <ion-col no-padding size="6">
      <h3 class="schedule-month" style="font-size:15px;margin-left: 5px">{{item.type}}</h3>
    </ion-col>
    <ion-col no-padding size="6" align-self-center>
    </ion-col>
  </ion-row>
      </ion-card>

    </ion-item>
      <ion-item-options>
        <ion-item-option (click)="deleteInput(item)"
        *ngIf="!item.fixed">
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-row style="height:15px;">
  </ion-row>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="createInput()">
          <ion-icon name="add">
          </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
